* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



ul {
	list-style-type: none;
}

a {
	color: #b63b4d;
	text-decoration: none;
}

/** =======================
 * Contenedor Principal
 ===========================*/
h1 {
 	color: #FFF;
 	font-size: 24px;
 	font-weight: 400;
 	text-align: center;
 	margin-top: 80px;
 }

h1 a {
 	color: #c12c42;
 	font-size: 16px;
 }

.color-fondo{
	background: #e4e2e2;
	border-bottom: 1px solid #e4e2e2 !important;
}

.color-fondo-dos{
	background: #f4f4f4;
	border-bottom: 1px solid #f4f4f4 !important;
}

.enlace{
	padding: 13px 0px;
}

.enlace a{
	padding: 5px 0px;
}

.submenu img{
	padding: 15px;
}

.submenu h4{
	font-size: 19px;
	font-weight: 600;
	color: #000;
	padding: 15px 20px 0px;
}


 .accordion {
 	width: 100%;
 	max-width: 660px;
 	margin-left: 30px;
 	background: #FFF;
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
 	border-radius: 4px;
 }



.accordion .link {
	cursor: pointer;
	display: block;
	padding: 18px 18px 18px 7px;
	color: #000;
	font-size: 16px;
	font-weight: 700;
	border-bottom: 1px solid #000;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}


.accordion li:last-child .link {
	border-bottom: 0;
}

.accordion li i {
	position: absolute;
	top: 22px;
	left: 12px;
	font-size: 18px;
	color: #000;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.submenu p {
    font-size: 13px;
    line-height: 22px;
    color: #515151;
    padding: 13px 20px;

}

.left-accordion{
	padding-left: 74px;
}

.accordion li i.fa-chevron-down {
	right: 12px;
	left: auto;
	font-size: 16px;
}

.accordion li.open .link {
	color: #000;
}

.accordion li.open i {
	color: #f78000;
}
.accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.accordion li.default .submenu {display: block; margin-top: 12px;}
/**
 * Submenu
 -----------------------------*/
 .submenu {
 	display: none;
 	    -webkit-box-shadow: 0px 2px 8px 3px rgba(0,0,0,0.11);
-moz-box-shadow: 0px 2px 8px 3px rgba(0,0,0,0.11);
box-shadow: 0px 2px 8px 3px rgba(0,0,0,0.11);
    margin-top: 12px;

 }

 .sub-preguntas{
 	display: none;
 	background: #fff;
 	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0) !important;
-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0)!important;
box-shadow: 0px 0px 0px 0px rgba(0,0,0,0)!important;
    margin-top:  0px!important;

 }

 .submenu li {
 	border-bottom: 1px solid #4b4a5e;
 }

 .submenu a {
 	display: block;
 	text-decoration: none;
 	color: #f78000;
 	
 	font-size: 13px;
 	padding-left: 22px;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;
 }

 /*.submenu a:hover {
 	background: #b63b4d;
 	color: #FFF;
 }*/

@media only screen and (max-width: 992px) {
  .left-accordion{
	padding-left: 0px;
}

.accordion {
    width: 100%;
    max-width: 660px;
    margin-left: 1px;
    background: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.accordion-dos {
    width: 100%;
    max-width: 660px;
    margin-left: 5px!important;
    background: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

}
