/*#header{
	position: absolute;
	z-index: 9;
	width: 100%;
}*/

.modal-header {
    display: block;
}
.modal-header h4 {
    font-size: 16px;
}

.modal-body {
    padding: 0px 50px;
}

#IIT-signUpForm.IIT-signUpForm {
    display: contents;
    }
    
.btn-derecha{
    justify-content: flex-end;
}
body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
.responsive-img {
    width: 100%;
}

.reg-corr{
    padding-top: 200px;
}

.webinar-video{
    width: 69%;
    height: 600px;
    margin-right: 2%;
}

.webinar-video2{
    width: 100%;
    height: 600px;
}

.webinar-chat{
    height: 600px;
    width: 29%;
}

#display-message-section {
    min-height: 200px;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.system-msg {
    margin-right: 7em;
    margin-left: 1em;
    padding: 0.5em 0.5em 0.5em 1em;
    color: #656d78;
    font-size: .7rem;
}
.my-msg {
    margin-left: 4em;
    margin-right: 0.5em;
    padding: 0.5em 0.5em 0.5em 1em;
    border-radius: 5px;
    border-color: #206ED2;
    border-width: 0.5px;
    border-style: solid;
    animation-name: fadeIn;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.others-msg {
    margin-right:4em;
    margin-left: 0.5em;
    padding: 0.5em 0.5em 0.5em 1em;
    border-radius: 5px;
    border-color: grey;
    border-width: 0.5px;
    border-style: solid;
    background-color: #C2DBFB;
    /* animation */
    animation-name: fadeIn;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.my-username {
    font-size: .8em;
    color: #FF6B13;
}

.other-username {
    font-size: .8em;
    color: #206ED2;
}

.timestamp {
    color: #656d78;
    font-size: 0.6em;
}
.pdf-view{
    width: 100%;
    height: 100%;
}

.contador{
    font-size: 0.8rem;
    float: right;
}

p.error-es{
    margin-top: 150px;
    font-size: 20px!important;
    font-weight: bold;
    text-align: center;
}
p.error-en{
    font-size: 16px;
    text-align: center;
}

.flex-error{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row.error{
    display: block;
}

.mapa {
    width: 100%;
    min-height: 300px;
    padding-left: 10px;
    padding-right: 10px;
}

.arch-pdf {
    width: 100%;
    height: 600px;
    padding-left: 10px;
    padding-right: 10px;
}

.publicacion{
    padding-bottom: 15px;
}

.hitos-responsive{
    display: none!important;
}

.a-foot {
    font-size: 12px;
    color: #c0c0c0;
}

.btn-dis {
    font-size: .8rem;
}
.disclaimer {
    font-size: .7rem;
}
form.user .form-control-user {
    font-size: .8rem;
    border-radius: 10rem;
    padding: .6rem .6rem;
}

.dropdown-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #eaecf4;
  }

.alt-divider {
    height: 0;
    margin: 0 10rem;
    overflow: hidden;
    border-top: 5px solid #b4bde6;
}

.alt-divider2 {
    height: 0;
    overflow: hidden;
    border-top: 3px solid #b4bde6;
}

.collapse-header {
    margin: 0;
    white-space: nowrap;
    padding: .5rem 1.5rem;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.65rem;
    color: #b7b9cc;
  }

.dropdown.no-arrow .dropdown-toggle::after {
    display: none;
  }

.dropdown-item-lay {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #3a3b45 !important;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999999999999;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 0.85rem;
    color: #858796;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
  }
.dropdown-menu-right {
    right: auto;
    left: auto;
  }
.dropdown-menu.show {
    display: block;
  }
.responsive-img-asset{
    width: 80%;
}

p {
    text-align: justify;
}

.form-error{
    font-size: 0.7rem;
    color: #f10a0a;
    line-height: 1 !important;
    text-align: justify;
    font-style: italic;
}

.form-label{
    font-size: 12px;
    font-style: italic;
}

.name-user{
    font-size: 14px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0rem!important;
}
.container-login{
    padding-top: 50px;
}

.bg-login-image{
    background: url(../img/Activos-3.png);
    background-position:center;
    background-size:cover
}

.bg-password-image{
    background: url(../img/password.jpg);
    background-position:center;
    background-size:cover
}

.bg-register-image{
    background: url(../img/register.jpeg);
    background-position:center;
    background-size:cover
}
.sep {
    font-size: 140px;
    opacity: 0 ;
}
/*
.flag {
    margin-right: 9px;
}
*/
a {
    color: #f78000;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.img-medium{
    max-width: 90px;
    max-height: 100%;
    margin-right: 8px;
}

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 4%;
    color: #fff;
    text-align: center;
    opacity: .9;
}

.box {
    position: absolute;
    right: 0;
    bottom: 0;
    /*top: 100%;*/
    right: 7%;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 0%;
    margin-bottom: 0;
    margin-left: 15%;
}


.elemento {
    padding-left: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
}

.elemento h6 {
    color: #000;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    margin-top: 18px;
    padding: 11px 24px 0px 11px;
    background: #fff;

}


.elemento img {
    margin-right: 7px;
}


.bg-light {
    background-color: rgba(0, 0, 0, .8) !important;
}

.navbar ul li a {
    color: #fff;
}

@media(min-width: 600px) {
    .container.menu-dos .navbar.collapse-nav .logo-mbi {
        height: 80px;
    }

    #nav.collapse-nav {
        padding: 0;
        padding-left: 110px;
        transition: all 0.3s;
    }

    #nav.collapse-nav>* {
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .container.menu-dos .navbar.collapse-nav {
        height: 40px;
        top: 30px;
    }

    .container.menu-dos .navbar.collapse-nav ul.navbar-nav li a:first-child {
        height: 0;
        opacity: 0;
        transition: all 0.3s;
    }
}

.seccion {
    padding: 0px 0px;
}

.seccion-dos {
    padding: 0px 0px 100px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    text-align: center;
}

.nav-link {
    font-size: 13px;
}

/*Responsive antes .container {
    max-width: 1140px;
} ====================*/



@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 24px;
        padding-left: 24px;
    }
}

.nav-item {
    text-align: center;
    padding: 2px;
}

.menu-dos .nav-item {
    text-align: center;
    border-right: 1px solid #fff;
}

.menu-dos .nav-item:nth-child(5n+0) {
    text-align: center;
    border-right: 1px solid transparent;
}

.nav-link {
    display: block;
    padding: 0rem 0rem;
}
.container-login{
    padding-top: 80px;
}



/*SLIDER INDICATORS ====================*/

.carousel-indicators .active {
    background-color: #fff;
    border: 1px solid #fff;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: auto !important;
    top: 280px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: left;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 9%;
    list-style: none;
}

.carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 12px;
    height: 12px;
    border: 1px solid #FFF;
    margin-right: 24px;
    border-radius: 20px;
    margin-left: 3px;
    margin-top: 36px;
    text-indent: -999px;
    background-color: rgba(0, 0, 0, .0);
}

.fixed-top-2 {
    position: fixed;
    top: 65px;
    right: 0;
    left: 0;
    z-index: 1020;
}

.menu-dos .navbar {
    background-color: rgba(0, 0, 0, .0) !important;
    background-image: linear-gradient(to bottom, rgba(34, 34, 34, .8), rgba(34, 34, 34, .8) 100%, transparent 10%);
    padding: 0px;
}

.logo-mbi {
    transition: all 0.8s;
    padding-left: 240px;
    padding-right: 130px;
}

.atura-wealth {
    padding: 0px 0px 30px;

}


.menu-dos .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 25px;
    padding-left: 25px;
    line-height: 25px;
    font-weight: 300;
}

/*Parrafo contacto de heard ====================*/

.contacto {
    color: #fff;
    border-right: 1px solid #fff;
    font-weight: 300;
    font-size: 11px;
    padding-top: 2px;
    /*margin-top: 15px;*/
    padding-left: 210px;
    padding-right: 10px;
}

.direccion {
    color: #fff;
    font-size: 11px;
    font-weight: 300;
    padding-top: 2px;
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 380px;
}





.lista {
    padding: 0;
    margin: 0;
    height: 215px;
}

.titulo {
    display: inline-block;
    padding-right: 5px;
    padding-top: 80;
    font-size: 40px;
    text-shadow: 1px 0 #515151, 0 1px #515151, 1px 0 #515151, 0 1px #515151;
}

.parrafo-slider {
    font-size: 32px;
    font-weight: bold;
    color: #f78000;
    padding: 0px;
    margin: 0rem;
    text-align: center;
}
.parrafo-slider-2 {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    background-color: #3a3b45;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0rem;
    text-align: center;
}
.parrafo-cdb-1 {
    font-size: 20px;
    font-weight: bolder;
    color: #3a3b45;
    margin: 0rem;
    text-align: center;
}
.parrafo-cdb{
    text-align: center;
}

.cdb-slider-btn{
    background: #f78000;
    font-size: 20px;
    margin-top: 30px;
    color: #fff;
    padding: 8px 30px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    max-width: 400px;
}

.btn-2{
    background: #000;
}

.cdb-banner{
    top: 210px!important;
}

.titulo:nth-child(2n+0) {
    font-size: 30px;
}

.carousel-caption {
    position: absolute;
    right: 10%;
    top: 300px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
}

.carousel-home .carousel-caption{
    top: 180px;
}

/*SECCIÓN CONOCE NUESTRO SERVICIOS*/

.pink {
    /*background: pink;*/
}


.historia {
    padding: 70px 0px !important;
}



.box-qs p {
    font-size: 14px;
}




.green li {
    display: flex;
    flex-direction: column;
}

.green ul {
    width: 60%;
    float: right;
    margin-right: 95px;
}

.green a {
    text-align: center;
}

.btn-ir-servicios {
    float: left;
}



.conoce h2 {
    font-size: 14px;
    font-weight: 400;
}

.conoce h3 {
    font-size: 18px;
    font-weight: 400;
}
.conoce-2 h3 {
    font-size: 18px;
    font-weight: 400;
    padding-left: 15px;
}

.conoce p {
    font-size: 15px;
    line-height: 22px;
    color: #515151;
}

.conoce {
    padding: 20px 0px 20px;
    display: flex;
    justify-content: space-between;
}

.conoce-2 {
    padding: 20px 0px 10px;
    display: flex;
    justify-content: space-between;
}

.conoce-dos {
    padding: 0px 0px 100px;
    display: flex;
    justify-content: space-between;
}

.conoce-dos h2 {
    font-size: 14px;
    font-weight: 400;
}

.conoce-dos h3 {
    font-size: 18px;
    font-weight: 400;
}

.conoce-dos p {
    font-size: 15px;
    line-height: 22px;
    color: #515151;
}

.asset:nth-child(2n+0) {
    padding-left: 38px;
}

.caja {
    display: flex;
    justify-content: flex-end;
}

.contenedor {
    display: flex;
    justify-content: flex-end;
}



.nosotros h3 {
    font-size: 18px;
    font-weight: 400;
    padding-left: 33px;
}


.float {
    display: flex;
    justify-content: space-between;
}

.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.btn-ir-servicios {
    background: #000;
    font-size: 13px;

    margin-top: 30px;
    color: #fff;
    padding: 8px 30px;
    border-radius: 50px;
}

.btn-ir-servicios-absolute {
    background: #000;
    font-size: 13px;
    position: absolute;
    margin-top: 30px;
    color: #fff;
    padding: 8px 30px;
    border-radius: 50px;
}

.btn-ir-servicios-dos {
    background: #FF7D00;
    font-size: 13px;
    margin-top: 30px;
    color: #fff;
    padding: 8px 30px;
    border-radius: 50px;
}

a:hover {
    color: #FF7D00 !important;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

.green a:hover {
    color: #fff !important;
    text-decoration: none;
    background: #FF7D00;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.sombra {
    box-shadow: -1px -12px 14px 0px rgba(0, 0, 0, 0.08);
}

.padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

.bg-video {
    background-image: url(../img/video.png);
    background-size: cover;
    background-position: center center;
    padding: 290px 0;
}

.espacio {
    padding: 10px 0;

}

.flex {
    display: flex;
    align-items: center;
    bottom: 30px;
}

.gris {
    background: #f7f7f7;
    padding: 40px 0px;
}

.Wealth-dos {
    padding-top: 15px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}


.bg-corredor {
    background-image: url(../img/section.png);
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    height: 390px;
}

.corredor {

    color: #fff;
    padding-left: 110px;
}

.corredor img {
    padding-bottom: 20px;
}

.corredor h2 {
    font-size: 14px;
    font-weight: 400;
}

.corredor h3 {
    line-height: 38px;
    font-size: 32px;
    font-weight: 400;
}

.cliente {
    display: flex;
    justify-content: center;

}

.font-size-26{
    font-size: 26px;
}

.btn-hagase-cliente {
    background: #000;
    font-size: 13px;
    color: #fff;
    padding: 8px 50px;
    border-radius: 50px;
}

.Wealth {
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
}

.Wealth h2 {
    font-size: 14px;
    font-weight: 600;
}

.Wealth h3 {
    font-size: 19px;
    font-weight: 600;
}

.Wealth p {
    font-size: 15px;
    line-height: 22px;
    color: #515151;
}

.Wealth-dos h3 {
    font-size: 19px;
    font-weight: 600;
}



.Wealth-dos p {
    font-size: 15px;
    line-height: 22px;
    color: #515151;
}

.noticias h3 {
    font-size: 19px;
    font-weight: 400;
    padding: 21px 0px;
    padding-left: 25px;
    float: left;
}

.noticias img {
    float: left;
    margin-left: 12px;
}

.ver-noticias h3 {
    font-size: 2rem;
    font-weight: 400;
    padding: 5px;
    text-align: justify;
}

.ver-noticias img {
    max-width: 400px;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-right: 15px;
    float: left;
}

.asset img {
    float: left;
    margin-left: 0px;

}
.asset-2 img {
    display: none;
}



.space {
    display: flex;
    justify-content: space-around;
}

.modificacion {
    width: 275px;
    padding: 30px;
    margin-top: 30px;
    border-bottom: 4px solid #f78000;
    box-shadow: -1px 0px 21px 0px rgba(0, 0, 0, 0.18);
}

.modificacion h4 {
    font-weight: 900;
    line-height: 25px;
    font-size: 16px;
}


.modificacion p {
    line-height: 22px;
    font-size: 15px;
    color: #515151;
}

.boton-noticias {
    display: flex;
    justify-content: flex-end;
}

.pag-noticias .card-img-top{
    width:275px;
    height: 275px;
    margin-top: 30px;
}

.modificacion-2{
    width: 275px;
    padding: 30px;
    margin: 0 0 0 0;
    border-bottom: 4px solid #f78000;
    box-shadow: -1px 0px 21px 0px rgba(0, 0, 0, 0.18);
}
.modificacion-2 h4 {
    font-weight: 900;
    line-height: 25px;
    font-size: 16px;
}


.modificacion-2 p {
    line-height: 22px;
    font-size: 15px;
    color: #515151;
}

.btn-noticias {
    background: #000;
    font-size: 13px;
    margin-top: 30px;
    margin-right: 55px;
    color: #fff;
    padding: 8px 30px;
    border-radius: 50px;
}

.noticias {
    padding: 22px 0px;
}

.seccion-noticias {
    padding-bottom: 150px;
}

.seccion-ver-noticias {
    padding-bottom: 50px;
}
.seccion-clientes {
    padding: 50px 0px 100px;
}

.footer {
    background-image: url(../img/footer-asset.png);
    padding: 130px 0px 130px;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}


.logo-footer {
    text-align: center;
    position: absolute;
    bottom: 117px;

}

.color {
    color: #f78000;
}

.telefono {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.dir {
    font-size: 16px;
    font-weight: 400;
    margin-top: 13px;
    color: #fff;

}


.pie {
    padding: 8px 0px 0px;
    background: #000;
}

.pie p {
    font-size: 12px;
    color: #c0c0c0;
}



.pie img {
    float: left;
}

.implementado {
    margin-top: 8px;
    float: left;
}

.copy {
    margin-top: 8px;
}

.linkedin {
    padding-top: 6px;
    margin-right: 24px;
}

.box-bd {
    display: inline-flex;
    justify-content: flex-end;
}

.bd {
    margin-left: 15px;
    font-weight: 600;
    border-bottom: 1px solid #c0c0c0;
    margin-top: 6px;
}

.bd:nth-child(5n+0) {
    margin-left: 40px;
}



.logo-oculto {
    height: 80px;
}


/*.navbar .active{
    text-align: center;
    border-bottom: 3px solid orange;
    padding: 0px 2px;
}*/

.navbar-dark .navbar-toggler {
    color: white;
    border-color: rgba(0, 0, 0, .0);
}


.enlaces {
    color: #FF7D00;
    display: block;
    font-size: 14px;
    -webkit-text-decoration-line: underline;
    /* Safari */
    text-decoration-line: underline;
}

.color-moneda {
    color: #636572;
}

.responsive-table{
    overflow-x: auto
}

.table thead th {
    vertical-align: bottom;
    background: black;
    color: white;
    font-size: 12px;
    border-bottom: 2px solid #000;
}

.table td,
.table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid transparent;
}

.section-ocultar {
    padding: 36px 0px 0px;
}

.alturas {
    width: 100%;
}

.alturas-corr {
    width: 100%;
}
/*ASSET-MANGEMENT==============================*/



.header-asset {
    background-image: url(../img/management.png);
    width: 100%;
    padding: 200px 0px 200px;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.header-asset-EN {
    background-image: url(../img/nosotros-fondo.png);
    width: 100%;
    padding: 200px 0px 200px;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.header-mangement {
    background-image: url(../img/asset-mangement.png);
    width: 100%;
    padding: 200px 0px 200px;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.header-bolsa-dos {
    background-image: url(../img/corredoras.png);
    width: 100%;
    padding: 200px 0px 200px;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.header-bolsa {
    background-image: url(../img/Activos.png);
    width: 100%;
    padding: 200px 0px 200px;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.header-fondo-inversiones {
    background-image: url(../img/fondo-inversiones.png);
    width: 100%;
    padding: 200px 0px 60px;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.header-quienes-somos {
    background-image: url(../img/header-quienes-somos.png);
    width: 100%;
    padding: 200px 0px 200px;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.header-contacto {
    background-image: url(../img/Contactenos.jpg);
    width: 100%;
    padding: 200px 0px 200px;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.header-com-cliente {
    background-image: url(../img/Comunicaciion_cleintes.jpg);
    width: 100%;
    padding: 200px 0px 200px;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.header-legales {
    background-image: url(../img/legal.jpg);
    width: 100%;
    padding: 200px 0px 200px;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}


.hader-titulo h2 {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}

.hader-titulo h3 {
    font-size: 32px;
    font-weight: 400;
    color: #fff;
}


.menu-rastro {
    padding-bottom: 47px;
}

.menu-rastro ul {
    display: inline-flex;
    padding: 0;
}

.menu-rastro a {
    color: #fff;
}


.hader-titulo img {
    margin-bottom: 12px;
}




.nuestros-dos {
    padding: 80px 0px 20px;
}


.nuestros-dos h3 {
    padding: 10px 0px;
    font-size: 26px;
    font-weight: 400;
    font-weight: 600;
}

.nuestros-dos p {
    font-size: 15px;
    line-height: 22px;
    color: #515151;
}

.nuestros-dos h2 {
    padding: 10px 0px 15px;
    font-size: 19px;
    font-weight: 400;
}

.nuestros {
    padding: 100px 0px;
}

.nuestros h2 {
    padding: 10px 0px 15px;
    font-size: 19px;
    font-weight: 400;
}

.nuestros h3 {
    padding: 10px 0px;
    font-size: 26px;
    font-weight: 400;
    font-weight: 600;
}

.nuestros p {
    font-size: 15px;
    line-height: 22px;
    color: #515151;
}

strong {
    color: #000;
}

.menu-rastro li {
    list-style: none;
    padding-right: 5px;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
}

.active-pagina {
    border-bottom: 1px solid #fff;
}

.fondos {
    background-image: url(../img/nosotros-fondo.png);
    width: 100%;
    padding: 170px 0px;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 390px;
}

.nuestros-fondos {
    background-image: url(../img/nuestros_fondos.jpg);
    width: 100%;
    padding: 170px 0px;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 390px;
}



.fondos h2 {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}

.fondos h3 {
    font-size: 32px;
    font-weight: 400;
    color: #fff;
}


.fondos img {
    margin-bottom: 12px;
}

.padding-right {
    padding-right: 90px;
}

.padding-left {
    padding-left: 55px;
}

.servicios-acordion {
    padding: 50px 0px 125px;
}

.servicios-acordion-dos {
    padding: 60px 0px 125px;
}


.servicios-acordion p {
    font-size: 15px;
    line-height: 22px;
    color: #515151;
}

ol {
    padding-left: 25px;
    color: #f78000;
}

.nuestros li {
    font-size: 21px;
    font-family: 'Karla', sans-serif;
}

.lista-dos {
    color: #515151;
    font-size: 13px;

}

.active-color {
    color: #f78000;
}

.seccion-btn {
    display: flex;
    justify-content: flex-start;
}

/*ACORDION =====================================*/
.idioma {
    border-left: 1px solid #fff;
    padding: 0px 5px;
    margin-left: 8px;
    font-weight: bold;
}



.ejecutivo {
    padding: 0px 0px 10px;
}

.img-corredora{
    height: 100%;
}

.btn-link {
    font-weight: 600;
    font-size: 20px;
    color: #000;
    background-color: transparent;
}

.btn-link:hover {
    color: #f78000;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
}

.imagen {
    display: flex;
    justify-content: center;
}

.box-socio {
    width: 330px;
    padding: 35px;
    margin-top: 30px;
    height: 630px;
    box-shadow: -1px 0px 21px 0px rgba(0, 0, 0, 0.18);
}

.bs-meet{
    width: 330px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 630px;
}

.bs-meet h3 {
    text-align: center;
    padding: 5px;
    font-size: 1.4rem;
}

.box-socio h3 {
    text-align: center;
    padding: 15px 0px 0px;
}

.box-socio h2 {
    text-align: center;
    padding-bottom: 16px;

}

.box-socio p {}

.line-time {
    padding: 100px 0px;
    margin-bottom: 150px;
}

.roadmap.roadmap--orientation-auto .roadmap__navigation>:first-child a{
    background: #FF7D00;
    font-size: 13px;
    color: #fff;
    padding: 16px 16px;
    border-radius: 50px;
}

.roadmap.roadmap--orientation-auto .roadmap__navigation>:last-child a{
    background: #FF7D00;
    font-size: 13px;
    color: #fff;
    padding: 16px 16px;
    border-radius: 50px;
}

.roadmap.roadmap--orientation-auto .roadmap__navigation a{
    color: #fff !important;
}

.roadmap.roadmap--orientation-auto .roadmap__navigation>:first-child{
    left: -10px !important;
}
.roadmap.roadmap--orientation-auto .roadmap__navigation>:last-child{
    right: -10px !important;
}


.roadmap__events__event *{
    color: #000 !important;
}

.roadmap.roadmap--orientation-auto .roadmap__events__event:after, 
.roadmap.roadmap--orientation-auto .roadmap__events__event:before,
.roadmap.roadmap--orientation-auto .roadmap__events:after{
    background-color: #FF7D00 !important;
}

.titulo-hitos {
    padding: 60px 0px 40px;
}

.seccion-btn {
    display: flex;
    justify-content: flex-start;
}

.seccion-btn-pie {
    display: flex;
    justify-content: flex-start;
    margin-left: 38px;
}

.btn-ir-servicios-pie {
    background: #000;
    font-size: 13px;
    margin-top: 30px;
    color: #fff;
    padding: 8px 30px;
    border-radius: 50px;
    margin-right: 20px;
}

.botones-pies {
    padding-bottom: 90px;
}

.red ul {

    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.menu-aparece li {

    margin-right: 20px;

}


/*MEDIA QUERY =================================*/

@media only screen and (min-width: 1577px) {
    .section-ocultar {
        display: none;
    }

    .elemento {
        padding-left: 30px;
        margin-bottom: 20px;
        display: flex;
        justify-content: flex-end;
    }





}

@media only screen and (max-width: 1577px) {

/*    .box {
        display: none;
    }
*/
    .direccion {
        color: #fff;
        font-size: 11px;
        font-weight: 300;
        padding-top: 2px;
        margin-top: 15px;
        padding-left: 10px;
        padding-right: 118px;
    }

    .sep {
        font-size: 70px;
        opacity: 0 ;
    }

    .logo-mbi {
        padding-left: 110px;
        padding-right: 130px;

    }

    .contacto {
        color: #fff;
        border-right: 1px solid #fff;
        font-weight: 300;
        font-size: 11px;
        padding-top: 2px;
        /*margin-top: 15px;*/
        padding-left: 100px;
        padding-right: 10px;
    }



}


@media only screen and (max-width: 1385px) {


    .carousel-caption {
        position: absolute;
        right: 10%;
        bottom: 190px;
        left: 20%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: left;
    }

    .carousel-indicators {
        position: absolute;
        right: 0;
        top: 150px;
        left: 0;
        z-index: 15;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: left;
        padding-left: 0;
        margin-right: 15%;
        margin-left: 9%;
        list-style: none;
    }

    .logo-mbi {
        padding-left: 110px;
        padding-right: 130px;

    }

    .direccion {
        color: #fff;
        font-size: 11px;
        font-weight: 300;
        padding-top: 2px;
        margin-top: 15px;
        padding-left: 10px;
        padding-right: 118px;
    }

    .contacto {
        color: #fff;
        border-right: 1px solid #fff;
        font-weight: 300;
        font-size: 11px;
        padding-top: 2px;
        /*margin-top: 15px;*/
        padding-left: 100px;
        padding-right: 10px;
    }


}


@media only screen and (max-width: 1330px) {


    .carousel-caption {
        position: absolute;
        right: 10%;
        bottom: 190px;
        left: 20%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: left;
    }

    .logo-mbi {
        padding-left: 86px;
        padding-right: 130px;
    }

    .contacto {
        color: #fff;
        border-right: 1px solid #fff;
        font-weight: 300;
        font-size: 11px;
        padding-top: 2px;
        /*margin-top: 15px;*/
        padding-left: 70px;
        padding-right: 10px;
    }

    .direccion {
        color: #fff;
        font-size: 11px;
        font-weight: 300;
        padding-top: 2px;
        margin-top: 15px;
        padding-left: 10px;
        padding-right: 78px;
    }



}


@media only screen and (max-width: 1308px) {


    .carousel-caption {
        position: absolute;
        right: 10%;
        bottom: 190px;
        left: 20%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: left;
    }


    .box-socio {
        width: 300px;
        padding: 35px;
        margin-top: 30px;
        height: 670px;
        box-shadow: -1px 0px 21px 0px rgba(0, 0, 0, 0.18);
    }

    .bs-meet{
        width: 300px;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 670px;
    }

    .direccion {
        color: #fff;
        font-size: 11px;
        font-weight: 300;
        padding-top: 2px;
        margin-top: 15px;
        padding-left: 10px;
        padding-right: 78px;
    }


}


@media only screen and (max-width: 1271px) {
    .logo-mbi {
        padding-left: 86px;
        padding-right: 100px;
    }

    .sep {
        font-size: 50px;
        opacity: 0 ;
    }

    .alturas-corr {
        width: 120%;
    }
    .contacto {
        color: #fff;
        border-right: 1px solid #fff;
        font-weight: 300;
        font-size: 11px;
        padding-top: 2px;
        /*margin-top: 15px;*/
        padding-left: 60px;
        padding-right: 10px;
    }

    .direccion {
        color: #fff;
        font-size: 11px;
        font-weight: 300;
        padding-top: 2px;
        margin-top: 15px;
        padding-left: 10px;
        padding-right: 58px;
    }

    .menu-dos .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 25px;
        padding-left: 25px;
        line-height: 15px;
        font-weight: 300;
    }


}





@media only screen and (max-width: 1077px) {

    .box {
        display: none;
    }

    .carousel-caption {
        position: absolute;
        right: 10%;
        bottom: 90px;
        left: 20%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: left;
    }

    .carousel-indicators {
        position: absolute;
        right: 0;
        top: 280px;
        left: 0;
        z-index: 15;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: left;
        padding-left: 0;
        margin-right: 15%;
        margin-left: 9%;
        list-style: none;
    }

    .box-socio {
        width: 100%;
        padding: 35px;
        margin-top: 30px;
        height: 670px;
        box-shadow: -1px 0px 21px 0px rgba(0, 0, 0, 0.18);
    }

    .bs-meet{
        width: 100%px;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 670px;
    }


}

@media only screen and (max-width: 1031px) {
    .idioma {
        border-left: 1px solid transparent;
        padding: 0px 5px;
        font-weight: bold;
        margin-left: 8px;
    }

}

@media only screen and (max-width: 1005px) {

    .modificacion {
        box-shadow: -1px 0px 21px 0px rgba(0, 0, 0, 0.18);
        width: 227px;
        height: 303px;
        padding: 30px;
        margin-top: 30px;
        border-bottom: 4px solid #f78000;
    }

    .carousel-caption {
        position: absolute;
        right: 10%;
        bottom: 90px;
        left: 20%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: left;
    }

    .direccion {
        color: #fff;
        font-size: 11px;
        font-weight: 300;
        padding-top: 2px;
        margin-top: 15px;
        padding-left: 10px;
        padding-right: 6px;
    }


}

@media only screen and (max-width: 991px) {


    .menu-quienes-somos {
        display: none;
    }

    .alturas-corr {
        width: 150%;
        margin-left: -10%;
    }

    

    .btn-ir-servicios-tres {
        background: #FF7D00;
        font-size: 13px;

        color: #fff;
        padding: 8px 30px;
        border-radius: 50px;
    }

    .nuestros-dos {
        padding: 20px 0px 20px;
    }

    .conoce {
        padding: 20px 0px;
        display: flex;
        justify-content: space-between;
    }
    .reg-corr{
        padding-top: 150px;
    }
    .webinar-video{
        width: 100%;
        height: 550px;
        margin-right: 0%;
    }
    .webinar-video2{
        width: 100%;
        height: 550px;
    }
    .webinar-chat{
        margin-top: 15px;
        height: 200px;
        width: 100%;
    }

    .left-responsive {
        margin-left: 126px;
    }

    .box-socio {
        width: 100%;
        padding: 35px;
        margin-top: 30px;
        height: 630px;
        box-shadow: -1px 0px 21px 0px rgba(0, 0, 0, 0.18);
    }
    .bs-meet{
        width: 100%;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 630px;
    }

    .menu-dos {
        display: none;
    }

    .contacto {
        display: none;
    }

    .direccion {
        display: none;
    }

    .space {
        display: flex;
        justify-content: flex-start;
    }



    .header-asset {
        background-image: url(../img/management.png);
        width: 100%;
        padding: 135px 0px 100px;
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover;
    }

    .header-mangement {
        background-image: url(../img/asset-mangement.png);
        width: 100%;
        padding: 135px 0px 100px;
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover;
    }

    .header-bolsa {
        background-image: url(../img/fondo-bolsa.png);
        width: 100%;
        padding: 135px 0px 100px;
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover;
    }

    .header-fondo-inversiones {
        background-image: url(../img/fondo-inversiones.png);
        width: 100%;
        padding: 135px 0px 60px;
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover;
    }

    .header-quienes-somos {
        background-image: url(../img/header-quienes-somos.png);
        width: 100%;
        padding: 135px 0px 100px;
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover;
    }

    .direccion {
        color: #fff;
        font-size: 11px;
        font-weight: 300;
        padding-top: 2px;
        margin-top: 15px;
        padding-left: 10px;
        padding-right: 6px;
    }


}

@media only screen and (min-width: 992px) {


    .logo-oculto {
        display: none;
    }

    .menu-responsive {
        display: none;
    }




}




@media only screen and (max-width: 984px) {

    .menu-pc{
        display: none;
    }
    .hitos-pc{
        display: none!important;
    }
    .hitos-responsive{
        display: inherit!important;
    }
    .carousel-indicators {
        position: absolute;
        right: 0;
        top: 150px;
        left: 0;
        z-index: 15;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: left;
        padding-left: 0;
        margin-right: 15%;
        margin-left: 9%;
        list-style: none;
    }

    .carousel-caption {
        position: absolute;
        right: 10%;
        bottom: 60px;
        left: 20%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: left;
    }

    .ejecutivo {
        padding: 0px 44px 10px;

    }

    .container-corredores-de-bolsa .menu-rastro{
        top: 100px !important;
    }

    .asset:nth-child(2n+0) {
        padding: 15px;
    }

    .asset img {
        display: none;
    }
    .asset-2 img {
        display: block;
    }
    .Wealth {
        padding-top: 0px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
    }

    .corredor {
        padding-left: 20px;
    }

    .ver-noticias h3 {
        font-size: 1.5rem;
    }

    .arch-pdf {
        height: 350px;
        padding: 0px;
    }

    .pad-esp {
        padding: 0px!important;
    }

    .parrafo-slider {
        font-size: 20px;
    }
    .parrafo-slider-2 {
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .parrafo-cdb-1 {
        font-size: 14px;
    }
    .parrafo-cdb{
        text-align: center;
    }
    
    .cdb-slider-btn{
        font-size: 14px;
        margin-top: 10px;
        padding: 6px 20px;
        border-radius: 10px;
        max-width: 300px;
    }
    
    .cdb-banner{
        top: 150px!important;
    }

    .img-corredora{
        max-width: 100%;
    }
}



@media only screen and (max-width: 768px) {


    .alturas {
        width: 120%;
    }

    .titulo {
        font-size: 30px;
    }

    .responsive-img {
        width: 100%;
    }
    .responsive-img-asset{
        width: 80%;
    }

    .sep {
        font-size: 20px;
        opacity: 0 ;
    }

    .ejecutivo {
        padding: 0px 10px 10px;

    }

    p.error-es{
        margin-top: 50px;
        font-size: 18px!important;
        font-weight: bold;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    p.error-en{
        font-size: 14px;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    .padding-right {
        padding-right: 15px;
    }

    .padding-left {
        padding-left: 15px;
    }

    .modificacion {
        box-shadow: -1px 0px 21px 0px rgba(0, 0, 0, 0.18);
        width: 410px;
        height: 200px;
        padding: 30px;
        margin-top: 30px;
        border-bottom: 4px solid #f78000;
    }

    .carousel-caption {
        position: absolute;
        right: 10%;
        bottom: 14px;
        left: 20%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: left;
    }

    .header-asset {
        background-image: url(../img/management.png);
        width: 100%;
        padding: 90px 0px 100px;
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover;
    }

    .header-mangement {
        background-image: url(../img/asset-mangement.png);
        width: 100%;
        padding: 90px 0px 100px;
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover;
    }

    .header-bolsa {
        background-image: url(../img/Activos.png);
        width: 100%;
        padding: 90px 0px 100px;
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover;
    }

    .header-bolsa-dos {
        background-image: url(../img/corredoras.png);
        width: 100%;
        padding: 90px 0px 100px;
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover;
    }

    .header-fondo-inversiones {
        background-image: url(../img/fondo-inversiones.png);
        width: 100%;
        padding: 90px 0px 60px;
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover;
    }

    .header-quienes-somos {
        background-image: url(../img/header-quienes-somos.png);
        width: 100%;
        padding: 90px 0px 100px;
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover;
    }

    .ver-noticias img {
        max-width: 350px;
        padding-top: 20px;
        padding-bottom: 5px;
        padding-right: 15px;
        float: left;
    }


}

@media only screen and (max-width: 418px) {

    .ensconder {
        display: none;
    }

    .alturas-corr {
        width: 180%;
        margin-left: -25%;
    }

    .seccion-btn-pie {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }
    .reg-corr{
        padding-top: 100px;
    }
    .webinar-video{
        width: 100%;
        height: 400px;
        margin-left: 8px;
        margin-right: 8px;
    }

    .webinar-video2{
        width: 100%;
        height: 400px;
        margin-left: 8px;
        margin-right: 8px;
    }

    .webinar-chat{
        margin-top: 15px;
        height: 200px;
        width: 100%;
        margin-left: 8px;
        margin-right: 8px;
    }

    .alturas {
        width: 170%;
    }

    .lista {
        padding: 0;
        margin: 0;
        height: 155px;
    }

    .modificacion {
        box-shadow: -1px 0px 21px 0px rgba(0, 0, 0, 0.18);
        width: 320px;
        padding: 15px;
        margin-top: 30px;
        border-bottom: 4px solid #f78000;
    }

    .titulo {
        display: inline-block;
        padding-right: 5px;
        font-size: 20px;
    }


    .carousel-indicators {
        position: absolute;
        right: 0;
        left: 0;
        z-index: 15;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: left;
        padding-left: 0;
        margin-right: 15%;
        margin-left: 9%;
        list-style: none;
    }

    .ver-noticias img {
        max-width: 100%;
        padding-top: 20px;
        padding-bottom: 5px;
        padding-right: 0px;
        float: left;
    }
}


@media only screen and (max-width: 357px) {
    .menu-rastro {
        display: none;
    }

    .alturas-corr {
        width: 190%;
        margin-left: -30%;
    }

    .left-responsive {
        margin-left: 0px;
    }

}

.container-corredores-de-bolsa .menu-rastro {
    position: absolute;
    top: 200px;
    z-index: 1000;
}

.mbi-accordion-panel{
    -webkit-transition: max-height 0.4s ease-in-out, opacity 0.2s ease-in-out;
    -moz-transition: max-height 0.4s ease-in-out, opacity 0.2s ease-in-out;
    -o-transition: max-height 0.4s ease-in-out, opacity 0.2s ease-in-out;
    -ms-transition: max-height 0.4s ease-in-out, opacity 0.2s ease-in-out;
    transition: max-height 0.4s ease-in-out, opacity 0.2s ease-in-out;
    opacity: 0;
    display:none;
    max-height: 0;
    border: 1px solid #c0c0c0;
    border-bottom: 4px solid #f78000;
    padding: 20px;
}
.mbi-accordion-panel.open-accordion-panel{
    opacity: 1;
    max-height: 100%;
    display:block;
}

#contacto-floating{
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 99999999;
    background: #f78000;
    font-size: 13px;
    padding: 8px 20px;
    border-radius: 50px;
}
#contacto-floating a{
    color: #fff;
}
#contacto-floating a:hover{
    color: #fff !important;
}

#nav.fixed-top.collapse-nav.bg-light{ background-color: rgba(0, 0, 0, .8) !important; }
.navbar.fixed-top-2.bg-light.collapse-nav{ background-color:#111!important; }
@media only screen and (min-width: 1271px) {
.carousel-item{ max-height:700px!important;}
/*.box{ top:60%!important;}*/ 
}

/*
    MBIF
*/

.page-link{
    height: 19px;
    width: 12px;
    text-align: center;
    box-sizing: content-box;
    color:  #515151!important; 
    bottom: 75px;
    border: none;
    
} 

.page-link:hover{
    background: #f78000;
    border-radius: 50px !important;
    color:#fff !important;
}

.activado{
    background: #f78000;
    height: 19px;
    width: 12px;
    box-sizing: content-box;
    color:#fff !important;
    border-radius: 50px !important;
    margin: 0 5px;
}

.deshab{
    pointer-events: none;
}

.flecha1, .flecha2{
    color: #f78000 !important;
    
}

@media screen and (max-width:767px){
.pag-noticias .card-img-top{
    width: 100%;
}
.modificacion-2{
    width: 100%;
}
}
.f-socio{
    padding-bottom: 110px;
}

.f-socio h3{
    padding-top: 25px;
    padding-left: 20px;
    float: left;
}
.f-socio img{
    float: left;   
}

.row.socios-f{
    float: left;
}