{% extends "layout.html" %}
    {% block import %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/accordion.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    {% endblock import %}
    {% block menu2 %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/asset-management"><img src="{{ url_for('static', filename='img/head1-color.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/asset-management"><span class="active-color">Asset Management</span><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/wealth-management"><img src="{{ url_for('static', filename='img/head2.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/wealth-management">Wealth Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/corredores"><img src="{{ url_for('static', filename='img/head3.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/corredores">Corredores de Bolsa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/activos-alternativos"><img src="{{ url_for('static', filename='img/head4.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/activos-alternativos">Activos Alternativos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/quienes-somos"><img src="{{ url_for('static', filename='img/head5.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/quienes-somos">Quienes Sómos</a>
            </li>
        </ul>
    {% endblock menu2 %}
    <!--nav -->
    {% block header %}
        <div class="header-mangement hader-titulo">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="menu-rastro">
                            <ul>
                                <li><a href="/">Inicio</a></li>
                                <li>></li>
                                <li><span class="active-pagina">Asset Management</span></li>
                                <!--<li>></li>
                                <li><span class="active-pagina">Nuestro Servicio</span></li>-->
                            </ul>
                        </div>
                        <div class="icono-titulo">
                            <img src="{{ url_for('static', filename='img/asset_mangement.svg') }}" alt="icono">
                            <h2>Asset Management</h2>
                            <h3>Nuestros servicios</h3>
                        </div>
                    </div>
                    <div class="col-lg-8"></div>
                </div>
            </div>
        </div>
    {% endblock header %}
    {% block contenido %}
        <div class="nuestros">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-6 padding-left padding-right">
                        <img src="{{ url_for('static', filename='img/servicio01.jpg') }}"  alt="nuestro-servicios">
                        <article>
                            <h2>Nuestros <strong>servicios</strong></h2>
                            {% for d in data1 %}
                                {% if d.titulo == 'nuestros servicios' %}
                                    {{ d.contenido | safe }}
                                {% endif %}
                            {% endfor %}
                        </article>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <figure> 
                            <img class="ejecutivo responsive-img-asset" src="{{ url_for('static', filename='img/asset-man.jpg') }}" alt="ejecutivo">
                        </figure>
                    </div>
                    <div class="col-lg-12 padding-left">
                        <article>
                            <P><strong>DISTRIBUCIÓN CLIENTES PRIVADOS</strong></P>
                            {% for d in data1 %}
                                {% if d.titulo == 'distribucion clientes' %}
                                    {{ d.contenido | safe }}
                                {% endif %}
                            {% endfor %}
                        </article>
                        <article>
                            <P><strong>DISTRIBUCIÓN INSTITUCIONAL</strong></P>
                            {% for d in data1 %}
                                {% if d.titulo == 'distribucion institucional' %}
                                    {{ d.contenido | safe }}
                                {% endif %}
                            {% endfor %}
                        </article>
                    </div>
                </div>
            </div>
        </div>

        <div class="nuestros-fondos fondos" id='nuestros-fondos'>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="icono-titulo">
                            <img src="{{ url_for('static', filename='img/asset_mangement.svg') }}" alt="icono">
                            <h2>Asset Management</h2>
                            <h3>Nuestros fondos</h3>
                        </div>
                    </div>
                    <div class="col-lg-8"></div>
                </div>
            </div>
        </div>
        

        <div class="servicios-acordion nuestros">
            <div class="container">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-8">
                        <img src="{{ url_for('static', filename='img/nosotros-fondos.svg') }}" alt="icon">
                        <article>
                            <h2>Nuestros <strong>fondos</strong></h2>
                            {{ data2.contenido | safe }}
                        </article>
                    </div>
                    <div class="col-lg-3"></div>
                    <!--SECCION ACORDION -->
                    <div class="col-lg-8 left-accordion">
                    <!-- Contenedor -->
                    <ul id="accordion" class="accordion accordion-dos">
                        <!--<li  class="default open">-->
                        <li>
                            <div class="link">Acciones Chilenas<i class="fa fa-chevron-down"></i></div>
                            <ul class="submenu enlace">
                                {% if acc_cl %}
                                    {% for a in acc_cl %}
                                        <a href="/asset-management/{{a.ruta_web}}"> > {{ a.nombre_fondo | safe }}</a>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </li>
                        <li>
                            <div class="link">Acciones Internacionales<i class="fa fa-chevron-down"></i></div>
                            <ul class="submenu enlace">
                                {% if acc_int %}
                                    {% for a in acc_int %}
                                        <a href="/asset-management/{{a.ruta_web}}"> > {{ a.nombre_fondo | safe }}</a>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </li>
                        <li>
                            <div class="link">Deuda Nacional<i class="fa fa-chevron-down"></i></div>
                            <ul class="submenu enlace">
                                {% if deu_nac %}
                                    {% for a in deu_nac %}
                                        <a href="/asset-management/{{a.ruta_web}}"> > {{ a.nombre_fondo | safe }}</a>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </li>
                        <li>
                            <div class="link">Deuda Internacional<i class="fa fa-chevron-down"></i></div>
                            <ul class="submenu enlace">
                                {% if deu_int %}
                                    {% for a in deu_int %}
                                        <a href="/asset-management/{{a.ruta_web}}"> > {{ a.nombre_fondo | safe }}</a>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </li>
                        <li>
                            <div class="link">Otros<i class="fa fa-chevron-down"></i></div>
                            <ul class="submenu enlace">
                                {% if otros %}
                                    {% for a in otros %}
                                        <a href="/asset-management/{{a.ruta_web}}"> > {{ a.nombre_fondo | safe }}</a>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
        </div>
    {% endblock contenido %}
    {% block Jquery %}
        <script>
            $(function() {
                var Accordion = function(el, multiple) {
                    this.el = el || {};
                    this.multiple = multiple || false;
                    // Variables privadas
                    var links = this.el.find('.link');
                    // Evento
                    links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
                }
                Accordion.prototype.dropdown = function(e) {
                    var $el = e.data.el;
                    $this = $(this),
                    $next = $this.next();

                    $next.slideToggle();
                    $this.parent().toggleClass('open');

                    if (!e.data.multiple) {
                        $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
                    };
                }
                var accordion = new Accordion($('#accordion'), false);
            });
        </script>
        <script src="{{ url_for('static', filename='js/jquery-3.4.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    {% endblock Jquery%}