{% extends "layout.html" %}
    {% block import %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/accordion.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    {% endblock import %}

    {% block menu2 %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/asset-management"><img src="{{ url_for('static', filename='img/head1.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/asset-management">Asset Management<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/wealth-management"><img src="{{ url_for('static', filename='img/head2.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/wealth-management">Wealth Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/corredores"><img src="{{ url_for('static', filename='img/head3-color.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/corredores"><span class="active-color">Corredores de Bolsa</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/activos-alternativos"><img src="{{ url_for('static', filename='img/head4.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/activos-alternativos">Activos Alternativos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/quienes-somos"><img src="{{ url_for('static', filename='img/head5.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/quienes-somos">Quienes Sómos</a>
            </li>
        </ul>
    {% endblock menu2 %}
    {% block header %}
        <!--nav -->
        <div class="container-corredores-de-bolsa">
            <div class="container">
                <div class="menu-rastro">
                    <ul>
                    <li><a href="/">Inicio</a></li>
                    <li>></li>
                    <li><span class="active-pagina">Corredores de Bolsa</span></li>
                    <!--
                    <li>></li>
                    <li><span class="active-pagina">Nuestro Servicio</span></li>
                    -->
                    </ul>
                </div>
            </div>
        
            <!--slider -->
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="/register-corredora"><img class="d-block alturas-corr" src="{{ url_for('static', filename='img/banner-02.jpg') }}" alt="First slide"></a>
                    <!--
                    <div class="carousel-caption cdb-banner">
                        <p class="parrafo-cdb-1">EL MEJOR MOMENTO PARA INVERTIR CON</p>
                        <p class="parrafo-slider">BAJAS COMISIONES ES HOY</p>
                        <p class="parrafo-slider">ARMA TU PORTAFOLIO DE</p>
                        <div class="parrafo-cdb">
                            <P class="parrafo-slider-2">INVERSIONES Y APV</P>
                        </div>
                        
                        <P class="parrafo-cdb-1">CON NUESTRA AMPLITUD DE PRODUCTOS</P>
                        <div class="parrafo-cdb">
                            <a class="cdb-slider-btn" href="/contacto">CONTACTA A NUESTRO EQUIPO DE EXPERTOS</a>
                        </div>
                    </div>
                    -->
                </div>
                
                <div class="carousel-item">
                    <a href="/register-corredora"><img class="d-block alturas-corr" src="{{ url_for('static', filename='img/banner-01.jpg') }}" alt="Second slide"></a>
                    <!--
                    <div class="carousel-caption cdb-banner">
                        <p class="parrafo-cdb-1">Negocia de manera Simple y Confiable en el</p>
                        <p class="parrafo-slider">EXTRANJERO</p>
                        <p class="parrafo-cdb-1">Acciones, ETFs, Forex, Futuros, Opciones</p>
                        <p class="parrafo-slider">MAS DE 35.000 ACTIVOS A TU ALCANCE</p>
                        <div class="parrafo-cdb">
                            <a class="cdb-slider-btn btn-2" href="/register-corredora">CREA UNA CUENTA AHORA</a>
                        </div>
                        <p class="parrafo-cdb-1"><a class="parrafo-cdb-1" data-toggle="modal" data-target="#myModal" href="">Cuenta Demo Gratuita</a></p>
                    -->
                </div>
                
            </div>
            </div>
            <!--slider -->
        </div>
    {% endblock header %}
    {% block contenido %}
        
        <div class="nuestros-dos">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-6 padding-left padding-right">
                        <img src="{{ url_for('static', filename='img/corredor-bolsa-icon.svg') }}"  alt="nuestro-servicios">
                        <article>
                            <h2>Corredores <strong>de Bolsa</strong></h2>
                            {% for d in data %}
                                {% if d.titulo == 'intro-cdb' %}
                                    {{d.contenido | safe}}
                                {% endif %}
                            {% endfor %}
                        </article>
                    </div>
                    
                    <div class="col-md-12 col-lg-6">
                        <img class="ejecutivo responsive-img img-corredora" src="{{ url_for('static', filename='img/corredora.jpg') }}" alt="ejecutivo">
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="gris">
            <div class="seccion ">
                <div class="container">
                    <div class="asset-2">
                        <img src="{{ url_for('static', filename='img/nacional.svg') }}" alt="servicio">
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-sm-12 Wealth-dos">
                            <div class="asset">
                                <img src="{{ url_for('static', filename='img/nacional.svg') }}" alt="servicio">
                            </div>
                            <div class="asset padding-right pad-esp">
                                <article> 
                                    <h3><br>Mercado Nacional<br></h3>
                                    {% for d in data %}
                                        {% if d.titulo == 'mercado nacional' %}
                                            {{d.contenido | safe}}
                                        {% endif %}
                                    {% endfor %}
                                    <p><a class="mbi-accordion" data-ref="mercado-nacional-ref" href="#">Ver más</a></p>

                                    <div class="mbi-accordion-panel" id="mercado-nacional-ref">
                                        <!--
                                        <img class="img-medium" src="{{ url_for('static', filename='img/corredores-bolsa.png') }}" alt="ejecutivo">
                                        -->
                                        {% for d in data %}
                                            {% if d.titulo == 'ver mas m.n.' %}
                                                {{d.contenido | safe}}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 green flex">
                            <div class="left-responsive">
                                <a class="btn-ir-servicios" href="/register-corredora">Hazte Cliente</a>
                            </div>
                        </div>
                    </div><!--FIN DE ROW -->
                </div><!--FIN CONTAINER -->
            </div><!--FIN SECCION-->

            <div class="seccion">
                <div class="container">
                    <div class="asset-2">
                        <img src="{{ url_for('static', filename='img/global.svg') }}" alt="servicio">
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-sm-12 Wealth-dos ">
                            <div class="asset">
                                <img src="{{ url_for('static', filename='img/global.svg') }}" alt="servicio">
                            </div>
                            <div class="asset padding-right pad-esp">
                                <article> 
                                    <h3><br>Mercado Internacional<br></h3>
                                    {% for d in data %}
                                        {% if d.titulo == 'mercado internacional' %}
                                            {{d.contenido | safe}}
                                        {% endif %}
                                    {% endfor %}
                                    <p><a class="mbi-accordion" data-ref="mercado-internacional-ref" href="#">Ver más</a></p>
                                    <div class="mbi-accordion-panel" id="mercado-internacional-ref">
                                        {% for d in data %}
                                            {% if d.titulo == 'ver mas m.i.' %}
                                                {{d.contenido | safe}}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 green flex">
                            <div class="left-responsive">
                                <a class="btn-ir-servicios-absolute" data-toggle="modal" data-target="#myModal" href="">Demo</a>
                            </div>
                        </div>
                    </div><!--FIN DE ROW -->
                </div><!--FIN CONTAINER -->
            </div><!--FIN SECCION-->
        </div>

        <div class="seccion seccion-clientes">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 noticias">
                        <img src="{{ url_for('static', filename='img/servicio3.svg') }}" alt="servicio">
                        <h3><strong>Publicaciones</strong></h3>
                    </div>
                    {% for noticia in noticias %}
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="modificacion">
                            <article>
                                <h4>{{ noticia.titulo }}</h4>
                                <p style="font-size: 12px;">{{ noticia.fecha }}</p>
                                <p>{{ noticia.bajada }}</p>
                            </article>
                            <a href="{{ url_for('main.cdb_noticia', id=noticia.id) }}">ver noticia</a>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col-lg-12 boton-noticias green">
                        <a class="btn-noticias" href="{{ url_for('main.noticias_cdb') }}">Ver todos</a>
                    </div>
                </div><!--FIN DE ROW -->
            </div><!--FIN CONTAINER -->
        </div><!--FIN SECCION-->

        <div class="servicios-acordion-dos nuestros">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Contenedor -->
                        <ul id="accordion" class="accordion">      
                            <li><div class="link ">Preguntas Frecuentes y Advertencias</div></li>
                            <li class="default open"><div class="link color-fondo">¿Cómo abro una cuenta en MBI?<i class="fa fa-chevron-down"></i></div>
                                <ul class="submenu sub-preguntas">
                                    <p>Hacerte cliente es muy fácil.
                                    Ingresa a <strong>hazte cliente</strong> y deja tus datos.
                                    Un ejecutivo se contactará contigo para la firma del contrato y listo.</p>
                                </ul>
                            </li>
                            <li><div class="link color-fondo-dos">¿Cuánto cuesta abrir una cuenta?<i class="fa fa-chevron-down"></i></div>
                                <ul class="submenu sub-preguntas">
                                    <p>Abrir una cuenta no tiene costo alguno.</p>
                                </ul>
                            </li>
                            <li><div class="link color-fondo">¿Existe un mínimo para abrir una cuenta en MBI Trading?<i class="fa fa-chevron-down"></i></div>
                                <ul class="submenu sub-preguntas">
                                    <p>Debes ingresar un mínimo de 3 millones de pesos inicialmente.</p>
                                </ul>
                            </li>
                            <li><div class="link color-fondo-dos">¿Debo ingresar mínimo 3 millones cada vez que quiera traspasar dinero a mi cuenta?<i class="fa fa-chevron-down"></i></div>
                                <ul class="submenu sub-preguntas">
                                    <p>Con la cuenta ya abierta e ingresados los primeros 3 millones, no hay mínimo ni máximo para aportes o rescates.</p>
                                </ul>
                            </li>
                            <li><div class="link color-fondo">¿Qué hago si ya tengo acciones con otra corredora?<i class="fa fa-chevron-down"></i></div>
                                <ul class="submenu sub-preguntas">
                                    <p>Hay que firmar un traspaso de custodia, y sin costo alguno tendrás tus acciones disponibles en tu cuenta MBI.</p>
                                </ul>
                            </li>
                            <li><div class="link color-fondo-dos">¿Existe algún costo de mantención?<i class="fa fa-chevron-down"></i></div>
                                <ul class="submenu sub-preguntas">
                                    <p>En MBI no cobramos por tener una cuenta abierta.</p>
                                </ul>
                            </li>
                            <li><div class="link color-fondo">¿Puedo mantener un portafolio de acciones sin movimientos?<i class="fa fa-chevron-down"></i></div>
                                <ul class="submenu sub-preguntas">
                                    <p>Por el concepto de custodia de acciones cobramos 1 UF+IVA al año para patrimonios menores a 1.000 UF.</p>
                                </ul>
                            </li>
                            <li><div class="link color-fondo-dos">¿Cuánto cuesta retirar mi dinero?<i class="fa fa-chevron-down"></i></div>
                                <ul class="submenu sub-preguntas">
                                    <p>No hay cobro por hacer retiros.</p>
                                </ul>
                            </li>
                            <li><div class="link color-fondo">¿Cuál es la comisión para comprar acciones chilenas?<i class="fa fa-chevron-down"></i></div>
                                <ul class="submenu sub-preguntas">
                                    <p>Todas las operaciones tienen un costo variable de 0,2%, además hay un costo fijo de $4.000 por facturación diaria, y a todo esto se le suma el IVA.
                                    El costo por facturación se realiza una sola vez al día, sin importar el número de operaciones que hagas ese día.</p>
                                </ul>
                            </li>
                            <li><div class="link color-fondo-dos">¿Cómo puedo acceder a los mercados internacionales?<i class="fa fa-chevron-down"></i></div>
                                <ul class="submenu sub-preguntas">
                                    <p>MBI es Introducing Broker del banco de inversiones danés Saxo Bank. Gracias a esta alianza, los clientes de MBI pueden abrir cuenta y operar en Saxo Trader, la plataforma de inversiones de Saxo Bank.</p>
                                </ul>
                            </li>
                            <li><div class="link color-fondo">¿Qué instrumentos puedo transar a través de SAXO TRADER?<i class="fa fa-chevron-down"></i></div>
                                <ul class="submenu sub-preguntas">
                                    <p>Por medio de SAXO TRADER puedes transar:<br>
                                    Acciones<br>
                                    ETFs<br>
                                    Bonos<br>
                                    Futuros<br>
                                    Fondos Mutuos<br>
                                    Opciones<br>
                                    Son más de 30.000 activos presentes en 25 mercados distintos en todo el mundo.</p>
                                </ul>
                            </li>
                            <li><div class="link color-fondo-dos">¿Qué productos financieros puedo transar?<i class="fa fa-chevron-down"></i></div>
                                <ul class="submenu sub-preguntas">
                                    <p>Todos los principales índices accionarios mundiales.
                                    Miles de acciones individuales de América, Europa, Asia y Oceanía.</p>
                                </ul>
                            </li>
                            <li><div class="link color-fondo">¿En qué horario puedo transar con SAXO TRADER?<i class="fa fa-chevron-down"></i></div>
                                <ul class="submenu sub-preguntas">
                                    <p>Algunos instrumentos y en particular las monedas más líquidas se transan las 24 horas del día los 7 días de la semana. Para más detalles verificar los mercados y horarios de tu interés.</p>
                                </ul>
                            </li>
                            <li><div class="link color-fondo-dos">¿Quién regula a SAXO TRADER?<i class="fa fa-chevron-down"></i></div>
                                <ul class="submenu sub-preguntas">
                                    <p>Como la plataforma de SAXO TRADER es administrada por SAXO BANK, esta es regulada por el gobierno de Dinamarca. De esta manera se tiene el dinero asegurado hasta montos de 100.000 EUR.</p>
                                </ul>
                            </li>
                            <li><div class="link color-fondo">¿Cuáles son los costos de transacción con Saxo Trader?<i class="fa fa-chevron-down"></i></div>
                                <ul class="submenu sub-preguntas">
                                    <p>Los costos de transacción varían según el instrumento financiero a tranzar. Para más detalles consulte directamente con algún ejecutivo.</p>
                                </ul>
                            </li>
                            <li><div class="link color-fondo-dos">¿Cuánto es el mínimo de depósito para abrir cuenta en Saxo Trader?<i class="fa fa-chevron-down"></i></div>
                                <ul class="submenu sub-preguntas">
                                    <p>El monto mínimo para abrir cuentas es de 5.000 USD.</p>
                                </ul>
                            </li>
                            <li><div class="link color-fondo">¿Cuáles son los costos para abrir o cerrar una cuenta?<i class="fa fa-chevron-down"></i></div>
                                <ul class="submenu sub-preguntas">
                                    <p>No hay costos por abrir ni por cerrar una cuenta.</p>
                                </ul>
                            </li>
                            <li><div class="link color-fondo-dos">¿Qué significa tener una posición larga o corta?<i class="fa fa-chevron-down"></i></div>
                                <ul class="submenu sub-preguntas">
                                    <p>Una posición larga responde a una operación de compra de cualquier instrumento. Una posición corta responde a una operación de venta, también de cualquier instrumento.</p>
                                </ul>
                            </li>
                            <li><div class="link color-fondo"> Al realizar una operación, ¿puedo protegerme de alguna manera en caso que el mercado se mueva en la dirección contraria a la que esperaba?<i class="fa fa-chevron-down"></i></div>
                                <ul class="submenu sub-preguntas">
                                    <p>Sí. Se puede colocar una orden de “stop loss” a fin de acotar la pérdida que están dispuestos a incurrir en caso que el mercado se mueva en la dirección opuesta a la pronosticada. Esto se puede realizar al momento de ejecución de la orden. Muchas personas definen un “stop loss” si van a estar alejados de su computador o en caso que dejen sus posiciones abiertas hasta el otro día.</p>
                                </ul>
                            </li>
                            <li><div class="link color-fondo-dos">¿Qué es una orden “Stop”?<i class="fa fa-chevron-down"></i></div>
                                <ul class="submenu sub-preguntas">
                                    <p>Una orden “Stop” es una orden que limita la pérdida de una posición abierta. También puede ser usada para ejecutar una transacción a un precio inferior al de mercado (en el caso de una compra).</p>
                                </ul>
                            </li>
                            <li><div class="link color-fondo">¿Qué es una orden “Limit”?<i class="fa fa-chevron-down"></i></div>
                                <ul class="submenu sub-preguntas">
                                    <p>Esta es una orden que está limitada a que el precio de mercado alcance el nivel requerido. Al igual que una orden “Stop”, la orden “Limit” puede usarse para entrar al mercado al precio definido.</p>
                                </ul>
                            </li>
                            <li><div class="link color-fondo-dos">¿Van a agregar más índices de países emergentes?<i class="fa fa-chevron-down"></i></div>
                                <ul class="submenu sub-preguntas">
                                    <p>MBI está constantemente innovando en nuevas herramientas e instrumentos financieros que permita entregar el soporte necesario para operar con éxito en los mercados financieros. De esta manera esperamos tener en el corto plazo más índices sobre países emergentes.</p>
                                </ul>
                            </li>
                            <li><div class="link color-fondo">¿Puedo operar mi cuenta solo del PC donde inicialmente <br>descargue la plataforma?<i class="fa fa-chevron-down"></i></div>
                                <ul class="submenu sub-preguntas">
                                    <p>Puedes operar la plataforma desde el PC o dispositivo movil que tú desees. SAXO TRADER tiene 3 opciones para ingresar:
                                    SAXO TRADER Plataforma Descargable para PC
                                    SAXO WEBTRADER, Página web a la cual puedes acceder desde cualquier lugar del mundo
                                    SAXO TRADER GO, Aplicación móvil para que puedas estar al tanto de tus inversiones donde sea que estés.</p>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container botones-pies">
            <div class="row">
                <div class="seccion-btn-pie green">
                    <a class="btn-ir-servicios-pie" href="/legales-cdb">Advertencia</a>
                    <a class="btn-ir-servicios-pie" href="/legales-cdb">Información Normativa y Financiera</a>
                </div>
            </div>
        </div>

        
    {% endblock contenido %}
    {% block Jquery %}
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Solicite su cuenta Demo</h4>
            </div>
            <div class="modal-body">
                <!--
                    Begin
                    Conversions Tag
                    Author: RepriseMedia
                -->
                <div id="tag_conversion"></div>
                <div id="descarga_demo"></div>
                <div id="remarketing_formulario_completo"></div>
                <div id="remarketing_descarga_demo"></div>
                <!-- begin code -->
                <script type="text/javascript">
                    function IitLeadSignupEventHandler(eventName) {
                        if (eventName == "success"){
                            $$('a[href=http://mitsweb.iitech.dk/downloads/sim/installations/mbi/es/MBITrader_webdeploy.exe]').addClass("downloaddd");
                       //     _gaq.push(['_trackPageview', '/formulario_completo.html']);
                            $$('.downloaddd').addEvent('click',function() {
                           //     _gaq.push(['_trackPageview', "http://mitsweb.iitech.dk/downloads/sim/installations/mbi/es/MBITrader_webdeploy.exe"]);
                                var ebRand = Math.random()+'';
                                ebRand = ebRand * 1000000;
                                document.getElementById('descarga_demo').innerHTML ='<iframe src="HTTP://bs.serving-sys.com/BurstingPipe/ActivityServer.bs?cn=as&amp;ActivityID=164652&amp;ifrm=1&amp;rnd=' + ebRand + '" width=0 height=0 marginwidth=0 marginheight=0 hspace=0 vspace=0 frameborder=0 scrolling=no bordercolor="#000000"></iframe>';
                                document.getElementById('remarketing_descarga_demo').innerHTML ='<div style="display:inline;"><img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1008511443/?label=Jh3bCNW0sAIQ09Py4AM&amp;guid=ON&amp;script=0"/></div>';
                            });
    
                            /*tracking de media mind*/
                            // Conversion Name: converciones_mbi
                            var ebRand = Math.random()+'';
                            ebRand = ebRand * 1000000;
                            document.getElementById('tag_conversion').innerHTML ='<img width="1" height="1" style="border:0" src="HTTP://bs.serving-sys.com/BurstingPipe/ActivityServer.bs?cn=as&amp;ActivityID=163384&amp;ns=1"/>';
                            /*remarketing*/
                            // Google Code for Formulario Completo Remarketing List
                            document.getElementById('remarketing_formulario_completo').innerHTML ='<div style="display:inline;"><img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1008511443/?label=UgYJCN2zsAIQ09Py4AM&amp;guid=ON&amp;script=0"/></div>';
                        }
                    }
                </script>
                <!--
                    End
                    Conversions Tag
                    Author: RepriseMedia
                -->
                <script type="text/javascript">// <![CDATA[
                    document.write('<scri' + 'pt type="text/javascript" charset="utf-8" src="https://mitsweb.iitech.dk/PPSSWS/SignUpFormJS.aspx?id=6387e2df-d54e-4c07-9e7c-399e11875666&#038;language=es&#038;tm=' + new Date().getTime() + '"></scr' + 'ipt>');
        // ]]&gt;</script>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Cancelar</button>
            </div>
        
        </div>

        </div>
        </div>
        <script>
            $(function() {
                var Accordion = function(el, multiple) {
                    this.el = el || {};
                    this.multiple = multiple || false;

                    // Variables privadas
                    var links = this.el.find('.link');
                    // Evento
                    links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
                }
                Accordion.prototype.dropdown = function(e) {
                    var $el = e.data.el;
                    $this = $(this),
                    $next = $this.next();

                    $next.slideToggle();
                    $this.parent().toggleClass('open');

                    if (!e.data.multiple) {
                        $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
                    };
                }

                var accordion = new Accordion($('#accordion'), false);
            });
        </script>
        <script src="{{ url_for('static', filename='js/jquery-3.4.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    {% endblock Jquery %}