{% extends "layout.html" %}
    {% block import %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/accordion.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    {% endblock import %}

    {% block menu2 %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/asset-management"><img src="{{ url_for('static', filename='img/head1.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/asset-management">Asset Management<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/wealth-management"><img src="{{ url_for('static', filename='img/head2.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/wealth-management">Wealth Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/corredores"><img src="{{ url_for('static', filename='img/head3-color.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/corredores"><span class="active-color">Corredores de Bolsa</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/activos-alternativos"><img src="{{ url_for('static', filename='img/head4.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/activos-alternativos">Activos Alternativos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/quienes-somos"><img src="{{ url_for('static', filename='img/head5.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/quienes-somos">Quienes Sómos</a>
            </li>
        </ul>
    {% endblock menu2 %}
    {% block header %}
        <!--nav -->
        <div class="header-com-cliente hader-titulo">
            <div class="container">
                <div class="menu-rastro">
                    <ul>
                    <li><a href="/">Inicio</a></li>
                    <li>></li>
                    <li><a href="/corredores">Corredores de Bolsa</a></li>
                    <li>></li>
                    <li><a href="/corredores/publicaciones">Publicaciones</a></li>
                    <li>></li>
                    <li><span class="active-pagina">Ver Publicación</span></li>
                    </ul>
                </div>
            </div>
        </div>
    {% endblock header %}
    {% block contenido %}

    <div class="container">
        <div class="col-lg-12 red">
            <div class="row">
                <ul class="menu-aparece green">
                    <li><a class="btn-ir-servicios" href="/corredores">Corredores de Bolsa</a></li>
                    <li><a class="btn-ir-servicios" href="/corredores/publicaciones">Publicaciones</a></li>
                </ul>
            </div>
        </div>
    </div>
        
    <div class="seccion seccion-ver-noticias pag-noticias">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 ver-noticias">
                    {% if noticia.imagen %}
                        <img src="{{ url_for('static', filename='uploads/noticias/img/' + noticia.imagen) }}" alt="servicio">
                    {% endif %}
                    <h3>{{ noticia.titulo }}</h3>
                    <div>
                        <article>
                            <p style="font-size: 12px;">{{ noticia.fecha }}</p>
                            {% if noticia.bajada %}
                                <p><strong><em>{{ noticia.bajada }}</em></strong></p>
                            {% endif %}
                        </article>
                    </div>
                    <div>
                        <article>
                            {{ noticia.contenido|safe }}
                        </article>
                    </div>
                    <div>
                        {% if noticia.archivo %}
                            <embed class="arch-pdf" src="{{ url_for('static', filename='uploads/noticias/doc/' + noticia.archivo) }}" type="application/pdf" />
                        {% endif %}
                    </div>
                </div>

                

            </div>
            <!--FIN DE ROW -->
        </div>
        <!--FIN CONTAINER -->
    </div>
    <!--FIN SECCION-->

        
    {% endblock contenido %}
    {% block Jquery %}
        <script src="{{ url_for('static', filename='js/jquery-3.4.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    {% endblock Jquery %}