{% extends "layout.html" %}
    {% block import %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/accordion.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    {% endblock import %}

    {% block menu2 %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/asset-management"><img src="{{ url_for('static', filename='img/head1.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/asset-management">Asset Management<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/wealth-management"><img src="{{ url_for('static', filename='img/head2.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/wealth-management">Wealth Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/corredores"><img src="{{ url_for('static', filename='img/head3-color.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/corredores"><span class="active-color">Corredores de Bolsa</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/activos-alternativos"><img src="{{ url_for('static', filename='img/head4.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/activos-alternativos">Activos Alternativos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/quienes-somos"><img src="{{ url_for('static', filename='img/head5.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/quienes-somos">Quienes Sómos</a>
            </li>
        </ul>
    {% endblock menu2 %}
    {% block header %}
        <!--nav -->
        <div class="header-com-cliente hader-titulo">
            <div class="container">
                <div class="menu-rastro">
                    <ul>
                    <li><a href="/">Inicio</a></li>
                    <li>></li>
                    <li><a href="/corredores">Corredores de Bolsa</a></li>
                    <li>></li>
                    <li><span class="active-pagina">Publicaciones</span></li>
                    </ul>
                </div>
            </div>
        </div>
    {% endblock header %}
    {% block contenido %}

    <div class="container">
        <div class="col-lg-12 red">
            <div class="row">
                <ul class="menu-aparece green">
                    <li><a class="btn-ir-servicios" href="/corredores">Corredores de Bolsa</a></li>
                    <li><a class="btn-ir-servicios-dos" href="/corredores/publicaciones">Publicaciones</a></li>
                </ul>
            </div>
        </div>
    </div>
        
    <div class="seccion seccion-noticias pag-noticias">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 noticias">
                    <img src="{{ url_for('static', filename='img/servicio3.svg') }}" alt="servicio">
                    <h3>Publicaciones</h3>
                </div>

                <div></div>
                {% for noti in noticias.items %}
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 publicacion">
                        <div class="modificacion-2">
                            <article>
                                <h4>{{ noti.titulo }}</h4>
                                <p style="font-size: 12px;">{{ noti.fecha }}</p>
                                <p>{{ noti.bajada }}</p>
                            </article>
                            <a href="{{ url_for('main.cdb_noticia', id=noti.id) }}">ver noticia</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!--FIN DE ROW -->
        </div>
        <!--FIN CONTAINER -->
    </div>
    <!--FIN SECCION-->
    <nav aria-label="Page navigation example ">
        <ul class="pagination paginas d-flex justify-content-center">
                {% for page_num in noticias.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                    {% if page_num %}
                        {% if noticias.page == page_num %}
                            <li class="page-item"><a class="page-link disabled activado deshab" href="{{ url_for('main.noticias_cdb', page=page_num) }}">{{ page_num }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="{{ url_for('main.noticias_cdb', page=page_num) }}">{{ page_num }}</a></li>
                        {% endif %}
                    {% else %}
                        <li class="page-item"><a class="page-link deshab" href="#">...</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>

        
    {% endblock contenido %}
    {% block Jquery %}
        <script src="{{ url_for('static', filename='js/jquery-3.4.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    {% endblock Jquery %}