<!doctype html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <style type="text/css">

        html,body { height: 100%; margin: 0px; padding: 0px; }
  
      </style>

    <title>mbi Inversiones-doc</title>
    </head>
    <body>
        <div class="pdf-view">
            <embed class="pdf-view" src="{{ url_for('static', filename='') }}{{ruta}}" type="application/pdf" />
        </div>
    </body>
    </html>