{% extends "login-layout.html" %}
{% block contenido %}
    <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
    <div class="col-lg-6">
    <div class="p-5">
        <div class="text-center">
        <h1 class="h4 text-gray-900 mb-2">Olvido su contraseña?</h1>
        <p class="mb-4">Si ha olvidado su contraseña, ingrese su correo asociado y le enviaremos un correo para reestablecerla</p>
        </div>
        <form class="user">
            {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.email(type="email", class="form-control form-control-user", id="exampleInputEmail", placeholder="Ingrese su direccion de correo...")}}
        </div>
        <div>
            {{ form.submit(class="btn btn-primary btn-user btn-block")}}
        </div>
        </form>
        <hr>
        <div class="text-center">
        <a class="small" href="/register">Creese una cuenta ahora!</a>
        </div>
        <div class="text-center">
        <a class="small" href="/login">Ya tiene cuenta? Ingrese aqui!</a>
        </div>
    </div>
    </div>
{% endblock contenido %}