{% extends "layout.html" %}
    {% block import %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles-dos.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.roadmap.min.css') }}">
    {% endblock import %}

    {% block menu2 %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/asset-management"><img src="{{ url_for('static', filename='img/head1.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/asset-management">Asset Management<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/wealth-management"><img src="{{ url_for('static', filename='img/head2.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/wealth-management">Wealth Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/corredores"><img src="{{ url_for('static', filename='img/head3.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/corredores">Corredores de Bolsa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/activos-alternativos"><img src="{{ url_for('static', filename='img/head4.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/activos-alternativos">Activos Alternativos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/quienes-somos"><img src="{{ url_for('static', filename='img/head5-color.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/quienes-somos"><span class="active-color">Quiénes Somos</span></a>
            </li>
        </ul>
    {% endblock menu2 %}
                <!--nav -->
    {% block header %}
        <div class="header-quienes-somos hader-titulo">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="menu-rastro">
                                <ul>
                                    <li><a href="/">Inicio</a></li>
                                    <li>></li>
                                    <li><a href="/quienes-somos">Quiénes Somos</a></li>
                                    <li>></li>
                                    <li><span class="active-pagina">Hitos</span></li>
                                </ul>
                        </div>
                        <div class="icono-titulo">
                            <img src="{{ url_for('static', filename='img/quiens-somos-icon.svg') }}" alt="quienes-somos">
                                <h3>Quiénes Somos</h3>
                        </div>
                    </div>
                    <div class="col-lg-8"></div>
                </div>
            </div>
        </div>
    {% endblock header %}

    {% block contenido %}
            <div class="container">
                <div class="col-lg-12 red">
                     <div class="row">
                            <ul class="menu-aparece green">
                                <li><a class="btn-ir-servicios-dos" class="active-color" href="/quienes-somos/hitos">Hitos</a></li>
                                <li><a class="btn-ir-servicios" href="/quienes-somos/socios">Socios</a></li>
                                <li><a class="btn-ir-servicios" href="/quienes-somos/MBI-en-la-prensa">MBI en la Prensa</a></li>
                            </ul>
                         </div>
                        </div>
            </div>
            <div class="container noticias titulo-hitos">
             <img src="{{ url_for('static', filename='img/nosotros-hitos.png') }}" alt="servicio">
                    <h3>Hitos</h3>
            </div>
        <div class="container line-time">
            <div class="row">
                <div class="col-lg-12">
                <div class="timeline-full">
                    <div id="mbi-timeline"></div>
                </div>

                <div class="timeline">
                    <ol>
                        {% for d in data %}
                            <li>
                                <div class="datos">
                                    <time>{{ d.titulo }}</time> {{ d.contenido | safe }}
                                </div>
                            </li>
                        {% endfor %}
                        
                        <li>
                            <div class="desaparecer">
                                <time></time> 
                            </div>
                        </li>
                        <li>
                            <div class="desaparecer">
                                <time></time> 
                            </div>
                        </li>
                        <li>
                            <div class="desaparecer">
                                <time></time> 
                            </div>
                        </li>
                        <li></li>
                        
                    </ol>
                    
                    <div class="arrows">
                        <button class="arrow arrow__prev disabled" disabled>
                            <img src="{{ url_for('static', filename='img/arrow_prev.svg') }}" alt="prev timeline arrow">
                        </button>
                        <button class="arrow arrow__next">
                            <img src="{{ url_for('static', filename='img/arrow_next.svg') }}" alt="next timeline arrow">
                        </button>
                    </div>
                </div>
                </div><!--FIN DE COLUMNA -->
            </div>
        </div>
    {% endblock contenido %}
    {% block Jquery %}
        <script src="{{ url_for('static', filename='js/jquery-3.4.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.roadmap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

        <script>
            $(document).ready(function(){
                $(window).scroll(function(){
                    var top = $(window).scrollTop();
                    if(top > 10){
                        $('nav.navbar').addClass('collapse-nav');
                    }else{
                        $('nav.navbar').removeClass('collapse-nav');
                    }
                });
                $(window).trigger('scroll');

                $('.mbi-accordion').each(function(){
                    var ref = $(this).data('ref');
                    $(this).on('click', function(event){
                        event.preventDefault();
                        if(!$('#' + ref).hasClass('open-accordion-panel')){
                            $('#' + ref).addClass('open-accordion-panel');
                        }else{
                            $('#' + ref).removeClass('open-accordion-panel');
                        }
                    });
                });

                let datas = Array.prototype.slice.call(document.getElementsByClassName("datos"));
                console.log(datas);

                var myEvents = [];

                for (var i = 0, len = datas.length; i < len; i++){
                    myEvents.push({date: datas[i].querySelector('time').innerHTML, content:datas[i].querySelector('p').innerHTML})
                }
                
                $('#mbi-timeline').roadmap(
                    myEvents, 
                    {
                        eventsPerSlide: 3
                    },
                );
            });
        </script>
        <!--
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        -->
    {% endblock Jquery %}