{% extends "layout.html" %}
    {% block import %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    {% endblock import %}
    {% block menu2 %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/asset-management"><img src="{{ url_for('static', filename='img/head1.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/asset-management">Asset Management<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/wealth-management"><img src="{{ url_for('static', filename='img/head2.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/wealth-management">Wealth Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/corredores"><img src="{{ url_for('static', filename='img/head3.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/corredores">Corredores de Bolsa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/activos-alternativos"><img src="{{ url_for('static', filename='img/head4.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/activos-alternativos">Activos Alternativos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/quienes-somos"><img src="{{ url_for('static', filename='img/head5.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/quienes-somos">Quienes Sómos</a>
            </li>
        </ul>
    {% endblock menu2 %}
        <!--nav -->
        <!--slider -->
    {% block header %}
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner carousel-home">
            <div class="carousel-item active">
            <img class="d-block alturas img-banner" src="{{ url_for('static', filename='img/SantiagoHDR.jpg') }}" alt="First slide">
            </div>
            <div class="carousel-caption ">
            <p class='sep'>a </p>
            <ul class="lista"><li class="titulo"><span class="numero">Visión, Pasión y Compromiso</span></li></ul>
            </div>
            <div class="carousel-item">
            <img class="d-block alturas img-banner" src="{{ url_for('static', filename='img/SantiagoHDR.jpg') }}" alt="Second slide">
            </div>
            <div class="carousel-caption ">
            <p class='sep'>a </p>
            <ul class="lista"><li class="titulo"><span class="numero">Visión, Pasión y Compromiso</span></li></ul>
            </div>
            <div class="carousel-item">
            <img class="d-block alturas img-banner" src="{{ url_for('static', filename='img/SantiagoHDR.jpg') }}" alt="Third slide">
            </div>
            <div class="carousel-caption ">
            <p class='sep'>a </p>
            <ul class="lista"><li class="titulo"><span class="numero">Visión, Pasión y Compromiso</span></li></ul>
            </div>
        </div>
        <div class="section">
            <div  class="box">
                <div class="container">
                <div class="row">
                    <div class="elemento">
                    <h6>Fondos del inversión</h6>
                    <a href="/asset-management"><img src="{{ url_for('static', filename='img/icono1.svg') }}" alt="icono"></a>
                    </div>
    
                    <div class="elemento">
                        <h6>Wealth management</h6>
                        <a href="/wealth-management"><img src="{{ url_for('static', filename='img/icono2.svg') }}" alt="icono"></a>
                    </div>
    
                    <div class="elemento">
                        <h6>Corredores de bolsa</h6>
                        <a href="/corredores"><img src="{{ url_for('static', filename='img/icono3.svg') }}" alt="icono"></a>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        <!--slider -->

    {% endblock header %}
    {% block contenido %}

    <div class="seccion">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-12 col-sm-12  pink"></div>
                <div class="col-lg-6 col-md-8 col-sm-12 conoce-2 orange">
                    <div class="asset">
                        <article>
                            <h3>Conoce nuestros servicios</h3>
                        </article>
                    </div>
                </div>
            </div><!--FIN DE ROW -->
        </div><!--FIN CONTAINER -->
    </div><!--FIN SECCION-->


        <div class="seccion">
            <div class="container">
                <div class="asset-2">
                    <img src="{{ url_for('static', filename='img/servicio01.jpg') }}" alt="servicio">
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-12 col-sm-12  pink"></div>
                    <div class="col-lg-6 col-md-8 col-sm-12 conoce orange">
                        <div class="asset">
                            <img src="{{ url_for('static', filename='img/servicio01.jpg') }}" alt="servicio">
                        </div>
                        <div class="asset">
                            <article>
                                <h3><strong>Asset Management</strong></h3>
                                {{asset.contenido | safe }}
                            </article>
                            <div class="caja green">
                                    <a class="btn-ir-servicios" href="/asset-management">Ir a servicios y fondos</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-2 col-sm-12 green"></div> 
                </div><!--FIN DE ROW -->
            </div><!--FIN CONTAINER -->
        </div><!--FIN SECCION-->

        <div class="seccion">
            <div class="container atura-wealth">
                <div class="container">
                    <div class="asset-2">
                        <img src="{{ url_for('static', filename='img/servicio2.svg') }}" alt="servicio">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-12 col-sm-12 pink"></div>
                    <div class="col-lg-6 col-md-8 col-sm-12 Wealth ">
                        <div class="asset">
                            <img src="{{ url_for('static', filename='img/servicio2.svg') }}" alt="servicio">
                        </div>
                        <div class="asset">
                            <article> 
                                <h3><br>Wealth Management<br></h3>
                                {{wealth.contenido | safe }}
                            </article>
                            <div class="caja green">
                                <a class="btn-ir-servicios" href="/wealth-management">Ir a servicios y productos</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-2 col-sm-12 green"></div>
                </div><!--FIN DE ROW -->
            </div><!--FIN CONTAINER -->
        </div><!--FIN SECCION-->

        <div class="seccion">
            <div class="container atura-wealth">
                <div class="container">
                    <div class="asset-2">
                        <img src="{{ url_for('static', filename='img/servicio6.png') }}" alt="servicio">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-12 col-sm-12 pink"></div>
                    <div class="col-lg-6 col-md-8 col-sm-12 Wealth ">
                        <div class="asset">
                            <img src="{{ url_for('static', filename='img/servicio6.png') }}" alt="servicio">
                        </div>
                        <div class="asset">
                            <article> 
                                <h3><br>Corredores de Bolsa<br></h3>
                                {{cdb.contenido | safe }}
                            </article>
                            <div class="caja green">
                                <a class="btn-ir-servicios" href="/corredores">Ir a servicios y productos</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-2 col-sm-12 green"></div>
                </div><!--FIN DE ROW -->
            </div><!--FIN CONTAINER -->
        </div><!--FIN SECCION-->

        <div class="seccion bg-corredor">
            <div class="corredor">
                <article>
                    <h3>Hacerse cliente de <br> MBI es muy fácil.</h3>
                </article>
            </div>
            <div class="corredor">
                <a class="btn-hagase-cliente" href="/register-corredora">Hazte Cliente Aquí</a>
            </div>
        </div>

        

        <div class="seccion seccion-noticias">
        <div class="container">
            <div class="row">
            <div class="col-lg-12 noticias">
                <img src="{{ url_for('static', filename='img/servicio3.svg') }}" alt="servicio">
                <h3>Comunicación a <strong>Clientes</strong></h3>
            </div>
            {% if noticias %}
                {% for n in noticias %}
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="modificacion">
                        <article>
                            <h4>{{ n.titulo }}</h4>
                            <p style="font-size: 12px;">{{ n.fecha }}</p>
                            <p>{{ n.bajada }}</p>
                        </article>
                        <a href="{{ url_for('main.ver_noticia_inicio', id=n.id) }}">ver noticia</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="col-lg-12 boton-noticias green">
                <a class="btn-noticias" href="/comunicacion-clientes">Ver todos</a>
            </div>
            </div><!--FIN DE ROW -->
        </div><!--FIN CONTAINER -->
        </div><!--FIN SECCION-->
    {% endblock contenido %}

    {% block Jquery %}
        <script src="{{ url_for('static', filename='js/jquery-3.4.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    {% endblock Jquery %}