{% extends "login-layout.html" %}
{% block contenido %}
    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Bienvenido!</h1>
            </div>
            <form class="user" method="POST" action="">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {% if form.usuario.errors %}
                        {{ form.usuario(type="text", class="form-control form-control-user is-invalid") }}
                        <div>
                            {% for e in form.usuario.errors %}
                                <span>{{ e }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.usuario(type="text", class="form-control form-control-user", placeholder="Ingrese su Usuario...") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {% if form.contraseña.errors %}
                        {{ form.contraseña(type="password", class="form-control form-control-user is-invalid") }}
                        <div>
                            {% for e in form.contraseña.errors %}
                                <span>{{ e }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.contraseña(type="password", class="form-control form-control-user", id="contraseña" ,placeholder="Contraseña...") }}
                    {% endif %}
                </div>
                <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                            {{ form.recordar(type="checkbox" ,class="custom-control-input", id="customCheck") }}
                            {{ form.recordar.label(class="custom-control-label" , for="customCheck")}}
                        </div>
                </div>
                <div>
                    {{ form.submit(class="btn btn-primary btn-user btn-block") }}
                </div>
            </form>
            <hr>
            <div class="text-center">
                <a class="small" href="/reset-password">Olvido su contraseña?</a>
            </div>
            <div class="text-center">
                <a class="small" href="/register">Creese una cuenta ahora!</a>
            </div>
        </div>
    </div>
{% endblock contenido %}