{% extends "layout.html" %}
    {% block import %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles-dos.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.roadmap.min.css') }}">
    {% endblock import %}

    {% block menu2 %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/asset-management"><img src="{{ url_for('static', filename='img/head1.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/asset-management">Asset Management<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/wealth-management"><img src="{{ url_for('static', filename='img/head2.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/wealth-management">Wealth Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/corredores"><img src="{{ url_for('static', filename='img/head3.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/corredores">Corredores de Bolsa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/activos-alternativos"><img src="{{ url_for('static', filename='img/head4.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/activos-alternativos">Activos Alternativos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/quienes-somos"><img src="{{ url_for('static', filename='img/head5-color.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/quienes-somos"><span class="active-color">Quienes Sómos</span></a>
            </li>
        </ul>
    {% endblock menu2 %}
        <!--nav -->
    {% block header %}
        <div class="header-quienes-somos hader-titulo">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="menu-rastro">
                            <ul>
                                <li><a href="/">Inicio</a></li>
                                <li>></li>
                                <li><a href="/quienes-somos">Quiénes Somos</a></li>
                                <li>></li>
                                <li><span class="active-pagina">MBI en la Prensa</span></li>
                            </ul>
                        </div>
                        <div class="icono-titulo">
                            <img src="{{ url_for('static', filename='img/quiens-somos-icon.svg') }}" alt="quienes-somos">
                            <h3>Quiénes Somos</h3>
                        </div>
                    </div>
                    <div class="col-lg-8"></div>
                </div>
            </div>
        </div>
    {% endblock header %}

    {% block contenido %}
        <div class="container">
            <div class="col-lg-12 red">
                <div class="row">
                    <ul class="menu-aparece green">
                        <li><a class="btn-ir-servicios" href="/quienes-somos/hitos">Hitos</a></li>
                        <li><a class="btn-ir-servicios" href="/quienes-somos/socios">Socios</a></li>
                        <li><a class="btn-ir-servicios-dos" href="/quienes-somos/MBI-en-la-prensa ">MBI en la Prensa</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="seccion seccion-noticias pag-noticias">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 noticias">
                        <img src="{{ url_for('static', filename='img/servicio3.svg') }}" alt="servicio">
                        <h3>Noticias</h3>
                    </div>

                    <div></div>
                    {% for noti in noticias.items %}
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                            {% if noti.imagen %}
                                <img src="{{ url_for('static', filename='uploads/noticias/img/' + noti.imagen) }}" class="card-img-top" alt="...">
                            {% else %}
                                <img src="{{ url_for('static', filename='img/noticias-1.jpg') }}" class="card-img-top" alt="...">
                            {% endif %}
                            <div class="modificacion-2">
                                <article>
                                    <h4>{{ noti.titulo }}</h4>
                                    <p style="font-size: 12px;">{{ noti.fecha }}</p>
                                    <p>{{ noti.bajada }}</p>
                                </article>
                                <a href="{{ url_for('main.ver_noticia', id=noti.id) }}">ver noticia</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!--FIN DE ROW -->
            </div>
            <!--FIN CONTAINER -->
        </div>
        <!--FIN SECCION-->
        <nav aria-label="Page navigation example ">
            <ul class="pagination paginas d-flex justify-content-center">
                    {% for page_num in noticias.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                        {% if page_num %}
                            {% if noticias.page == page_num %}
                                <li class="page-item"><a class="page-link disabled activado deshab" href="{{ url_for('main.noticias', page=page_num) }}">{{ page_num }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="{{ url_for('main.noticias', page=page_num) }}">{{ page_num }}</a></li>
                            {% endif %}
                        {% else %}
                            <li class="page-item"><a class="page-link deshab" href="#">...</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        <!--
        <nav aria-label="Page navigation example ">
            <ul class="pagination paginas d-flex justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link flecha1 " href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link disabled activado" href="/quienes-somos/noticias">1</a></li>
                <li class="page-item"><a class="page-link" href="/quienes-somos/noticias">2</a></li>
                <li class="page-item"><a class="page-link" href="/quienes-somos/noticias">3</a></li>
                <li class="page-item"><a class="page-link flecha2" href="/quienes-somos/noticias" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
            </ul>
        </nav>
        -->
    {% endblock contenido %}
    {% block Jquery %}
        <script src="{{ url_for('static', filename='js/jquery-3.4.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.roadmap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    {% endblock Jquery %}
