{% extends "layout.html" %}
    {% block import %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    {% endblock import %}

    {% block menu2 %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/asset-management"><img src="{{ url_for('static', filename='img/head1.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/asset-management">Asset Management<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/wealth-management"><img src="{{ url_for('static', filename='img/head2.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/wealth-management">Wealth Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/corredores"><img src="{{ url_for('static', filename='img/head3.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/corredores">Corredores de Bolsa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/activos-alternativos"><img src="{{ url_for('static', filename='img/head4.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/activos-alternativos">Activos Alternativos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/quienes-somos"><img src="{{ url_for('static', filename='img/head5-color.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/quienes-somos"><span class="active-color">Quienes Sómos</span></a>
            </li>
        </ul>
    {% endblock menu2 %}
    {% block header %}
        <!--nav -->
        <div class="header-quienes-somos hader-titulo">
            <div class="container">
                <div class="row">
                <div class="col-lg-4">
                    <div class="menu-rastro">
                        <ul>
                        <li><a href="/">Inicio</a></li>
                        <li>></li>
                        <li><span class="active-pagina">Quiénes Somos</span></li>
                        <!--
                        <li>></li>
                        <li><span class="active-pagina">Nosotros</span></li>
                        -->
                        </ul>
                    </div>
                    <div class="icono-titulo">
                    <img src="{{ url_for('static', filename='img/quiens-somos-icon.svg') }}" alt="quienes-somos">
                    <h3>Quiénes Somos</h3>
                    </div>
                </div>
                <div class="col-lg-8"></div>
                </div>
            </div>
        </div>
    {% endblock header %}
    {% block contenido %}
        <div class="container">
            <div class="col-lg-12 red">
                <div class="row">
                    <ul class="menu-aparece green">
                        <li><a class="btn-ir-servicios" href="/quienes-somos/hitos">Hitos</a></li>
                        <li><a class="btn-ir-servicios" href="/quienes-somos/socios">Socios</a></li>
                        <li><a class="btn-ir-servicios" href="/quienes-somos/MBI-en-la-prensa">MBI en la Prensa</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="seccion historia nuestros-dos">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-sm-12 orange-dos padding-right">
                        <img src="{{ url_for('static', filename='img/nosotros-dos.svg') }}" alt="Nosotros">
                        <article> 
                            <h2>Nosotros</h2>
                            {% for d in data %}
                                {% if d.titulo == 'nosotros' %}
                                    {{d.contenido | safe}}
                                {% endif %}
                            {% endfor %}
                        </article>
                    </div><!--FIN DE col -->
                    <div class="col-lg-4 green">
                    </div>
                </div><!--FIN row -->
            </div><!--FIN container-->
        </div><!--FIN section-->
        
        <div class="seccion conoce-dos">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-sm-12 orange-dos padding-right">
                        <div class="row"> 
                            <div class="col-2">
                                <img class="ensconder" src="{{ url_for('static', filename='img/conversion.svg') }}" alt="conversion">
                            </div>
                            <div class="col-10 box-qs">
                                <article>
                                    <h2><strong>COINVERSIÓN</strong></h2>
                                    {% for d in data %}
                                        {% if d.titulo == 'coinversion' %}
                                            {{d.contenido | safe}}
                                        {% endif %}
                                    {% endfor %}
                                </article>
                            </div>
                        </div> 
                        <div class="row"> 
                            <div class="col-2">
                                <img class="ensconder" src="{{ url_for('static', filename='img/preservacion.svg') }}" alt="preservacion">
                            </div>
                            <div class="col-10 box-qs">
                                <article>
                                    <h2><strong>PRESERVACIÓN DE PATRIMONIO</strong></h2>
                                    {% for d in data %}
                                        {% if d.titulo == 'preservacion de patrimonio' %}
                                            {{d.contenido | safe}}
                                        {% endif %}
                                    {% endfor %}
                                </article>
                            </div>
                        </div> 
                        <div class="row"> 
                            <div class="col-2">
                                <img class="ensconder" src="{{ url_for('static', filename='img/exelencia.svg') }}" alt="exelencia">
                            </div>
                            <div class="col-10 box-qs">
                                <article>
                                    <h2><strong>SERVICIO DE EXCELENCIA</strong></h2>
                                    {% for d in data %}
                                        {% if d.titulo == 'servicio de excelencia' %}
                                            {{d.contenido | safe}}
                                        {% endif %}
                                    {% endfor %}
                                </article>
                            </div>
                        </div> 
                    </div><!--FIN DE col -->
                    <div class="col-lg-4 green">
                    </div>
                </div><!--FIN row -->
            </div><!--FIN container-->
        </div><!--FIN section-->
    {% endblock contenido %}
    {% block Jquery %}
        <script src="{{ url_for('static', filename='js/jquery-3.4.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.roadmap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    {% endblock Jquery %}