{% extends "layout.html" %}
    {% block import %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/accordion.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    {% endblock import %}

    {% block menu2 %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/asset-management"><img src="{{ url_for('static', filename='img/head1.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/asset-management">Asset Management<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/wealth-management"><img src="{{ url_for('static', filename='img/head2.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/wealth-management">Wealth Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/corredores"><img src="{{ url_for('static', filename='img/head3-color.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/corredores"><span class="active-color">Corredores de Bolsa</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/activos-alternativos"><img src="{{ url_for('static', filename='img/head4.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/activos-alternativos">Activos Alternativos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/quienes-somos"><img src="{{ url_for('static', filename='img/head5.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/quienes-somos">Quienes Sómos</a>
            </li>
        </ul>
    {% endblock menu2 %}
    {% block header %}
        <!--nav -->
        <div class="container-corredores-de-bolsa">
            <div class="container">
                <div class="menu-rastro">
                    <ul>
                    <li><a href="/">Inicio</a></li>
                    <li>></li>
                    <li><a href="/corredores">Corredores de Bolsa</a></li>
                    <li>></li>
                    <li><span class="active-pagina">Regristrarse</span></li>
                    </ul>
                </div>
            </div>
        </div>
    {% endblock header %}
{% block contenido %}
<div class="container reg-corr">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Hazte Cliente</h1>
                        </div>
                        <hr>
                        <p>Datos Personales</p>
                        <form class="user" method="POST" action="">
                            {{ form.hidden_tag() }}
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                {% if form.rut.errors %}
                                    {{ form.rut(type="text", class="form-control form-control-user is-invalid") }}
                                    <div class="form-error">
                                        {% for e in form.rut.errors %}
                                            <span>{{ e }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.rut(type="text", class="form-control form-control-user", placeholder="RUT") }}
                                {% endif %}
                            </div>
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                    {% if form.nombre.errors %}
                                        {{ form.nombre(type="text", class="form-control form-control-user is-invalid") }}
                                        <div class="form-error">
                                            {% for e in form.nombre.errors %}
                                                <span>{{ e }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.nombre(type="text", class="form-control form-control-user", placeholder="Nombre") }}
                                    {% endif %}
                                </div>
                            </div>
                        <div class="form-group row">
                            
                            <div class="col-sm-6">
                                {% if form.apellidoP.errors %}
                                    {{ form.apellidoP(type="text", class="form-control form-control-user is-invalid") }}
                                    <div class="form-error">
                                        {% for e in form.apellidoP.errors %}
                                            <span>{{ e }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.apellidoP(type="text", class="form-control form-control-user", placeholder="Apellido Paterno") }}
                                {% endif %}
                            </div>
                            <div class="col-sm-6">
                                {% if form.apellidoM.errors %}
                                    {{ form.apellidoM(type="text", class="form-control form-control-user is-invalid") }}
                                    <div class="form-error">
                                        {% for e in form.apellidoM.errors %}
                                            <span>{{ e }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.apellidoM(type="text", class="form-control form-control-user", placeholder="Apellido Materno") }}
                                {% endif %}
                            </div>
                        </div>

                        {{form.fecha_nac.label(class ="form-label")}}
                        <div class="form-group row">
                            <div class="col-sm-6">
                                    
                                    {% if form.fecha_nac.errors %}
                                        {{ form.fecha_nac(type="date", class="form-control form-control-user is-invalid") }}
                                        <div class="form-error">
                                            {% for e in form.fecha_nac.errors %}
                                                <span>{{ e }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.fecha_nac(type="date", class="form-control form-control-user", value="Fecha de Nacimiento") }}
                                    {% endif %}
                                </div>
                            <div class="col-sm-6 mb-3 mb-sm-0">

                                {% if form.nacionalidad.errors %}
                                    {{ form.nacionalidad(type="text", class="form-control form-control-user is-invalid") }}
                                    <div class="form-error">
                                        {% for e in form.nacionalidad.errors %}
                                            <span>{{ e }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.nacionalidad(type="text", class="form-control form-control-user", placeholder="Nacionalidad") }}
                                {% endif %}
                            </div>
                            
                        </div>
                        <div class="form-group">
                            {{ form.estado.label(class="form-label") }}
                            {{ form.estado(class="form-control form-control-user")}}
                                {% if form.estado.errors %}
                                    {% for e in form.estado.errors %}
                                        <span>{{ e }}</span>
                                    {% endfor %}
                                {% endif %}
                        </div>
                        <hr>
                        <p>Información de Contacto</p>
                        <div class="form-group">
                            {% if form.direccion.errors %}
                                {{ form.direccion(type="text", class="form-control form-control-user is-invalid") }}
                                <div class="form-error">
                                    {% for e in form.direccion.errors %}
                                        <span>{{ e }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.direccion(type="text", class="form-control form-control-user", placeholder="Direccion") }}
                            {% endif %}
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                {% if form.pais.errors %}
                                    {{ form.pais(type="text", class="form-control form-control-user is-invalid") }}
                                    <div class="form-error">
                                        {% for e in form.pais.errors %}
                                            <span>{{ e }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.pais(type="text", class="form-control form-control-user", placeholder="Pais") }}
                                {% endif %}
                            </div>
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                    {% if form.ciudad.errors %}
                                        {{ form.ciudad(type="text", class="form-control form-control-user is-invalid") }}
                                        <div class="form-error">
                                            {% for e in form.ciudad.errors %}
                                                <span>{{ e }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.ciudad(type="text", class="form-control form-control-user", placeholder="Ciudad") }}
                                    {% endif %}
                                </div>
                            </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                {% if form.comuna.errors %}
                                    {{ form.comuna(type="text", class="form-control form-control-user is-invalid") }}
                                    <div class="form-error">
                                        {% for e in form.comuna.errors %}
                                            <span>{{ e }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.comuna(type="text", class="form-control form-control-user", placeholder="Comuna") }}
                                {% endif %}
                            </div>
                            <div class="col-sm-6">
                                {% if form.telefono_m.errors %}
                                    {{ form.telefono_m(type="text", class="form-control form-control-user is-invalid") }}
                                    <div class="form-error">
                                        {% for e in form.telefono_m.errors %}
                                            <span>{{ e }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.telefono_m(type="text", class="form-control form-control-user", placeholder="Telefono Movil") }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                {% if form.telefono_f.errors %}
                                    {{ form.telefono_f(type="text", class="form-control form-control-user is-invalid") }}
                                    <div class="form-error">
                                        {% for e in form.telefono_f.errors %}
                                            <span>{{ e }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.telefono_f(type="text", class="form-control form-control-user", placeholder="Telefono Fijo") }}
                                {% endif %}
                            </div>
                            <div class="col-sm-6">
                                {% if form.email.errors %}
                                    {{ form.email(type="text", class="form-control form-control-user is-invalid") }}
                                    <div class="form-error">
                                        {% for e in form.email.errors %}
                                            <span>{{ e }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.email(type="email", class="form-control form-control-user", placeholder="Correo Electronico") }}
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                        <p>Información Laboral</p>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                {% if form.profesion.errors %}
                                    {{ form.profesion(type="text", class="form-control form-control-user is-invalid") }}
                                    <div class="form-error">
                                        {% for e in form.profesion.errors %}
                                            <span>{{ e }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.profesion(type="text", class="form-control form-control-user", placeholder="Profesión") }}
                                {% endif %}
                            </div>
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                    {% if form.cargo.errors %}
                                        {{ form.cargo(type="text", class="form-control form-control-user is-invalid") }}
                                        <div class="form-error">
                                            {% for e in form.cargo.errors %}
                                                <span>{{ e }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.cargo(type="text", class="form-control form-control-user", placeholder="Cargo") }}
                                    {% endif %}
                                </div>
                            </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                {% if form.empleador.errors %}
                                    {{ form.empleador(type="text", class="form-control form-control-user is-invalid") }}
                                    <div class="form-error">
                                        {% for e in form.empleador.errors %}
                                            <span>{{ e }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.empleador(type="text", class="form-control form-control-user", placeholder="Empleador") }}
                                {% endif %}
                            </div>
                            <div class="col-sm-6">
                                {% if form.rut_emp.errors %}
                                    {{ form.rut_emp(type="text", class="form-control form-control-user is-invalid") }}
                                    <div class="form-error">
                                        {% for e in form.rut_emp.errors %}
                                            <span>{{ e }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.rut_emp(type="text", class="form-control form-control-user", placeholder="RUT Empleador") }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            {% if form.banco.errors %}
                                {{ form.banco(type="text", class="form-control form-control-user is-invalid") }}
                                <div class="form-error">
                                    {% for e in form.banco.errors %}
                                        <span>{{ e }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.banco(type="text", class="form-control form-control-user", placeholder="Nombre Banco") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {% if form.cuenta.errors %}
                                {{ form.cuenta(type="text", class="form-control form-control-user is-invalid") }}
                                <div class="form-error">
                                    {% for e in form.cuenta.errors %}
                                        <span>{{ e }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.cuenta(type="text", class="form-control form-control-user", placeholder="Numero de cuenta") }}
                            {% endif %}
                        </div>

                        <div>
                            {{ form.submit(class="btn btn-primary btn-user btn-block") }}
                        </div>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block Jquery %}
    <script src="{{ url_for('static', filename='js/jquery-3.4.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    {% endblock Jquery %}