{% extends "layout.html" %}
    {% block import %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    {% endblock import %}
    {% block menu2 %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/asset-management"><img src="{{ url_for('static', filename='img/head1.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/asset-management">Asset Management<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/wealth-management"><img src="{{ url_for('static', filename='img/head2.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/wealth-management">Wealth Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/corredores"><img src="{{ url_for('static', filename='img/head3.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/corredores">Corredores de Bolsa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/activos-alternativos"><img src="{{ url_for('static', filename='img/head4.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/activos-alternativos">Activos Alternativos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/quienes-somos"><img src="{{ url_for('static', filename='img/head5-color.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/quienes-somos"><span class="active-color">Quienes Sómos</span></a>
            </li>
        </ul>
    {% endblock menu2 %}
         <!--nav -->
    {% block header %}
        <div class="header-quienes-somos hader-titulo">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="menu-rastro">
                                <ul>
                                    <li><a href="/">Inicio</a></li>
                                    <li>></li>
                                    <li><a href="/quienes-somos">Quiénes Somos</a></li>
                                    <li>></li>
                                    <li><span class="active-pagina">Socios</span></li>
                                </ul>
                        </div>
                        <div class="icono-titulo">
                            <img src="{{ url_for('static', filename='img/quiens-somos-icon.svg') }}" alt="quienes-somos">
                                <h3>Quiénes Somos</h3>
                        </div>
                    </div>
                    <div class="col-lg-8"></div>
                </div>
            </div>
        </div>
    {% endblock header %}

    {% block contenido %}
        <div class="container">
            <div class="col-lg-12 red">
                <div class="row">
                    <ul class="menu-aparece green">
                        <li><a class="btn-ir-servicios" href="/quienes-somos/hitos">Hitos</a></li>
                        <li><a class="btn-ir-servicios-dos" href="/quienes-somos/socios">Socios</a></li>
                        <li><a class="btn-ir-servicios" href="/quienes-somos/MBI-en-la-prensa">MBI en la Prensa</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="seccion historia conoce">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 orange-dos">
                        <div class="    f-socio">
                            <img src="{{ url_for('static', filename='img/servicio2.svg') }}" alt="servicio"><h3>Socios</h3>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-12 ">
                                <div class="box-socio">
                                    <div class="imagen">
                                        <img src="{{ url_for('static', filename='img/socios-1.png') }}"    alt="socio">
                                    </div>
                                    <h3><strong>Arturo Claro Montes</strong></h3>
                                    {% for d in data %}
                                        {% if d.titulo == 'arturo claro montes' %}
                                            {{d.contenido | safe}}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="box-socio">
                                    <div class="imagen">
                                        <img src="{{ url_for('static', filename='img/socios-2.png') }}"    alt="socio">
                                    </div>
                                    <h3><strong>José Manuel Ugarte Hernández</strong></h3>
                                    {% for d in data %}
                                        {% if d.titulo == 'jose manuel ugarte' %}
                                            {{d.contenido | safe}}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="box-socio">
                                    <div class="imagen">
                                        <img src="{{ url_for('static', filename='img/socios-8.png') }}"    alt="socio">
                                    </div>
                                    <h3><strong>Germán Guerrero Falcón</strong></h3>
                                    {% for d in data %}
                                        {% if d.titulo == 'german guerrero falcon' %}
                                            {{d.contenido | safe}}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="box-socio">
                                    <div class="imagen">
                                        <img src="{{ url_for('static', filename='img/socios-3.png') }}"    alt="socio">
                                    </div>
                                    <h3><strong>Karin Küllmer Navarrete</strong></h3>
                                    {% for d in data %}
                                        {% if d.titulo == 'karim kullmer navarrete' %}
                                            {{d.contenido | safe}}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="box-socio">
                                <div class="imagen">
                                        <img src="{{ url_for('static', filename='img/socios-4.png') }}"    alt="socio">
                                    </div>
                                    <h3><strong>Humberto Muñoz Sotomayor</strong></h3>
                                    {% for d in data %}
                                        {% if d.titulo == 'humberto muñoz sotomayor' %}
                                            {{d.contenido | safe}}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="box-socio">
                                    <div class="imagen">
                                        <img src="{{ url_for('static', filename='img/socios-5.png') }}"    alt="socio">
                                    </div>
                                    <h3><strong>Jorge del Puerto Vergara </strong></h3>
                                    {% for d in data %}
                                        {% if d.titulo == 'jorge del puerto vergara' %}
                                            {{d.contenido | safe}}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="box-socio">
                                <div class="imagen">
                                        <img src="{{ url_for('static', filename='img/socios-7.png') }}"    alt="socio">
                                    </div>
                                    <h3><strong>Fernando Durán del Fierro</strong></h3>
                                    {% for d in data %}
                                        {% if d.titulo == 'fernando duran del fierro' %}
                                            {{d.contenido | safe}}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div><!--FIN DE col -->
                    <!--
                    <div class="col-lg-4 green"></div>
                    -->
                </div><!--FIN row -->
            </div><!--FIN container-->
        </div><!--FIN section-->
    {% endblock contenido %}
    {% block Jquery %}
        <script src="{{ url_for('static', filename='js/jquery-3.4.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.roadmap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    {% endblock Jquery %}