{% extends "layout.html" %}
    {% block import %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    {% endblock import %}
    {% block menu2 %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/asset-management"><img src="{{ url_for('static', filename='img/head1.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/asset-management">Asset Mangement<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/wealth-management"><img src="{{ url_for('static', filename='img/head2-color.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/wealth-management"><span class="active-color">Wealth Management</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/corredores"><img src="{{ url_for('static', filename='img/head3.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/corredores">Corredores de Bolsa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/activos-alternativos"><img src="{{ url_for('static', filename='img/head4.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/activos-alternativos">Activos Alternativos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/quienes-somos"><img src="{{ url_for('static', filename='img/head5.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/quienes-somos">Quienes Sómos</a>
            </li>
        </ul>
    {% endblock menu2 %}
    {% block header %}
        <!--nav -->
        <div class="header-asset hader-titulo">
            <div class="container">
            <div class="row">
                <div class="col-lg-4">
                <div class="menu-rastro">
                    <ul>
                        <li><a href="/">Inicio</a></li>
                        <li>></li>
                        <li><span class="active-pagina">Wealth Management</span></li>
                        <!--
                        <li>></li>
                        <li><span class="active-pagina">Nuestro Servicio</span></li>
                        -->
                    </ul>
                </div>
                <div class="icono-titulo">
                    <img src="{{ url_for('static', filename='img/asset-icono.svg') }}" alt="icono">
                        <h2>Wealth Management</h2>
                        <h3>Nuestros servicios</h3>
                </div>
                </div>
                <div class="col-lg-8"></div>
            </div>
            </div> 
        </div>
    {% endblock header %}
    {% block contenido %}
        <div class="nuestros">
            <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-1"></div>
                <div class="col-md-12 col-lg-5 padding-left padding-right">
                    <img src="{{ url_for('static', filename='img/servicio2.svg') }}" alt="nuestro-servicios">
                    <article>
                    <h2>Nuestros <strong>servicios</strong></h2>
                    {{ns.contenido | safe}}
                    </article>
                </div>
                <div class="col-md-12 col-lg-6">
                    <img class="ejecutivo responsive-img" src="{{ url_for('static', filename='img/wealth-man.jpg') }}" alt="nosotros">
                </div>
            </div>
            </div>
        </div>

        <div class="fondos">
            <div class="container">
            <div class="row">
                <div class="col-lg-4">
                <div class="icono-titulo">
                        <img src="{{ url_for('static', filename='img/asset.svg') }}" alt="icono">
                        <h2>Wealth Management</h2>
                        <h3>Nuestros productos</h3>
                </div>
                </div>
                <div class="col-lg-8"></div>
            </div>
            </div>
        </div>

        <div class="nuestros">
            <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-1"></div>
                <div class="col-md-12 col-lg-8 padding-right">
                    <img src="{{ url_for('static', filename='img/productos.svg') }}" alt="nuestro-servicios">
                    <article> 
                        <h2>Nuestros <strong>Productos</strong></h2>
                        {{ np.contenido | safe }}
                    </article>
                </div>
                <div class="col-md-12 col-lg-3">
                </div>
            </div>
            </div>
        </div>
    {% endblock contenido %}
    {% block Jquery %}
        <script src="{{ url_for('static', filename='js/jquery-3.4.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.roadmap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    {% endblock Jquery %}