{% extends "layout.html" %}
    {% block import %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/accordion.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    {% endblock import %}
    {% block menu2 %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/asset-management"><img src="{{ url_for('static', filename='img/head1.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/asset-management">Asset Mangement</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/wealth-management"><img src="{{ url_for('static', filename='img/head2.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/wealth-management">Wealth Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/corredores"><img src="{{ url_for('static', filename='img/head3.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/corredores">Corredores de Bolsa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/activos-alternativos"><img src="{{ url_for('static', filename='img/head4.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/activos-alternativos">Activos Alternativos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/quienes-somos"><img src="{{ url_for('static', filename='img/head5.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/quienes-somos">Quienes Sómos</a>
            </li>
        </ul>
    {% endblock menu2 %}
    {% block contenido %}
        <div class="nuestros">
            <div class="container">
                <div class="row">
                    <p class="error-es">Al parecer estamos experimentando dificultades técnicas, por favor intenta más tarde.</p>
                    <p class="error-en">Apparently we are experiencing technical difficulties, please try again later.</p>
                    <a class="btn-noticias" href="{{ url_for('main.home') }}">Volver al Inicio</a>
                </div>
            </div>
        </div>
    {% endblock contenido %}
    {% block Jquery %}
        <script src="{{ url_for('static', filename='js/jquery-3.4.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    {% endblock Jquery%}