{% extends "layout.html" %}
    {% block import %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/accordion.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    {% endblock import %}

    {% block menu2 %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/asset-management"><img src="{{ url_for('static', filename='img/head1.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/asset-management">Asset Management<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/wealth-management"><img src="{{ url_for('static', filename='img/head2.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/wealth-management">Wealth Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/corredores"><img src="{{ url_for('static', filename='img/head3.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/corredores">Corredores de Bolsa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/activos-alternativos"><img src="{{ url_for('static', filename='img/head4.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/activos-alternativos">Activos Alternativos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/quienes-somos"><img src="{{ url_for('static', filename='img/head5.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/quienes-somos">Quienes Sómos</a>
            </li>
        </ul>
    {% endblock menu2 %}
    {% block header %}
        <!--nav -->
        <div class="container-corredores-de-bolsa">
            <div class="container">
                <div class="menu-rastro">
                    <ul>
                    <li><a href="/">Inicio</a></li>
                    <li>></li>
                    <li><span class="active-pagina">Webinar</span></li>
                    </ul>
                </div>
            </div>
        </div>
    {% endblock header %}
{% block contenido %}

    <div class="container reg-corr">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                            <div class="col-lg-7">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Ingresa tus datos para acceder al Webinar</h1>
                                    </div>
                                    <hr>
                                    <form class="user" method="POST" action="">
                                        {{ form.hidden_tag() }}
                                        <div class="col-sm-12 mb-3 mb-sm-0">
                                            <p style="margin-bottom: 0rem!important;">Tu rut sin puntos ni guión y con digito verificador</p>
                                            <p style="font-size: 14px; font-style: italic; text-align: center;" >(Ej: 123456780)</p>
                                            {% if form.password.errors %}
                                                {{ form.password(type="text", class="form-control form-control-user is-invalid", oninput="checkRut(this)") }}
                                                <div class="form-error">
                                                    {% for e in form.password.errors %}
                                                        <span>{{ e }}</span>
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                {{ form.password(type="text", class="form-control form-control-user", oninput="checkRut(this)", placeholder="RUT sin puntos ni guión") }}
                                            {% endif %}
                                        </div>
                                        
                                        <div class="col-sm-12 mb-3 mb-sm-0">
                                            <p style="margin-top: 1rem;">Tu dirección de correo electrónico</p>
                                            {% if form.correo.errors %}
                                                {{ form.correo(type="text", class="form-control form-control-user is-invalid") }}
                                                <div class="form-error">
                                                    {% for e in form.correo.errors %}
                                                        <span>{{ e }}</span>
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                {{ form.correo(type="text", class="form-control form-control-user", placeholder="Ingresa tu correo") }}
                                            {% endif %}
                                        </div>
                                        <hr>
                                        <div>
                                            {{ form.submit(class="btn btn-primary btn-user btn-block") }}
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock contenido %}
    {% block Jquery %}
    <script src="{{ url_for('static', filename='js/jquery-3.4.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/validarRUT.js') }}"></script>
    {% endblock Jquery %}