<!doctype html>
<html lang="es">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
        <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}">
            <!-- Custom fonts for this template-->

        <title>MBI Login</title>
    </head>
    <body>
        <header>
            <div class="container">
                <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-light" id="nav">

                    <a href="/"><img class="logo-oculto" src="{{ url_for('static', filename='img/logo-border.svg') }}" alt="logo"></a>

                    <a href="tel:56226553700" class="contacto">Tel: (56-2) 2 655 3700</a>
                    <p class="direccion">Dir: Av. Presidente Riesco Nº5711, Piso 4, Las Condes <span class="idioma">Santiago, Chile</span></p>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link active" href="/">Volver a Inicio <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <img class="flag" src="{{ url_for('static', filename='img/united-states.svg') }}" alt="chile" width="17px">
                                    <img src="{{ url_for('static', filename='img/chile.svg') }}" alt="chile" width="17px">
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        <div class="container-login">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                        {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        <div class="container">
            <!-- Outer Row -->
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            
                            {% block contenido %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="seccion footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-12"> 
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="logo-footer">
                                <a href="/"><img src="{{ url_for('static', filename='img/logo-border.svg') }}" alt="logo"></a>
                            </div>
                            <a class="telefono" href="tel:56226553700"><span class="color">Tel:</span> (56-2) 2 655 3700</a>
                            <p class="dir"><span class="color">Dir:</span> Av. Presidente Riesco N°5711, Piso 4, Las Condes, Santiago, Chile</p>
                        </div>
                        <div class="col-lg-4 col-md-12">
                        </div>
                    </div>
                </div>
            </div>

            <div class="seccion pie">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12">
                        </div>
                        <div class="col-lg-4 col-md-12  col-sm-12">
                            <p class="copy">Copyright © Todos los Derechos Reservados MBI</p>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 box-bd">
                            <div class="linkedin">
                                <img src="{{ url_for('static', filename='img/linkedin-logo.svg') }}" alt="linkedin-logo">
                            </div>
                            <p class="bd">Legales</p>
                            <p class="bd">MBI AGF</p>
                            <p class="bd">MBI CDB</p>
                            <p class="bd"><a class="a-foot" href="/login">Intranet</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->

        
            <!-- Custom scripts for all pages-->

        <script src="{{ url_for('static', filename='js/jquery-3.4.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
</html>