{% extends "layout.html" %}
    {% block import %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/accordion.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    {% endblock import %}

    {% block menu2 %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/asset-management"><img src="{{ url_for('static', filename='img/head1.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/asset-management">Asset Management<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/wealth-management"><img src="{{ url_for('static', filename='img/head2.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/wealth-management">Wealth Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/corredores"><img src="{{ url_for('static', filename='img/head3.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/corredores">Corredores de Bolsa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/activos-alternativos"><img src="{{ url_for('static', filename='img/head4.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/activos-alternativos">Activos Alternativos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/quienes-somos"><img src="{{ url_for('static', filename='img/head5.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/quienes-somos">Quienes Sómos</a>
            </li>
        </ul>
    {% endblock menu2 %}
    {% block header %}
        <!--nav -->
        <div class="container-corredores-de-bolsa">
            <div class="container">
                <div class="menu-rastro">
                    <ul>
                    <li><a href="/">Inicio</a></li>
                    <li>></li>
                    <li><span class="active-pagina">Webinar</span></li>
                    </ul>
                </div>
            </div>
        </div>
    {% endblock header %}
    {% block contenido %}

        <div class="container reg-corr">
            <!-- Outer Row -->
            <div class="row justify-content-center">
                <div class="col-xl-12 col-lg-12 col-md-9">
                    <div class="row justify-content-center">
                        <div style="margin-top: 20px;">
                            <h3>{{webi.nombre}}</h3>
                        </div>
                    </div>
                    {% if webi.resumen %}
                        <div style="margin-top: 10px;">
                            <p>{{webi.resumen | safe}}</p>
                        </div>
                    {% endif %}
                    <div class="card o-hidden border-0 shadow-lg my-2">
                        
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            {% if chat %}
                            <iframe class="webinar-video" src="https://player.twitch.tv/?channel=webinarmbi&parent=www.mbi.cl" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe>
                            <iframe
                                class="webinar-chat"
                                id="chat_embed"
                                src="https://www.twitch.tv/embed/webinarmbi/chat?parent=www.mbi.cl"
                                >
                            </iframe>
                            <!--
                            <iframe class="webinar-video" src="https://www.youtube.com/embed/{{video}}?autoplay=1&enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
                            <iframe class="webinar-chat" src="https://www.youtube.com/live_chat?v={{video}}&embed_domain=www.mbi.cl" frameborder="0" allowfullscreen></iframe>
                            -->
                            {% else %}
                            <iframe class="webinar-video2" src="https://player.twitch.tv/?channel=webinarmbi&parent=www.mbi.cl" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe>

                            <!--
                            <iframe class="webinar-video2" src="https://www.youtube.com/embed/{{video}}?autoplay=1&enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
                            -->
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--
        {% if webi.preguntas %}
            <div class="seccion historia conoce">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="container mx-0">
                            <form class="user" id="contactForm">
                                {{ form.csrf_token }}
                                <fieldset>
                                    <div class="form-group">
                                        <p>{{ form.pregunta.label }}:</p>
                                        {% if form.pregunta.errors %}
                                            {{ form.pregunta(type="textarea", class="form-control is-invalid") }}
                                            <div class="form-error">
                                                {% for e in form.pregunta.errors %}
                                                    <span>{{ e }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.pregunta(type="textarea", class="form-control") }}
                                        {% endif %}
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        {{ form.submit(class="btn btn-outline-info", onClick="submitContact(event)") }}
                    </div>
                </div>
            </div>
        {% endif %}
        -->
        {% if webi.preguntas %}
            <div class="seccion conoce">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="container mx-0">
                            <p id="{{ rooms|title }}" class="select-room" style="display: none;">{{ rooms|title }}</p>
                            <div id="display-message-section">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <div id="input-area" class="input-group mb-3">
                            <input type="text" id="user_message" class="form-control" placeholder="Escriba aquí..." aria-label="Type a message" aria-describedby="basic-addon2" autocomplete="off">
                            <div class="input-group-append">
                                <button id="send_message" class="btn btn-warning" type="button">Enviar<i class="fas fa-paper-plane"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span id="get-username" style="display: none;">{{username}}</span>
        {% endif %}
    
        <div class="seccion historia conoce">
            <div class="container">
                <div class="row justify-content-center">
                    {% if webi.descripcion %}
                        <div style="margin-top: 20px;">
                            {{webi.descripcion | safe}}
                        </div>
                    {% endif %}
                    <div class="col-lg-12 col-sm-12 orange-dos">
                        <div class="row justify-content-center">
                            {% if mod %}
                                <div class="col-lg-4 col-md-12 ">
                                <div class="box-socio">
                                    <h3><strong>Moderador</strong></h3>
                                    <div class="imagen">
                                        {% if mod.foto %}
                                            <img style="width: 150px; height: 150px;" src="{{ url_for('static', filename='uploads/webinars/') }}{{mod.foto}}"    alt="socio">
                                        {% else %}
                                            <img style="width: 150px; height: 150px;" src="{{ url_for('static', filename='uploads/webinars/default.png') }}"    alt="socio">
                                        {% endif %}
                                    </div>
                                    <h3><strong>{{ mod.nombre | safe}}</strong></h3>
                                    <p>{{ mod.reseña | safe }}</p>
                                </div>
                                </div>
                            {% endif %}
                            {% for s in speakers %}
                            <div class="col-lg-4 col-md-12 ">
                                <div class="box-socio">
                                    <h3><strong>Speaker Invitado</strong></h3>
                                    <div class="imagen">
                                        {% if s.foto %}
                                            <img style="width: 150px; height: 150px;" src="{{ url_for('static', filename='uploads/webinars/') }}{{s.foto}}"    alt="socio">
                                        {% else %}
                                            <img style="width: 150px; height: 150px;" src="{{ url_for('static', filename='uploads/webinars/default.png') }}"    alt="socio">
                                        {% endif %}
                                    </div>
                                    <h3><strong>{{s.nombre | safe}}</strong></h3>
                                    <p>{{ s.reseña | safe }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="modal fade" id="modalAskForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Escribe tu pregunta</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <form class="user" id="contactForm">
                        {{ form.csrf_token }}
                        <fieldset>

                            <div class="form-group">
                                <p>{{ form.pregunta.label }}:</p>
                                {% if form.pregunta.errors %}
                                    {{ form.pregunta(type="textarea", class="form-control is-invalid") }}
                                    <div class="form-error">
                                        {% for e in form.pregunta.errors %}
                                            <span>{{ e }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.pregunta(type="textarea", class="form-control") }}
                                {% endif %}
                            </div>
                        </fieldset>
                        </form>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    {{ form.submit(class="btn btn-outline-info", onClick="submitContact(event)") }}
                    <button class="btn btn-default" type="button" data-dismiss="modal">Cancelar</button>
                </div>
                </div>
            </div>
        </div>
        -->
    {% endblock contenido %}
    {% block Jquery %}
    
    <script src="{{ url_for('static', filename='js/chat_page.js') }}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/socketio.js') }}"></script>
    

    <script src="{{ url_for('static', filename='js/jquery-3.4.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script type="text/javascript">
        function submitContact(e) {
            e.preventDefault();

            var webinar ='{{webi.link_page}}';
            var tipo ='{{webi.privado}}';
            var msj = $("#pregunta").val();
            console.log(name, msj)
            var dato = { webinar : webinar, mensaje : msj , tipo:tipo}; 
            // block btn
            var btn = document.getElementById("submit");
            btn.disabled = true;
            btn.innerHTML = '<div class="spinner"></div>';
            //$.post("http://3.133.140.36/api/pregunta/", data, function(data, status){
            //    console.log(status)
            //});

            $.ajax({
                type: "POST",
                url: "//www.mbi.cl/api/pregunta/",
                contentType: "application/json",
                data: JSON.stringify(dato),
                dataType: "json",
                success: function(response) {
                    console.log(response, 'paso');
                },
                error: function(err) {
                    console.log(err, 'error');
                }
            });
            alert("Tu pregunta ha sido enviada");
            var formulario = document.getElementById("contactForm")
            formulario.reset();
            btn.disabled = false;
            btn.innerHTML = "Enviar";
            
        }
    </script>
    {% endblock Jquery %}