{% extends "admin-layout.html" %}
    {% block import %}
  <!-- Custom fonts for this template -->
  <link href="{{ url_for('static', filename='admin/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='admin/css/sb-admin-2.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="{{ url_for('static', filename='admin/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">

  {% endblock import%}
  {% block menudash %}
      <li class="nav-item">
    {% endblock menudash %}

    {% block menupages %}
      <li class="nav-item">
    {% endblock menupages %}
        {% block submenupages %}
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        {% endblock submenupages %}
        {% block submenupages2 %}
            <a class="collapse-item" href="/admin/usuarios">Usuarios</a>
            <a class="collapse-item" href="/admin/fondos">Informacion de Fondos</a>
            <a class="collapse-item" href="/admin/textos">Textos Pagina Web</a>
            <a class="collapse-item" href="/admin/hitos">Hitos</a>
            <a class="collapse-item" href="/admin/formulario">Formularios</a>
        {% endblock submenupages2 %}
    
    {% block menuutil %}
        <li class="nav-item">
    {% endblock menuutil %}
        {% block submenuutil %}
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        {% endblock submenuutil %}
        {% block submenuutil2 %}
            <h6 class="collapse-header">Documentos:</h6>
            <a class="collapse-item" href="/admin/upload/otros">Subir Documento</a>
            <a class="collapse-item" href="/admin/upload/fondos">Subir Doc. Fondos</a>
            <a class="collapse-item" href="/admin/upload/legal-agf">subir Doc. Legales AGF</a>
            <a class="collapse-item" href="/admin/upload/legal-cdb">Subir Doc. Legales CDB</a>
            <a class="collapse-item" href="/admin/upload/legal-inv">Subir Doc. Legales Inv.</a>
            <a class="collapse-item" href="/admin/documentos">Ver Documentos</a>
            <hr>
            <h6 class="collapse-header">Noticias:</h6>
            <a class="collapse-item" href="/admin/subir-noticia">Subir Noticia</a>
            <a class="collapse-item" href="/admin/noticias">Ver Noticias</a>
        {% endblock submenuutil2 %}

    {% block menuwebi %}
        <li class="nav-item active">
    {% endblock menuwebi %}
        {% block submenuwebi %}
            <div id="collapseWebinar" class="collapse show" aria-labelledby="headingWebinar" data-parent="#accordionSidebar">
        {% endblock submenuwebi %}
        {% block submenuwebi2 %}
            <a class="collapse-item active" href="/admin/webinars/crear-webinar">Crear Webinar</a>
            <a class="collapse-item" href="/admin/webinars">Ver Webinars</a>
        {% endblock submenuwebi2 %}

        {% block contenido %}
          <h1 class="h3 mb-2 text-gray-800">Editar Speaker</h1>
          <p class="mb-4">Ingrese los datos para del Speaker</p>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">

                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Datos Speaker</h6>
                </div>
                <div class="card-body">
                    <form class="user" method="POST" action="" enctype="multipart/form-data">
                        {{ form.csrf_token }}
                        <fieldset>
                            <div style="display: none;">
                                {{ form.tipo(type="integer" , value=1)}}
                            </div>
                            <div class="form-group">
                                {% if tipo == 1 %}
                                    <p>{{ form.nombre.label(text="Nombre Moderador") }}:</p>
                                {% else %}
                                    <p>{{ form.nombre.label(text="Nombre Speaker Invitado") }}:</p>
                                {% endif %}
                                {% if form.nombre.errors %}
                                    {{ form.nombre(type="text", class="form-control is-invalid") }}
                                    <div class="form-error">
                                        {% for e in form.nombre.errors %}
                                            <span>{{ e }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.nombre(type="text", class="form-control") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <p>{{ form.reseña.label }}:</p>
                                {% if form.reseña.errors %}
                                    {{ form.reseña(type="textarea", class="form-control is-invalid") }}
                                    <div class="form-error">
                                        {% for e in form.reseña.errors %}
                                            <span>{{ e }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.reseña(type="textarea", class="form-control") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {% if foto %}
                                    <div>
                                        <p style="font-style: italic; font-size: 14px; font-size: 14px; margin: 0rem;">Ya existe una foto para este Speaker, si elige un nuevo archivo el anterior se eliminara</p>
                                        <p style="font-style: italic; font-size: 14px; font-size: 14px; margin: 0rem;">Imagen Actual:</p>
                                        <img style="width: 90px; height: 90px;" src="{{ url_for('static', filename='uploads/webinars/') }}{{foto}}"    alt="socio">
                                        <p style="font-style: italic; font-size: 14px; font-size: 14px;">La imagen esta escalada a un tamaño inferior</p>
                                    </div>
                                {% endif %}
                                <p>Seleccione un archivo con la imagen</p>
                                {% if form.foto.errors %}
                                {{ form.foto(type="file", class="form-control-file form-control-user is-invalid") }}
                                <div class="form-error">
                                    {% for e in form.foto.errors %}
                                        <span>{{ e }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                    {{ form.foto(class="form-control-file") }}
                                {% endif %}
                            </div>
                        </fieldset>
                            <div>
                                {{ form.submit(class="btn btn-outline-info ") }}
                            </div>
                    </form>
                </div>
            </div>

          {% endblock contenido %}

    {% block Jquery %}
    
  <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('static', filename='admin/vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='admin/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static', filename='admin/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static', filename='admin/js/sb-admin-2.min.js') }}"></script>

  <!-- Page level plugins -->
  <script src="{{ url_for('static', filename='admin/vendor/datatables/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='admin/vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

  <!-- Page level custom scripts -->
  <script src="{{ url_for('static', filename='admin/js/demo/datatables-demo.js') }}"></script>

  {% endblock Jquery %}