{% extends "admin-layout.html" %}
    {% block import %}
  <!-- Custom fonts for this template -->
  <link href="{{ url_for('static', filename='admin/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='admin/css/sb-admin-2.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="{{ url_for('static', filename='admin/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">

  {% endblock import%}
  {% block menudash %}
      <li class="nav-item">
    {% endblock menudash %}

    {% block menupages %}
      <li class="nav-item">
    {% endblock menupages %}
        {% block submenupages %}
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        {% endblock submenupages %}
        {% block submenupages2 %}
            <a class="collapse-item" href="/admin/usuarios">Usuarios</a>
            <a class="collapse-item" href="/admin/fondos">Informacion de Fondos</a>
            <a class="collapse-item" href="/admin/textos">Textos Pagina Web</a>
            <a class="collapse-item" href="/admin/hitos">Hitos</a>
        {% endblock submenupages2 %}

    {% block menuutil %}
      <li class="nav-item">
    {% endblock menuutil %}
        {% block submenuutil %}
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        {% endblock submenuutil %}
        {% block submenuutil2 %}
            <h6 class="collapse-header">Documentos:</h6>
            <a class="collapse-item" href="/admin/upload/otros">Subir Documento</a>
            <a class="collapse-item" href="/admin/upload/fondos">Subir Doc. Fondos</a>
            <a class="collapse-item" href="/admin/upload/legal-agf">subir Doc. Legales AGF</a>
            <a class="collapse-item" href="/admin/upload/legal-cdb">Subir Doc. Legales CDB</a>
            <a class="collapse-item" href="/admin/upload/legal-inv">Subir Doc. Legales Inv.</a>
            <a class="collapse-item" href="/admin/documentos">Ver Documentos</a>
            <hr>
            <h6 class="collapse-header">Noticias:</h6>
            <a class="collapse-item" href="/admin/subir-noticia">Subir Noticia</a>
            <a class="collapse-item" href="/admin/noticias">Ver Noticias</a>
        {% endblock submenuutil2 %}
    
    {% block menuwebi %}
        <li class="nav-item active">
    {% endblock menuwebi %}
        {% block submenuwebi %}
            <div id="collapseWebinar" class="collapse show" aria-labelledby="headingWebinar" data-parent="#accordionSidebar">
        {% endblock submenuwebi %}
        {% block submenuwebi2 %}
            <a class="collapse-item" href="/admin/webinars/crear-webinar">Crear Webinar</a>
            <a class="collapse-item active" href="/admin/webinars">Ver Webinars</a>
        {% endblock submenuwebi2 %}

        {% block contenido %}
          <h1 class="h3 mb-2 text-gray-800">Tables</h1>
          <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Usuarios</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                <th>Nombre Webinar</th>
                                <th>Fecha</th>
                                <th>Chat Activado</th>
                                <th>Link Webinar</th>
                                <th>Tipo Charla</th>
                                <th>Ver Speakers/preguntas</th>
                                <th>Ir al Chat</th>
                                <th>Editar Webinar</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for d in data %}
                                <tr>
                                    <td>{{d.nombre | safe}}</td>
                                    <td>{{d.fecha | safe}}</td>
                                    {% if d.chat %}
                                        <td><i class="fas fa-check-circle" style="color: green;"></i></td>
                                    {% else %}
                                        <td ><i class="fas fa-times-circle" style="color: red;"></i></td>
                                    {% endif %}
                                    <td><p id="link{{d.id}}" style="display: none;">{{d.url | safe}}</p></i><button  class="btn btn-success btn-circle btn-sm" onclick="myFunction({{d.id}})"><i class="fas fa-copy"></button></td>
                                    {% if d.privado %}
                                        <td>Privado</td>
                                    {% else %}
                                        <td>Publico</td>
                                    {% endif %}
                                    <td>
                                        <a class="btn btn-success btn-circle btn-sm" role="button" href="{{ url_for('.ver_speakers', id_webinar=d.id) }}" ><i class="fas fa-clipboard-list"></i></a>
                                        <a class="btn btn-info btn-circle btn-sm" role="button" href="{{ url_for('.ver_preguntas', id_webinar=d.id) }}" ><i class="fas fa-question-circle"></i></a>
                                    </td>
                                    <td>
                                        <a class="btn btn-primary btn-circle btn-sm" role="button" href="{{ url_for('.chat_webinar', id_webinar=d.id) }}" target="blank_"><i class="far fa-comments"></i></a>
                                    </td>
                                    <td>
                                        <a class="btn btn-primary btn-circle btn-sm" role="button" href="{{ url_for('.editar_webinar', id_webinar=d.id) }}" ><i class="fas fa-pencil-alt" ></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

          {% endblock contenido %}

    {% block Jquery %}

  <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('static', filename='admin/vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='admin/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static', filename='admin/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static', filename='admin/js/sb-admin-2.min.js') }}"></script>

  <!-- Page level plugins -->
  <script src="{{ url_for('static', filename='admin/vendor/datatables/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='admin/vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

  <!-- Page level custom scripts -->
  <script src="{{ url_for('static', filename='admin/js/demo/datatables-demo.js') }}"></script>
  <script>
    function myFunction(id) {
      var aux = "link"+id;
      var aux2 = document.createElement("input");
      aux2.setAttribute("value", document.getElementById(aux).innerHTML);
      document.body.appendChild(aux2);
      aux2.select();
      //copyText.setSelectionRange(0, 99999)
      document.execCommand("copy");
      alert("Se ha copiado el link");
      document.body.removeChild(aux2);
    }
    </script>
  {% endblock Jquery %}