{% extends "admin-layout.html" %}
    {% block import %}
  <!-- Custom fonts for this template -->
  <link href="{{ url_for('static', filename='admin/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='admin/css/sb-admin-2.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="{{ url_for('static', filename='admin/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
  <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script>tinymce.init({
    selector:'textarea',
    plugins: "link",
    toolbar: "link",
    default_link_target: "_blank"});
    </script>
  {% endblock import%}
  {% block menudash %}
      <li class="nav-item">
    {% endblock menudash %}
    {% block menupages %}
      <li class="nav-item active">
    {% endblock menupages %}
        {% block submenupages %}
            <div id="collapsePages" class="collapse show" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        {% endblock submenupages %}
        {% block submenupages2 %}
            <a class="collapse-item" href="/admin/usuarios">Usuarios</a>
            <a class="collapse-item" href="/admin/fondos">Informacion de Fondos</a>
            <a class="collapse-item active" href="/admin/textos">Textos Pagina Web</a>
            <a class="collapse-item" href="/admin/hitos">Hitos</a>
            <a class="collapse-item" href="/admin/formulario">Formularios</a>
        {% endblock submenupages2 %}

    {% block menuutil %}
        <li class="nav-item">
    {% endblock menuutil %}
        {% block submenuutil %}
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        {% endblock submenuutil %}
        {% block submenuutil2 %}
            <h6 class="collapse-header">Documentos:</h6>
            <a class="collapse-item" href="/admin/upload/otros">Subir Documento</a>
            <a class="collapse-item" href="/admin/upload/fondos">Subir Doc. Fondos</a>
            <a class="collapse-item" href="/admin/upload/legal-agf">subir Doc. Legales AGF</a>
            <a class="collapse-item" href="/admin/upload/legal-cdb">Subir Doc. Legales CDB</a>
            <a class="collapse-item" href="/admin/upload/legal-inv">Subir Doc. Legales Inv.</a>
            <a class="collapse-item" href="/admin/documentos">Ver Documentos</a>
            <hr>
            <h6 class="collapse-header">Noticias:</h6>
            <a class="collapse-item" href="/admin/subir-noticia">Subir Noticia</a>
            <a class="collapse-item" href="/admin/noticias">Ver Noticias</a>
        {% endblock submenuutil2 %}

    {% block menuwebi %}
        <li class="nav-item">
    {% endblock menuwebi %}
        {% block submenuwebi %}
            <div id="collapseWebinar" class="collapse" aria-labelledby="headingWebinar" data-parent="#accordionSidebar">
        {% endblock submenuwebi %}
        {% block submenuwebi2 %}
            <a class="collapse-item" href="/admin/webinars/crear-webinar">Crear Webinar</a>
            <a class="collapse-item" href="/admin/webinars">Ver Webinars</a>
        {% endblock submenuwebi2 %}


        {% block contenido %}
          <h1 class="h3 mb-2 text-gray-800">Tables</h1>
          <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset>
                        <div>
                            <p>Titulo:
                                {% if form.titulo.errors %}
                                    {{ form.titulo(type="text", class="form-control form-control-user is-invalid") }}
                                    <div class="form-error">
                                        {% for e in form.titulo.errors %}
                                            <span>{{ e }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.titulo(class="form-control", readonly=True) }}
                                {% endif %}
                            </p>
                        </div>
                        <div>
                            <p>Seccion:
                                {% if form.seccion.errors %}
                                    {{ form.seccion(type="text", class="form-control form-control-user is-invalid") }}
                                    <div class="form-error">
                                        {% for e in form.seccion.errors %}
                                            <span>{{ e }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.seccion(class="form-control", readonly=True) }}
                                {% endif %}
                            </p>
                        </div>
                        <div>
                            <p>Subseccion:
                                {% if form.subseccion.errors %}
                                    {{ form.subseccion(type="text", class="form-control form-control-user is-invalid") }}
                                    <div class="form-error">
                                        {% for e in form.subseccion.errors %}
                                            <span>{{ e }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.subseccion(class="form-control", readonly=True) }}
                                {% endif %}
                            </p>
                        </div>
                        <div>
                            <p>Contenido:
                                {% if form.contenido.errors %}
                                    {{ form.contenido(type="text", class="form-control form-control-user is-invalid") }}
                                    <div class="form-error">
                                        {% for e in form.contenido.errors %}
                                            <span>{{ e }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.contenido(class="form-control") }}
                                {% endif %}
                            </p>
                        </div>
                    </fieldset>
                    <div>
                        {{ form.submit(class="btn btn-outline-info") }}</div>
                </form>
              </div>
            </div>
          </div>
        {% endblock contenido %}

    {% block Jquery %}
    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='admin/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='admin/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='admin/js/sb-admin-2.min.js') }}"></script>

    <!-- Page level plugins -->
    <script src="{{ url_for('static', filename='admin/vendor/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static', filename='admin/js/demo/datatables-demo.js') }}"></script>
        
    {% endblock Jquery %}