{% extends "admin-layout.html" %}
    {% block import %}
  <!-- Custom fonts for this template -->
  <link href="{{ url_for('static', filename='admin/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='admin/css/sb-admin-2.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="{{ url_for('static', filename='admin/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
  {% endblock import%}
  {% block menudash %}
      <li class="nav-item">
    {% endblock menudash %}

    {% block menupages %}
      <li class="nav-item active">
    {% endblock menupages %}
        {% block submenupages %}
            <div id="collapsePages" class="collapse show" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        {% endblock submenupages %}
        {% block submenupages2 %}
            <a class="collapse-item" href="/admin/usuarios">Usuarios</a>
            <a class="collapse-item" href="/admin/fondos">Informacion de Fondos</a>
            <a class="collapse-item active" href="/admin/textos">Textos Pagina Web</a>
            <a class="collapse-item" href="/admin/hitos">Hitos</a>
            <a class="collapse-item" href="/admin/formulario">Formularios</a>
        {% endblock submenupages2 %}

    {% block menuutil %}
        <li class="nav-item">
    {% endblock menuutil %}
        {% block submenuutil %}
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        {% endblock submenuutil %}
        {% block submenuutil2 %}
            <h6 class="collapse-header">Documentos:</h6>
            <a class="collapse-item" href="/admin/upload/otros">Subir Documento</a>
            <a class="collapse-item" href="/admin/upload/fondos">Subir Doc. Fondos</a>
            <a class="collapse-item" href="/admin/upload/legal-agf">subir Doc. Legales AGF</a>
            <a class="collapse-item" href="/admin/upload/legal-cdb">Subir Doc. Legales CDB</a>
            <a class="collapse-item" href="/admin/upload/legal-inv">Subir Doc. Legales Inv.</a>
            <a class="collapse-item" href="/admin/documentos">Ver Documentos</a>
            <hr>
            <h6 class="collapse-header">Noticias:</h6>
            <a class="collapse-item" href="/admin/subir-noticia">Subir Noticia</a>
            <a class="collapse-item" href="/admin/noticias">Ver Noticias</a>
        {% endblock submenuutil2 %}

    {% block menuwebi %}
        <li class="nav-item">
    {% endblock menuwebi %}
        {% block submenuwebi %}
            <div id="collapseWebinar" class="collapse" aria-labelledby="headingWebinar" data-parent="#accordionSidebar">
        {% endblock submenuwebi %}
        {% block submenuwebi2 %}
            <a class="collapse-item" href="/admin/webinars/crear-webinar">Crear Webinar</a>
            <a class="collapse-item" href="/admin/webinars">Ver Webinars</a>
        {% endblock submenuwebi2 %}

        {% block contenido %}
          <h1 class="h3 mb-2 text-gray-800">Textos pagina</h1>
          <p class="mb-4">En esta seccion se encuentran todos los textos de la pagina general para su modificacion.</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Textos Home</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Titulo del texto</th>
                      <th>Subseccion</th>
                      <th>Contenido</th>
                      <th>Editar</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>ID</th>
                      <th>Titulo</th>
                      <th>Subseccion</th>
                      <th>Contenido</th>
                      <th> </th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% if home %}
                    {% for d in home %}
                    <tr>
                      <td>{{d.id}}</td>
                      <td>{{d.titulo}}</td>
                      <td>{{d.subseccion}}</td>
                      <td>{{d.contenido}}</td>
                      <td><a class="btn btn-primary btn-circle btn-sm" role="button" href="{{ url_for('.update_texto', id_txt=d.id) }}" ><i class="fas fa-pencil-alt" ></i> </a></td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Textos Asset Management</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Titulo del texto</th>
                      <th>Subseccion</th>
                      <th>Contenido</th>
                      <th>Editar</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>ID</th>
                      <th>Titulo</th>
                      <th>Subseccion</th>
                      <th>Contenido</th>
                      <th> </th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% if asset %}
                    {% for d in asset %}
                    <tr>
                      <td>{{d.id}}</td>
                      <td>{{d.titulo}}</td>
                      <td>{{d.subseccion}}</td>
                      <td>{{d.contenido}}</td>
                      <td><a class="btn btn-primary btn-circle btn-sm" role="button" href="{{ url_for('.update_texto', id_txt=d.id) }}" ><i class="fas fa-pencil-alt" ></i> </a></td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Textos Wealth Management</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Titulo del texto</th>
                      <th>Subseccion</th>
                      <th>Contenido</th>
                      <th>Editar</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>ID</th>
                      <th>Titulo</th>
                      <th>Subseccion</th>
                      <th>Contenido</th>
                      <th> </th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% if wealth %}
                    {% for d in wealth %}
                    <tr>
                      <td>{{d.id}}</td>
                      <td>{{d.titulo}}</td>
                      <td>{{d.subseccion}}</td>
                      <td>{{d.contenido}}</td>
                      <td><a class="btn btn-primary btn-circle btn-sm" role="button" href="{{ url_for('.update_texto', id_txt=d.id) }}" ><i class="fas fa-pencil-alt" ></i> </a></td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Textos Corredores de Bolsa</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Titulo del texto</th>
                      <th>Subseccion</th>
                      <th>Contenido</th>
                      <th>Editar</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>ID</th>
                      <th>Titulo</th>
                      <th>Subseccion</th>
                      <th>Contenido</th>
                      <th> </th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% if cdb %}
                    {% for d in cdb %}
                    <tr>
                      <td>{{d.id}}</td>
                      <td>{{d.titulo}}</td>
                      <td>{{d.subseccion}}</td>
                      <td>{{d.contenido}}</td>
                      <td><a class="btn btn-primary btn-circle btn-sm" role="button" href="{{ url_for('.update_texto', id_txt=d.id) }}" ><i class="fas fa-pencil-alt" ></i> </a></td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Textos Activos Alternativos</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Titulo del texto</th>
                      <th>Subseccion</th>
                      <th>Contenido</th>
                      <th>Editar</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>ID</th>
                      <th>Titulo</th>
                      <th>Subseccion</th>
                      <th>Contenido</th>
                      <th> </th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% if ac_alt %}
                    {% for d in ac_alt %}
                    <tr>
                      <td>{{d.id}}</td>
                      <td>{{d.titulo}}</td>
                      <td>{{d.subseccion}}</td>
                      <td>{{d.contenido}}</td>
                      <td><a class="btn btn-primary btn-circle btn-sm" role="button" href="{{ url_for('.update_texto', id_txt=d.id) }}" ><i class="fas fa-pencil-alt" ></i> </a></td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Textos Quienes Somos</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Titulo del texto</th>
                      <th>Subseccion</th>
                      <th>Contenido</th>
                      <th>Editar</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>ID</th>
                      <th>Titulo</th>
                      <th>Subseccion</th>
                      <th>Contenido</th>
                      <th> </th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% if qs %}
                    {% for d in qs %}
                    <tr>
                      <td>{{d.id}}</td>
                      <td>{{d.titulo}}</td>
                      <td>{{d.subseccion}}</td>
                      <td>{{d.contenido}}</td>
                      <td><a class="btn btn-primary btn-circle btn-sm" role="button" href="{{ url_for('.update_texto', id_txt=d.id) }}" ><i class="fas fa-pencil-alt" ></i> </a></td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Textos Legales</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Titulo del texto</th>
                      <th>Subseccion</th>
                      <th>Contenido</th>
                      <th>Idioma</th>
                      <th>Editar</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>ID</th>
                      <th>Titulo</th>
                      <th>Subseccion</th>
                      <th>Contenido</th>
                      <th>Idioma</th>
                      <th> </th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% if legales %}
                    {% for d in legales %}
                    <tr>
                      <td>{{d.id}}</td>
                      <td>{{d.titulo}}</td>
                      <td>{{d.subseccion}}</td>
                      <td>{{d.contenido}}</td>
                      <td>{{d.idioma}}</td>
                      <td><a class="btn btn-primary btn-circle btn-sm" role="button" href="{{ url_for('.update_texto', id_txt=d.id) }}" ><i class="fas fa-pencil-alt" ></i> </a></td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Textos Version Ingles</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Titulo del texto</th>
                      <th>Subseccion</th>
                      <th>Contenido</th>
                      <th>Editar</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>ID</th>
                      <th>Titulo</th>
                      <th>Subseccion</th>
                      <th>Contenido</th>
                      <th> </th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% if txt_EN %}
                    {% for d in txt_EN %}
                    <tr>
                      <td>{{d.id}}</td>
                      <td>{{d.titulo}}</td>
                      <td>{{d.subseccion}}</td>
                      <td>{{d.contenido}}</td>
                      <td><a class="btn btn-primary btn-circle btn-sm" role="button" href="{{ url_for('.update_texto', id_txt=d.id) }}" ><i class="fas fa-pencil-alt" ></i> </a></td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          {% endblock contenido %}

    {% block Jquery %}

  <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('static', filename='admin/vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='admin/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static', filename='admin/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static', filename='admin/js/sb-admin-2.min.js') }}"></script>

  <!-- Page level plugins -->
  <script src="{{ url_for('static', filename='admin/vendor/datatables/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='admin/vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

  <!-- Page level custom scripts -->
  <script src="{{ url_for('static', filename='admin/js/demo/datatables-demo.js') }}"></script>

  {% endblock Jquery %}