{% extends "admin-layout.html" %}
    {% block import %}
  <!-- Custom fonts for this template -->
  <link href="{{ url_for('static', filename='admin/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='admin/css/sb-admin-2.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="{{ url_for('static', filename='admin/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
  {% endblock import%}
  {% block menudash %}
      <li class="nav-item">
    {% endblock menudash %}

    {% block menupages %}
      <li class="nav-item active">
    {% endblock menupages %}
        {% block submenupages %}
            <div id="collapsePages" class="collapse show" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        {% endblock submenupages %}
        {% block submenupages2 %}
            <a class="collapse-item" href="/admin/usuarios">Usuarios</a>
            <a class="collapse-item" href="/admin/fondos">Informacion de Fondos</a>
            <a class="collapse-item" href="/admin/textos">Textos Pagina Web</a>
            <a class="collapse-item" href="/admin/hitos">Hitos</a>
            <a class="collapse-item active" href="/admin/formulario">Formularios</a>
        {% endblock submenupages2 %}

    {% block menuutil %}
      <li class="nav-item">
    {% endblock menuutil %}
        {% block submenuutil %}
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        {% endblock submenuutil %}
        {% block submenuutil2 %}
            <h6 class="collapse-header">Documentos:</h6>
            <a class="collapse-item" href="/admin/upload/otros">Subir Documento</a>
            <a class="collapse-item" href="/admin/upload/fondos">Subir Doc. Fondos</a>
            <a class="collapse-item" href="/admin/upload/legal-agf">subir Doc. Legales AGF</a>
            <a class="collapse-item" href="/admin/upload/legal-cdb">Subir Doc. Legales CDB</a>
            <a class="collapse-item" href="/admin/upload/legal-inv">Subir Doc. Legales Inv.</a>
            <a class="collapse-item" href="/admin/documentos">Ver Documentos</a>
            <hr>
            <h6 class="collapse-header">Noticias:</h6>
            <a class="collapse-item" href="/admin/subir-noticia">Subir Noticia</a>
            <a class="collapse-item" href="/admin/noticias">Ver Noticias</a>
        {% endblock submenuutil2 %}

    {% block menuwebi %}
        <li class="nav-item">
    {% endblock menuwebi %}
        {% block submenuwebi %}
            <div id="collapseWebinar" class="collapse" aria-labelledby="headingWebinar" data-parent="#accordionSidebar">
        {% endblock submenuwebi %}
        {% block submenuwebi2 %}
            <a class="collapse-item" href="/admin/webinars/crear-webinar">Crear Webinar</a>
            <a class="collapse-item" href="/admin/webinars">Ver Webinars</a>
        {% endblock submenuwebi2 %}

        {% block contenido %}
          <h1 class="h3 mb-2 text-gray-800">Tables</h1>
          <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

             <!-- DataTales Example -->
             <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Formularios de registro</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <tr>
                                    <th>RUT</th>
                                    <td>{{ d.rut }}</td>
                                </tr>
                                <tr>
                                    <th>Nombre</th>
                                    <td>{{ d.nombre }}</td>
                                </tr>
                                <tr>
                                    <th>Apellido Paterno</th>
                                    <td>{{ d.apellidoP }}</td>
                                </tr>
                                <tr>
                                    <th>Apellido Materno</th>
                                    <td>{{ d.apellidoM }}</td>
                                </tr>
                                <tr>
                                    <th>Fecha de Nacimiento</th>
                                    <td>{{ d.fecha_nac }}</td>
                                </tr>
                                <tr>
                                    <th>Nacionalidad</th>
                                    <td>{{ d.nacionalidad }}</td>
                                </tr>
                                <tr>
                                    <th>Estado Civil</th>
                                    <td>{{ d.estado }}</td>
                                </tr>
                                <tr>
                                    <th>Pais</th>
                                    <td>{{ d.pais }}</td>
                                </tr>
                                <tr>
                                    <th>Ciudad</th>
                                    <td>{{ d.ciudad }}</td>
                                </tr>
                                <tr>
                                    <th>Comuna</th>
                                    <td>{{ d.comuna }}</td>
                                </tr>
                                <tr>
                                    <th>Direccion</th>
                                    <td>{{ d.direccion }}</td>
                                </tr>
                                <tr>
                                    <th>Telefono Movil</th>
                                    <td>{{ d.telefono_m }}</td>
                                </tr>
                                <tr>
                                    <th>Telefono Fijo</th>
                                    <td>{{ d.telefono_f }}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>{{ d.email }}</td>
                                </tr>
                                <tr>
                                    <th>Profesion</th>
                                    <td>{{ d.profesion }}</td>
                                </tr>
                                <tr>
                                    <th>Cargo</th>
                                    <td>{{ d.cargo }}</td>
                                </tr>
                                <tr>
                                    <th>Rut Empleador</th>
                                    <td>{{ d.rut_emp }}</td>
                                </tr>
                                <tr>
                                    <th>Empleador</th>
                                    <td>{{ d.empleador }}</td>
                                </tr>
                                <tr>
                                    <th>Banco</th>
                                    <td>{{ d.banco }}</td>
                                </tr>
                                <tr>
                                    <th>Cuenta</th>
                                    <td>{{ d.cuenta }}</td>
                                </tr>
                        </table>
                    </div>
                </div>
            </div>

          {% endblock contenido %}

    {% block Jquery %}

  <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('static', filename='admin/vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='admin/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static', filename='admin/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static', filename='admin/js/sb-admin-2.min.js') }}"></script>

  <!-- Page level plugins -->
  <script src="{{ url_for('static', filename='admin/vendor/datatables/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='admin/vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

  <!-- Page level custom scripts -->
  <script src="{{ url_for('static', filename='admin/js/demo/datatables-demo.js') }}"></script>

  {% endblock Jquery %}