{% extends "admin-layout.html" %}
    {% block import %}
  <!-- Custom fonts for this template -->
  <link href="{{ url_for('static', filename='admin/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='admin/css/sb-admin-2.css') }}" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="{{ url_for('static', filename='admin/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
  {% endblock import%}
  {% block menudash %}
      <li class="nav-item">
    {% endblock menudash %}

    {% block menupages %}
      <li class="nav-item active">
    {% endblock menupages %}
        {% block submenupages %}
            <div id="collapsePages" class="collapse show" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        {% endblock submenupages %}
        {% block submenupages2 %}
            <a class="collapse-item" href="/admin/usuarios">Usuarios</a>
            <a class="collapse-item active" href="/admin/fondos">Informacion de Fondos</a>
            <a class="collapse-item" href="/admin/textos">Textos Pagina Web</a>
            <a class="collapse-item" href="/admin/hitos">Hitos</a>
            <a class="collapse-item" href="/admin/formulario">Formularios</a>
        {% endblock submenupages2 %}
    
    {% block menuutil %}
        <li class="nav-item">
    {% endblock menuutil %}
        {% block submenuutil %}
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        {% endblock submenuutil %}
        {% block submenuutil2 %}
            <h6 class="collapse-header">Documentos:</h6>
            <a class="collapse-item" href="/admin/upload/otros">Subir Documento</a>
            <a class="collapse-item" href="/admin/upload/fondos">Subir Doc. Fondos</a>
            <a class="collapse-item" href="/admin/upload/legal-agf">subir Doc. Legales AGF</a>
            <a class="collapse-item" href="/admin/upload/legal-cdb">Subir Doc. Legales CDB</a>
            <a class="collapse-item" href="/admin/upload/legal-inv">Subir Doc. Legales Inv.</a>
            <a class="collapse-item" href="/admin/documentos">Ver Documentos</a>
            <hr>
            <h6 class="collapse-header">Noticias:</h6>
            <a class="collapse-item" href="/admin/subir-noticia">Subir Noticia</a>
            <a class="collapse-item" href="/admin/noticias">Ver Noticias</a>
        {% endblock submenuutil2 %}

    {% block menuwebi %}
        <li class="nav-item">
    {% endblock menuwebi %}
        {% block submenuwebi %}
            <div id="collapseWebinar" class="collapse" aria-labelledby="headingWebinar" data-parent="#accordionSidebar">
        {% endblock submenuwebi %}
        {% block submenuwebi2 %}
            <a class="collapse-item" href="/admin/webinars/crear-webinar">Crear Webinar</a>
            <a class="collapse-item" href="/admin/webinars">Ver Webinars</a>
        {% endblock submenuwebi2 %}

        {% block contenido %}
          <h1 class="h3 mb-2 text-gray-800">Tables</h1>
          <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
            {% if data %}
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Fondos Existentes</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                    <th>Nombre Fondo</th>
                                    <th>Nemotecnico</th>
                                    <th>Ruta WEB</th>
                                    <th>Editar Texto</th>
                                    <th>Editar Fondo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for d in data %}
                                    <tr>
                                        <td>{{d.nombre_fondo | safe}}</td>
                                        <td>{{d.nemo | safe}}</td>
                                        <td>{{d.ruta_web | safe}}</td>
                                        <td><a class="btn btn-success btn-circle btn-sm" role="button" href="{{ url_for('.update_fondo', id_fondo=d.nemo) }}" ><i class="far fa-edit" ></i> </a></td>
                                        <td>
                                            <a class="btn btn-primary btn-circle btn-sm" role="button" href="#" ><i class="fas fa-pencil-alt" ></i></a>
                                            <a role="button" class="btn btn-danger btn-circle btn-sm" data-toggle="modal" data-target="#deleteModal{{d.id}}"><i class="fas fa-trash-alt" ></i></a>
                                            <div class="modal fade" id="deleteModal{{d.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteModalLabel">Esta seguro que desea eliminar este fondo? {{d.id}} </h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true"></span>
                                                    </button>
                                                    </div>
                                                    <div class="modal-body"><p>se eliminara tambien el texto asociado al fondo</p></div>
                                                    <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                    <form action="{{ url_for('.delFondo', f_id=d.id) }}" method="POST">
                                                        <input class="btn btn-danger" type="submit" value="Eliminar">
                                                    </form>
                                                    </div>
                                                </div>
                                                </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
            {% endif %}
            <div class="card-body">
                <a class="btn btn-primary" href="fondos/nuevo-fondo" role="button">Agregar Fondo</a>
            </div>
            </div>

          {% endblock contenido %}

    {% block Jquery %}

  <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('static', filename='admin/vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='admin/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static', filename='admin/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static', filename='admin/js/sb-admin-2.min.js') }}"></script>

  <!-- Page level plugins -->
  <script src="{{ url_for('static', filename='admin/vendor/datatables/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='admin/vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

  <!-- Page level custom scripts -->
  <script src="{{ url_for('static', filename='admin/js/demo/datatables-demo.js') }}"></script>

  {% endblock Jquery %}