{% extends "admin-layout.html" %}
    {% block import %}
  <!-- Custom fonts for this template -->
  <link href="{{ url_for('static', filename='admin/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='admin/css/sb-admin-2.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="{{ url_for('static', filename='admin/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
  <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script>tinymce.init({
    selector:'.textarea',
    plugins: "link",
    toolbar: "link",
    default_link_target: "_blank"});
    </script>

  {% endblock import%}
  {% block menudash %}
      <li class="nav-item">
    {% endblock menudash %}

    {% block menupages %}
      <li class="nav-item">
    {% endblock menupages %}
        {% block submenupages %}
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        {% endblock submenupages %}
        {% block submenupages2 %}
            <a class="collapse-item" href="/admin/usuarios">Usuarios</a>
            <a class="collapse-item" href="/admin/fondos">Informacion de Fondos</a>
            <a class="collapse-item" href="/admin/textos">Textos Pagina Web</a>
            <a class="collapse-item" href="/admin/hitos">Hitos</a>
            <a class="collapse-item" href="/admin/formulario">Formularios</a>
        {% endblock submenupages2 %}
    
    {% block menuutil %}
        <li class="nav-item">
    {% endblock menuutil %}
        {% block submenuutil %}
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        {% endblock submenuutil %}
        {% block submenuutil2 %}
            <h6 class="collapse-header">Documentos:</h6>
            <a class="collapse-item" href="/admin/upload/otros">Subir Documento</a>
            <a class="collapse-item" href="/admin/upload/fondos">Subir Doc. Fondos</a>
            <a class="collapse-item" href="/admin/upload/legal-agf">subir Doc. Legales AGF</a>
            <a class="collapse-item" href="/admin/upload/legal-cdb">Subir Doc. Legales CDB</a>
            <a class="collapse-item" href="/admin/upload/legal-inv">Subir Doc. Legales Inv.</a>
            <a class="collapse-item" href="/admin/documentos">Ver Documentos</a>
            <hr>
            <h6 class="collapse-header">Noticias:</h6>
            <a class="collapse-item" href="/admin/subir-noticia">Subir Noticia</a>
            <a class="collapse-item" href="/admin/noticias">Ver Noticias</a>
        {% endblock submenuutil2 %}

    {% block menuwebi %}
        <li class="nav-item active">
    {% endblock menuwebi %}
        {% block submenuwebi %}
            <div id="collapseWebinar" class="collapse show" aria-labelledby="headingWebinar" data-parent="#accordionSidebar">
        {% endblock submenuwebi %}
        {% block submenuwebi2 %}
            <a class="collapse-item active" href="/admin/webinars/crear-webinar">Crear Webinar</a>
            <a class="collapse-item" href="/admin/webinars">Ver Webinars</a>
        {% endblock submenuwebi2 %}

        {% block contenido %}
          <h1 class="h3 mb-2 text-gray-800">Crear Webinar</h1>
          <p class="mb-4">Ingrese los datos para el nuevo webinar</p>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">

                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Datos Webinar</h6>
                    <a class="btn btn-primary" href="/static/uploads/prueba.xlsx" download=""> Descargar plantilla de clientes</a>
                </div>
                <div class="card-body">
                <form class="user" method="POST" action="" enctype="multipart/form-data">
                {{ form.csrf_token }}
                <fieldset>
                    <div class="form-group">
                        <p>{{ form.nombre.label }}:</p>
                        {% if form.nombre.errors %}
                            {{ form.nombre(type="text", class="form-control is-invalid") }}
                            <div class="form-error">
                                {% for e in form.nombre.errors %}
                                    <span>{{ e }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.nombre(type="text", class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <div>
                            {{form.fecha.label()}}
                            {{form.fecha(type="date", class="form-control")}}
                                {% if form.fecha.errors %}
                                {% for e in form.fecha.errors %}
                                    <span class="text-danger">{{ e }}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            {{form.hora.label()}}
                            {{form.hora(type="time", class="form-control")}}
                                {% if form.hora.errors %}
                                {% for e in form.hora.errors %}
                                    <span class="text-danger">{{ e }}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <p>{{ form.resumen.label }}:</p>
                        {% if form.resumen.errors %}
                            {{ form.resumen(type="textarea", class="form-control is-invalid textarea") }}
                            <div class="form-error">
                                {% for e in form.resumen.errors %}
                                    <span>{{ e }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.resumen(type="textarea", class="form-control textarea") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <p>{{ form.descripcion.label }}:</p>
                        {% if form.descripcion.errors %}
                            {{ form.descripcion(type="textarea", class="form-control is-invalid textarea") }}
                            <div class="form-error">
                                {% for e in form.descripcion.errors %}
                                    <span>{{ e }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.descripcion(type="textarea", class="form-control textarea") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <p>{{ form.correos.label }}:</p>
                        {% if form.correos.errors %}
                            {{ form.correos(type="text", class="form-control is-invalid") }}
                            <div class="form-error">
                                {% for e in form.correos.errors %}
                                    <span>{{ e }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.correos(type="text", class="form-control") }}
                        {% endif %}
                    </div>
                    <!--
                    <div class="form-group">
                        <p>{{ form.telefonos.label }}:</p>
                        {% if form.telefonos.errors %}
                            {{ form.telefonos(type="text", class="form-control is-invalid") }}
                            <div class="form-error">
                                {% for e in form.telefonos.errors %}
                                    <span>{{ e }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.telefonos(type="text", class="form-control") }}
                        {% endif %}
                    </div>
                    
                    <div class="form-group">
                        <p>{{ form.link_youtube.label }}:</p>
                        {% if form.link_youtube.errors %}
                            {{ form.link_youtube(type="text", class="form-control datetimepicker-input is-invalid", id="datetimepicker", data_toggle="datetimepicker", data_target="#datetimepicker") }}
                            <div class="form-error">
                                {% for e in form.link_youtube.errors %}
                                    <span>{{ e }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.link_youtube(type="text", class="form-control ") }}
                        {% endif %}
                    </div>
                    -->
                    <div class="custom-control custom-checkbox">
                        {{ form.preguntas(type="checkbox" ,class="custom-control-input") }}
                        {{ form.preguntas.label(class="custom-control-label")}}
                    </div>
                    <!--
                    <div class="custom-control custom-checkbox">
                        {{ form.chat(type="checkbox" ,class="custom-control-input") }}
                        {{ form.chat.label(class="custom-control-label")}}
                    </div>
                    -->
                    <div class="custom-control custom-checkbox">
                        {{ form.privado(type="checkbox" ,class="custom-control-input") }}
                        {{ form.privado.label(class="custom-control-label")}}
                    </div>
                    <div class="form-group archivo">
                        <p>Seleccione un archivo .csv con los clientes que tendran acceso al webinar</p>
                        {% if form.archivo.errors %}
                        {{ form.archivo(type="file", class="form-control-file form-control-user is-invalid") }}
                        <div class="form-error">
                            {% for e in form.archivo.errors %}
                                <span>{{ e }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form.archivo(class="form-control-file") }}
                        {% endif %}
                    </div>
                </fieldset>
                    <div>
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                </form>
            </div>
            </div>

          {% endblock contenido %}

    {% block Jquery %}
    
  <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('static', filename='admin/vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='admin/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static', filename='admin/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static', filename='admin/js/sb-admin-2.min.js') }}"></script>

  <!-- Page level plugins -->
  <script src="{{ url_for('static', filename='admin/vendor/datatables/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='admin/vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

  <!-- Page level custom scripts -->
  <script src="{{ url_for('static', filename='admin/js/demo/datatables-demo.js') }}"></script>

    <script>
        $('[name="privado"]').on('change', function() {
            $('.archivo').toggle(this.checked);
        }).change();
    </script>

    
  {% endblock Jquery %}