{% extends "login-layout.html" %}
{% block contenido %}
    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
    <div class="col-lg-7">
    <div class="p-5">
        <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Cree su cuenta aqui!</h1>
        </div>
        <form class="user" method="POST" action="">
            {{ form.hidden_tag() }}
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                {% if form.nombre.errors %}
                    {{ form.nombre(type="text", class="form-control form-control-user is-invalid") }}
                    <div class="form-error">
                        {% for e in form.nombre.errors %}
                            <span>{{ e }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.nombre(type="text", class="form-control form-control-user", placeholder="Nombre") }}
                {% endif %}
            </div>
            <div class="col-sm-6">
                {% if form.apellido.errors %}
                    {{ form.apellido(type="text", class="form-control form-control-user is-invalid") }}
                    <div class="form-error">
                        {% for e in form.apellido.errors %}
                            <span>{{ e }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.apellido(type="text", class="form-control form-control-user", placeholder="Apellido") }}
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            {% if form.username.errors %}
                {{ form.username(type="text", class="form-control form-control-user is-invalid") }}
                <div class="form-error">
                    {% for e in form.username.errors %}
                        <span>{{ e }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.username(type="text", class="form-control form-control-user", placeholder="Nombre de Usuario") }}
            {% endif %}
        </div>
        <div class="form-group">
            {% if form.email.errors %}
                {{ form.email(type="email", class="form-control form-control-user is-invalid") }}
                <div class="form-error">
                    {% for e in form.email.errors %}
                        <span>{{ e }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.email(type="email", class="form-control form-control-user", placeholder="Correo Electronico") }}
            {% endif %}
        </div>
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                {% if form.contraseña.errors %}
                    {{ form.contraseña(type="password", class="form-control form-control-user is-invalid") }}
                    <div class="form-error">
                        {% for e in form.contraseña.errors %}
                            <span>{{ e }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.contraseña(type="password", class="form-control form-control-user", placeholder="Contraseña") }}
                {% endif %}
            </div>
            <div class="col-sm-6">
                    {% if form.conf_contraseña.errors %}
                    {{ form.conf_contraseña(type="password", class="form-control form-control-user is-invalid") }}
                    <div class="form-error">
                        {% for e in form.conf_contraseña.errors %}
                            <span>{{ e }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.conf_contraseña(type="password", class="form-control form-control-user", placeholder="Confirmar Contraseña") }}
                {% endif %}
            </div>
        </div>
        <div>
            {{ form.submit(class="btn btn-primary btn-user btn-block") }}
        </div>
        </form>
        <hr>
        <div class="text-center">
        <a class="small" href="/reset-password">Olvido su contraseña?</a>
        </div>
        <div class="text-center">
        <a class="small" href="/login">Ya tiene cuenta? Ingrese aqui!</a>
        </div>
    </div>
    </div>
{% endblock contenido %}