{% extends "layout-EN.html" %}
    {% block import %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    {% endblock import %}
    {% block menu2 %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/EN-en/asset-management"><img src="{{ url_for('static', filename='img/head1.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/EN-en/asset-management">Asset Management<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/EN-en/wealth-management"><img src="{{ url_for('static', filename='img/head2.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/EN-en/wealth-management">Wealth Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/EN-en/corredores"><img src="{{ url_for('static', filename='img/head3.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/EN-en/corredores">Brokers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/EN-en/activos-alternativos"><img src="{{ url_for('static', filename='img/head4-color.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/EN-en/activos-alternativos"><span class="active-color">Alternative Assets</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/EN-en/quienes-somos"><img src="{{ url_for('static', filename='img/head5.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/EN-en/quienes-somos">About Us</a>
            </li>
        </ul>
    {% endblock menu2 %}
    {% block header %}
        <!--nav -->
        <div class="header-bolsa hader-titulo">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="menu-rastro">
                            <ul>
                                <li><a href="/EN-en/">Home</a></li>
                                <li>></li>
                                <li><span class="active-pagina">Alternative Assets</span></li>
                            </ul>
                        </div>
                        <div class="icono-titulo">
                            <img src="{{ url_for('static', filename='img/activos-alternativos.svg') }}" alt="icono">
                            <h3>Alternative Assets</h3>
                        </div>
                    </div>
                    <div class="col-lg-8"></div>
                </div>
            </div>
        </div>
    {% endblock header %}
    {% block contenido %}
        <div class="nuestros-dos">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-6 padding-left padding-right">
                        <img src="{{ url_for('static', filename='img/unnamed.svg') }}"  alt="nuestro-servicios">
                        <article>
                            <h2>Alternative <strong>Assets</strong></h2>
                            {% for d in data %}
                                {% if d.titulo == 'activos alternativos' %}
                                    {{d.contenido | safe}}
                                {% endif %}
                            {% endfor %}
                        </article>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <img class="ejecutivo responsive-img" src="{{ url_for('static', filename='img/activos-alt.jpg') }}" alt="activos">
                    </div>
                </div>
            </div>
        </div>

        <div class="seccion">
            <div class="container">
                <div class="row">
                    <div class="col-lg-1 col-sm-12  pink"></div>
                    <div class="col-lg-8 col-sm-12 conoce orange">
                        <div class="asset">
                            <figure>
                                <img src="{{ url_for('static', filename='img/unnamed-1.svg') }}" alt="sector Inmobiliario">
                            </figure>
                        </div>
                        <div class="asset">
                            <article>
                                <h3><strong><br><br>Real State Sector<br><br></strong></h3>
                                <h3>Centro Comercial<strong> Plaza América <br></strong></h3>
                                {% for d in data %}
                                    {% if d.titulo == 'centro comercial plaza america' %}
                                        {{d.contenido | safe}}
                                    {% endif %}
                                {% endfor %}
                                <p>Web Site: <a href="https://www.plazamerica.cl" target="_blank">www.plazamerica.cl</a></p>
                                <figure>
                                    <img class="ejecutivo w-100" src="{{ url_for('static', filename='img/Activos-dos.png') }}" alt="activos">
                                </figure>
                            </article>
                            <div class="asset alt-divider2"></div>
                            <article>
                                <h3><br><br>La Condes<strong> Design <br></strong></h3>
                                {% for d in data %}
                                    {% if d.titulo == 'las condes design' %}
                                        {{d.contenido | safe}}
                                    {% endif %}
                                {% endfor %}
                                <p>Web Site: <a href="https://www.lascondesdesign.cl/" target="_blank">www.lascondesdesign.cl</a></p>
                                <figure>
                                    <img class="ejecutivo w-100" src="{{ url_for('static', filename='img/Activos-tres.png') }}" alt="activos">
                                </figure>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 green"></div>
                </div><!--FIN DE ROW -->
            </div><!--FIN CONTAINER -->
        </div><!--FIN SECCION-->
        <div class="alt-divider"></div>
        <div class="seccion espacio-h3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-1 col-sm-12  pink"></div>
                    <div class="col-lg-8 col-sm-12 conoce orange">
                        <div class="asset">
                            <img src="{{ url_for('static', filename='img/unnamed-3.svg') }}" alt="sector energía">
                        </div>
                        <div class="asset">
                            <article>
                                <h3><strong><br><br>Energy Sector<br><br></strong></h3>
                                <h3>Planta Solar Fotovoltaica<strong> Doña Carmen <br></strong></h3>
                                {% for d in data %}
                                    {% if d.titulo == 'planta solar doña carmen' %}
                                        {{d.contenido | safe}}
                                    {% endif %}
                                {% endfor %}
                                <p>Web Site: <a href="http://www.donacarmen.cl/" target="_blank">www.donacarmen.cl</a></p>
                                <figure>
                                    <img class="ejecutivo w-100" src="{{ url_for('static', filename='img/panel-solar.png') }}" alt="panel-solar">
                                </figure>
                            </article>
                            <div class="asset alt-divider2"></div>
                            <article>
                                <h3><br><br>Central de Respaldo<strong> Quellón II <br></strong></h3>
                                {% for d in data %}
                                    {% if d.titulo == 'central quellon ii' %}
                                        {{d.contenido | safe}}
                                    {% endif %}
                                {% endfor %}
                                <figure>
                                    <img class="ejecutivo w-100" src="{{ url_for('static', filename='img/central.png') }}" alt="central">
                                </figure>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 green"></div>
                </div><!--FIN DE ROW -->
            </div><!--FIN CONTAINER -->
        </div><!--FIN SECCION-->
        <div class="alt-divider"></div>
        <div class="seccion-dos">
            <div class="container">
                <div class="row">
                    <div class="col-lg-1 col-sm-12  pink"></div>
                    <div class="col-lg-8 col-sm-12 conoce orange">
                        <div class="asset">
                            <img src="{{ url_for('static', filename='img/unnamed-2.svg') }}" alt="sector energía">
                        </div>
                        <div class="asset">
                            <article>
                                <h3><strong><br><br>Private Debt<br><br></strong></h3>
                                {% for d in data %}
                                    {% if d.titulo == 'deuda privada' %}
                                        {{d.contenido | safe}}
                                    {% endif %}
                                {% endfor %}
                                <p>Investment Fund Details<a href="/asset-management/deuda-privada">See more</a></p>
                                <figure>
                                    <img class="ejecutivo w-100" src="{{ url_for('static', filename='img/fotovoltaica.png') }}" alt="fotovoltaica">
                                </figure>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 green"></div>
                </div><!--FIN DE ROW -->
            </div><!--FIN CONTAINER -->
        </div><!--FIN SECCION-->
    {% endblock contenido %}
    {% block Jquery %}
        <script src="{{ url_for('static', filename='js/jquery-3.4.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    {% endblock Jquery %}