{% extends "layout-EN.html" %}
    {% block import %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}">
    {% endblock import %}

    {% block menu2 %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/EN-en/asset-management"><img src="{{ url_for('static', filename='img/head1.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/EN-en/asset-management">Asset Management<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/EN-en/wealth-management"><img src="{{ url_for('static', filename='img/head2.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/EN-en/wealth-management">Wealth Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/EN-en/corredores"><img src="{{ url_for('static', filename='img/head3.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/EN-en/corredores">Brokers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/EN-en/activos-alternativos"><img src="{{ url_for('static', filename='img/head4.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/EN-en/activos-alternativos">Alternative Assets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/EN-en/quienes-somos"><img src="{{ url_for('static', filename='img/head5.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/EN-en/quienes-somos">About Us</a>
            </li>
        </ul>
    {% endblock menu2 %}
    {% block header %}
        <!--nav -->
        <div class="header-contacto hader-titulo">
            <div class="container">
                <div class="row">
                <div class="col-lg-4">
                    <div class="menu-rastro">
                        <ul>
                        <li><a href="/EN-en/">Home</a></li>
                        <li>></li>
                        <li><span class="active-pagina">Contact</span></li>
                        </ul>
                    </div>
                    <div class="icono-titulo">
                    <h3>Contact Us</h3>
                    </div>
                </div>
                <div class="col-lg-8"></div>
                </div>
            </div>
        </div>
    {% endblock header %}
    {% block contenido %}
    
    <div class="container">
        <div class="container-login">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                        {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                        <div class="col-lg-7">
                            <div class="p-5">
                                <div class="text-center">
                                </div>
                                <form class="user" method="POST" action="">
                                    {{ form.hidden_tag() }}
                                <div class="form-group ">
                                    {% if form.nombre.errors %}
                                        {{ form.nombre(type="text", class="form-control form-control-user is-invalid") }}
                                        <div class="form-error">
                                            {% for e in form.nombre.errors %}
                                                <span>{{ e }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.nombre(type="text", class="form-control form-control-user", placeholder="Name") }}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% if form.email.errors %}
                                        {{ form.email(type="email", class="form-control form-control-user is-invalid") }}
                                        <div class="form-error">
                                            {% for e in form.email.errors %}
                                                <span>{{ e }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.email(type="email", class="form-control form-control-user", placeholder="Email") }}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% if form.asunto.errors %}
                                        {{ form.asunto(type="text", class="form-control form-control-user is-invalid") }}
                                        <div class="form-error">
                                            {% for e in form.asunto.errors %}
                                                <span>{{ e }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.asunto(type="text", class="form-control form-control-user", placeholder="Subject") }}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    <p>Your Message</p>
                                    {% if form.mensaje.errors %}
                                        {{ form.mensaje(type="textarea", class="form-control is-invalid") }}
                                        <div class="form-error">
                                            {% for e in form.mensaje.errors %}
                                                <span>{{ e }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.mensaje(type="textarea", class="form-control", placeholder="Message") }}
                                        <span class="contador" id="count"></span>
                                    {% endif %}
                                </div>
                                <div>
                                    {{ form.submit(class="btn btn-primary btn-user btn-block", value='Send') }}
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1665.370511096266!2d-70.57263833817609!3d-33.403920111280996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662ced88629a32d%3A0x79bd46bb96955b50!2sMBI%20Inversiones!5e0!3m2!1ses!2scl!4v1579725417729!5m2!1ses!2scl" width="800" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock contenido %}
    {% block Jquery %}

    <script>
        document.getElementById('mensaje').onkeyup = function () {
            document.getElementById('count').innerHTML = "caracteres restantes: " + (1000 - this.value.length);
            };
    </script>

    <script src="{{ url_for('static', filename='js/jquery-3.4.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    {% endblock Jquery %}