{% extends "layout-EN.html" %}
    {% block import %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/accordion.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    {% endblock import %}

    {% block menu2 %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/EN-en/asset-management"><img src="{{ url_for('static', filename='img/head1.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/EN-en/asset-management">Asset Management<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/EN-en/wealth-management"><img src="{{ url_for('static', filename='img/head2.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/EN-en/wealth-management">Wealth Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/EN-en/corredores"><img src="{{ url_for('static', filename='img/head3-color.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/EN-en/corredores"><span class="active-color">Brokers</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/EN-en/activos-alternativos"><img src="{{ url_for('static', filename='img/head4.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/EN-en/activos-alternativos">Alternative Assets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/EN-en/quienes-somos"><img src="{{ url_for('static', filename='img/head5.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/EN-en/quienes-somos">About Us</a>
            </li>
        </ul>
    {% endblock menu2 %}
    {% block header %}
        <!--nav -->
        <div class="container-corredores-de-bolsa">
            <div class="container">
                <div class="menu-rastro">
                    <ul>
                    <li><a href="/EN-en/">Home</a></li>
                    <li>></li>
                    <li><span class="active-pagina">Brokers</span></li>
                    <!--
                    <li>></li>
                    <li><span class="active-pagina">Our Services</span></li>
                    -->
                    </ul>
                </div>
            </div>
        
            <!--slider -->
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="/EN-en/register-corredora"><img class="d-block alturas-corr" src="{{ url_for('static', filename='img/banner-04.jpg') }}" alt="First slide"></a>
                    <!--
                    <div class="carousel-caption cdb-banner">
                        <p class="parrafo-cdb-1">EL MEJOR MOMENTO PARA INVERTIR CON</p>
                        <p class="parrafo-slider">BAJAS COMISIONES ES HOY</p>
                        <p class="parrafo-slider">ARMA TU PORTAFOLIO DE</p>
                        <div class="parrafo-cdb">
                            <P class="parrafo-slider-2">INVERSIONES Y APV</P>
                        </div>
                        
                        <P class="parrafo-cdb-1">CON NUESTRA AMPLITUD DE PRODUCTOS</P>
                        <div class="parrafo-cdb">
                            <a class="cdb-slider-btn" href="/EN-en/contacto">CONTACTA A NUESTRO EQUIPO DE EXPERTOS</a>
                        </div>
                    </div>
                    -->
                </div>
                
                <div class="carousel-item">
                    <a href="/EN-en/register-corredora"><img class="d-block alturas-corr" src="{{ url_for('static', filename='img/banner-03.jpg') }}" alt="Second slide"></a>
                    <!--
                    <div class="carousel-caption cdb-banner">
                        <p class="parrafo-cdb-1">Negocia de manera Simple y Confiable en el</p>
                        <p class="parrafo-slider">EXTRANJERO</p>
                        <p class="parrafo-cdb-1">Acciones, ETFs, Forex, Futuros, Opciones</p>
                        <p class="parrafo-slider">MAS DE 35.000 ACTIVOS A TU ALCANCE</p>
                        <div class="parrafo-cdb">
                            <a class="cdb-slider-btn btn-2" href="/EN-en/register-corredora">CREA UNA CUENTA AHORA</a>
                        </div>
                        <p class="parrafo-cdb-1"><a class="parrafo-cdb-1" data-toggle="modal" data-target="#myModal" href="">Cuenta Demo Gratuita</a></p>
                    -->
                </div>
                
            </div>
            </div>
            <!--slider -->
        </div>
    {% endblock header %}
    {% block contenido %}
        
        <div class="nuestros-dos">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-6 padding-left padding-right">
                        <img src="{{ url_for('static', filename='img/corredor-bolsa-icon.svg') }}"  alt="nuestro-servicios">
                        <article>
                            <h2><strong>Brokers</strong></h2>
                            {% for d in data %}
                                {% if d.titulo == 'intro-cdb' %}
                                    {{d.contenido | safe}}
                                {% endif %}
                            {% endfor %}
                        </article>
                    </div>
                    
                    <div class="col-md-12 col-lg-6">
                        <img class="ejecutivo responsive-img img-corredora" src="{{ url_for('static', filename='img/corredora.jpg') }}" alt="ejecutivo">
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="gris">
            <div class="seccion ">
                <div class="container">
                    <div class="asset-2">
                        <img src="{{ url_for('static', filename='img/nacional.svg') }}" alt="servicio">
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-sm-12 Wealth-dos">
                            <div class="asset">
                                <img src="{{ url_for('static', filename='img/nacional.svg') }}" alt="servicio">
                            </div>
                            <div class="asset padding-right pad-esp">
                                <article> 
                                    <h3><br>National Market<br></h3>
                                    {% for d in data %}
                                        {% if d.titulo == 'mercado nacional' %}
                                            {{d.contenido | safe}}
                                        {% endif %}
                                    {% endfor %}
                                </article>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 green flex">
                            <div class="left-responsive">
                                <a class="btn-ir-servicios" href="/EN-en/register-corredora">Become a Client</a>
                            </div>
                        </div>
                    </div><!--FIN DE ROW -->
                </div><!--FIN CONTAINER -->
            </div><!--FIN SECCION-->

            <div class="seccion">
                <div class="container">
                    <div class="asset-2">
                        <img src="{{ url_for('static', filename='img/global.svg') }}" alt="servicio">
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-sm-12 Wealth-dos ">
                            <div class="asset">
                                <img src="{{ url_for('static', filename='img/global.svg') }}" alt="servicio">
                            </div>
                            <div class="asset padding-right pad-esp">
                                <article> 
                                    <h3><br>International Market<br></h3>
                                    {% for d in data %}
                                        {% if d.titulo == 'mercado internacional' %}
                                            {{d.contenido | safe}}
                                        {% endif %}
                                    {% endfor %}
                                </article>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 green flex">
                            <div class="left-responsive">
                                <a class="btn-ir-servicios-absolute" data-toggle="modal" data-target="#myModal" href="">Demo</a>
                            </div>
                        </div>
                    </div><!--FIN DE ROW -->
                </div><!--FIN CONTAINER -->
            </div><!--FIN SECCION-->
        </div>

        <div class="container botones-pies">
            <div class="row">
                <div class="seccion-btn-pie green">
                    <a class="btn-ir-servicios-pie" href="/EN-en/legales-cdb">Advertisement</a>
                    <a class="btn-ir-servicios-pie" href="/EN-en/legales-cdb">Regulatory and Financial Information</a>
                </div>
            </div>
        </div>

        
    {% endblock contenido %}
    {% block Jquery %}
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Request your Demo account</h4>
            </div>
            <div class="modal-body">
                <!--
                    Begin
                    Conversions Tag
                    Author: RepriseMedia
                -->
                <div id="tag_conversion"></div>
                <div id="descarga_demo"></div>
                <div id="remarketing_formulario_completo"></div>
                <div id="remarketing_descarga_demo"></div>
                <!-- begin code -->
                <script type="text/javascript">
                    function IitLeadSignupEventHandler(eventName) {
                        if (eventName == "success"){
                            $$('a[href=http://mitsweb.iitech.dk/downloads/sim/installations/mbi/es/MBITrader_webdeploy.exe]').addClass("downloaddd");
                       //     _gaq.push(['_trackPageview', '/formulario_completo.html']);
                            $$('.downloaddd').addEvent('click',function() {
                           //     _gaq.push(['_trackPageview', "http://mitsweb.iitech.dk/downloads/sim/installations/mbi/es/MBITrader_webdeploy.exe"]);
                                var ebRand = Math.random()+'';
                                ebRand = ebRand * 1000000;
                                document.getElementById('descarga_demo').innerHTML ='<iframe src="HTTP://bs.serving-sys.com/BurstingPipe/ActivityServer.bs?cn=as&amp;ActivityID=164652&amp;ifrm=1&amp;rnd=' + ebRand + '" width=0 height=0 marginwidth=0 marginheight=0 hspace=0 vspace=0 frameborder=0 scrolling=no bordercolor="#000000"></iframe>';
                                document.getElementById('remarketing_descarga_demo').innerHTML ='<div style="display:inline;"><img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1008511443/?label=Jh3bCNW0sAIQ09Py4AM&amp;guid=ON&amp;script=0"/></div>';
                            });
    
                            /*tracking de media mind*/
                            // Conversion Name: converciones_mbi
                            var ebRand = Math.random()+'';
                            ebRand = ebRand * 1000000;
                            document.getElementById('tag_conversion').innerHTML ='<img width="1" height="1" style="border:0" src="HTTP://bs.serving-sys.com/BurstingPipe/ActivityServer.bs?cn=as&amp;ActivityID=163384&amp;ns=1"/>';
                            /*remarketing*/
                            // Google Code for Formulario Completo Remarketing List
                            document.getElementById('remarketing_formulario_completo').innerHTML ='<div style="display:inline;"><img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1008511443/?label=UgYJCN2zsAIQ09Py4AM&amp;guid=ON&amp;script=0"/></div>';
                        }
                    }
                </script>
                <!--
                    End
                    Conversions Tag
                    Author: RepriseMedia
                -->
                <script type="text/javascript">// <![CDATA[
                    document.write('<scri' + 'pt type="text/javascript" charset="utf-8" src="https://mitsweb.iitech.dk/PPSSWS/SignUpFormJS.aspx?id=6387e2df-d54e-4c07-9e7c-399e11875666&#038;language=es&#038;tm=' + new Date().getTime() + '"></scr' + 'ipt>');
        // ]]&gt;</script>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Cancelar</button>
            </div>
        
        </div>

        </div>
        </div>
        <script>
            $(function() {
                var Accordion = function(el, multiple) {
                    this.el = el || {};
                    this.multiple = multiple || false;

                    // Variables privadas
                    var links = this.el.find('.link');
                    // Evento
                    links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
                }
                Accordion.prototype.dropdown = function(e) {
                    var $el = e.data.el;
                    $this = $(this),
                    $next = $this.next();

                    $next.slideToggle();
                    $this.parent().toggleClass('open');

                    if (!e.data.multiple) {
                        $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
                    };
                }

                var accordion = new Accordion($('#accordion'), false);
            });
        </script>
        <script src="{{ url_for('static', filename='js/jquery-3.4.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    {% endblock Jquery %}