{% extends "layout-EN.html" %}
    {% block import %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    {% endblock import %}
    {% block menu2 %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/EN-en/asset-management"><img src="{{ url_for('static', filename='img/head1.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/EN-en/asset-management">Asset Management<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/EN-en/wealth-management"><img src="{{ url_for('static', filename='img/head2.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/EN-en/wealth-management">Wealth Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/EN-en/corredores"><img src="{{ url_for('static', filename='img/head3.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/EN-en/corredores">Brokers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/EN-en/activos-alternativos"><img src="{{ url_for('static', filename='img/head4.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/EN-en/activos-alternativos">Alternative Assets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/EN-en/quienes-somos"><img src="{{ url_for('static', filename='img/head5.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/EN-en/quienes-somos">About Us</a>
            </li>
        </ul>
    {% endblock menu2 %}
        <!--nav -->
        <!--slider -->
    {% block header %}
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner carousel-home">
            <div class="carousel-item active">
            <img class="d-block alturas img-banner" src="{{ url_for('static', filename='img/SantiagoHDR.jpg') }}" alt="First slide">
            </div>
            <div class="carousel-caption ">
            <p class='sep'>a </p>
            <ul class="lista"><li class="titulo"><span class="numero">Vision, Passion and Commitment</span></li></ul>
            </div>
            <div class="carousel-item">
            <img class="d-block alturas img-banner" src="{{ url_for('static', filename='img/SantiagoHDR.jpg') }}" alt="Second slide">
            </div>
            <div class="carousel-caption ">
            <p class='sep'>a </p>
            <ul class="lista"><li class="titulo"><span class="numero">Vision, Passion and Commitment</span></li></ul>
            </div>
            <div class="carousel-item">
            <img class="d-block alturas img-banner" src="{{ url_for('static', filename='img/SantiagoHDR.jpg') }}" alt="Third slide">
            </div>
            <div class="carousel-caption ">
            <p class='sep'>a </p>
            <ul class="lista"><li class="titulo"><span class="numero">Vision, Passion and Commitment</span></li></ul>
            </div>
        </div>
        <div class="section">
            <div  class="box">
                <div class="container">
                <div class="row">
                    <div class="elemento">
                    <h6>Investment Funds</h6>
                    <a href="/EN-en/asset-management"><img src="{{ url_for('static', filename='img/icono1.svg') }}" alt="icono"></a>
                    </div>
    
                    <div class="elemento">
                        <h6>Wealth management</h6>
                        <a href="/EN-en/wealth-management"><img src="{{ url_for('static', filename='img/icono2.svg') }}" alt="icono"></a>
                    </div>
    
                    <div class="elemento">
                        <h6>Brokers</h6>
                        <a href="/EN-en/corredores"><img src="{{ url_for('static', filename='img/icono3.svg') }}" alt="icono"></a>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        <!--slider -->

    {% endblock header %}
    {% block contenido %}

    <div class="seccion">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-12 col-sm-12  pink"></div>
                <div class="col-lg-6 col-md-8 col-sm-12 conoce-2 orange">
                    <div class="asset">
                        <article>
                            <h3>Get to know our services</h3>
                        </article>
                    </div>
                </div>
            </div><!--FIN DE ROW -->
        </div><!--FIN CONTAINER -->
    </div><!--FIN SECCION-->


        <div class="seccion">
            <div class="container">
                <div class="asset-2">
                    <img src="{{ url_for('static', filename='img/servicio01.jpg') }}" alt="servicio">
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-12 col-sm-12  pink"></div>
                    <div class="col-lg-6 col-md-8 col-sm-12 conoce orange">
                        <div class="asset">
                            <img src="{{ url_for('static', filename='img/servicio01.jpg') }}" alt="servicio">
                        </div>
                        <div class="asset">
                            <article>
                                <h3><strong>Asset Management</strong></h3>
                                {{asset.contenido | safe }}
                            </article>
                            <div class="caja green">
                                    <a class="btn-ir-servicios" href="/EN-en/asset-management">Go to services and funds</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-2 col-sm-12 green"></div> 
                </div><!--FIN DE ROW -->
            </div><!--FIN CONTAINER -->
        </div><!--FIN SECCION-->

        <div class="seccion">
            <div class="container atura-wealth">
                <div class="container">
                    <div class="asset-2">
                        <img src="{{ url_for('static', filename='img/servicio2.svg') }}" alt="servicio">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-12 col-sm-12 pink"></div>
                    <div class="col-lg-6 col-md-8 col-sm-12 Wealth ">
                        <div class="asset">
                            <img src="{{ url_for('static', filename='img/servicio2.svg') }}" alt="servicio">
                        </div>
                        <div class="asset">
                            <article> 
                                <h3><br>Wealth Management<br></h3>
                                {{wealth.contenido | safe }}
                            </article>
                            <div class="caja green">
                                <a class="btn-ir-servicios" href="/EN-en/wealth-management">Go to services and products</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-2 col-sm-12 green"></div>
                </div><!--FIN DE ROW -->
            </div><!--FIN CONTAINER -->
        </div><!--FIN SECCION-->

        <div class="seccion">
            <div class="container atura-wealth">
                <div class="container">
                    <div class="asset-2">
                        <img src="{{ url_for('static', filename='img/servicio6.png') }}" alt="servicio">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-12 col-sm-12 pink"></div>
                    <div class="col-lg-6 col-md-8 col-sm-12 Wealth ">
                        <div class="asset">
                            <img src="{{ url_for('static', filename='img/servicio6.png') }}" alt="servicio">
                        </div>
                        <div class="asset">
                            <article> 
                                <h3><br>Brokers<br></h3>
                                {{cdb.contenido | safe }}
                            </article>
                            <div class="caja green">
                                <a class="btn-ir-servicios" href="/EN-en/corredores">Go to services and products</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-2 col-sm-12 green"></div>
                </div><!--FIN DE ROW -->
            </div><!--FIN CONTAINER -->
        </div><!--FIN SECCION-->

        <div class="seccion bg-corredor">
            <div class="corredor">
                <article>
                    <h3>Become a client of <br>MBI is very easy.</h3>
                </article>
            </div>
            <div class="corredor">
                <a class="btn-hagase-cliente" href="/EN-en/register-corredora">Become a client here</a>
            </div>
        </div>

        

        <div class="seccion seccion-noticias">

        </div><!--FIN SECCION-->
    {% endblock contenido %}

    {% block Jquery %}
        <script src="{{ url_for('static', filename='js/jquery-3.4.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    {% endblock Jquery %}