{% extends "layout-EN.html" %}
    {% block import %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    {% endblock import %}
    {% block menu2 %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/EN-en/asset-management"><img src="{{ url_for('static', filename='img/head1-color.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/EN-en/asset-management"><span class="active-color">Asset Management</span><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/EN-en/wealth-management"><img src="{{ url_for('static', filename='img/head2.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/EN-en/wealth-management">Wealth Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/EN-en/corredores"><img src="{{ url_for('static', filename='img/head3.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/EN-en/corredores">Brokers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/EN-en/activos-alternativos"><img src="{{ url_for('static', filename='img/head4.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/EN-en/activos-alternativos">Alternative Assets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/EN-en/quienes-somos"><img src="{{ url_for('static', filename='img/head5.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/EN-en/quienes-somos">About Us</a>
            </li>
        </ul>
    {% endblock menu2 %}
    {% block header %}
        <!--nav -->
        <div class="header-fondo-inversiones hader-titulo">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="menu-rastro">
                            <ul>
                                <li><a href="/EN-en/">Home</a></li>
                                <li>></li>
                                <li><a href="/EN-en/asset-management">Asset Management</a></li>
                                <li>></li>
                                <li><a href="/asset-management#nuestros-fondos">Our Funds</a></li>
                                <li>></li>
                                <li><span class="active-pagina">{{fondo.nombre_fondo}}</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12"></div>
                </div>
            </div>
        </div>
    {% endblock header %}
    {% block contenido %}
        <div class="servicios-acordion nuestros">
            <div class="container">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-8">
                        <article> 
                            {% if texto %}
                                <h2><strong>{{ texto.subseccion }}</strong></h2>
                                {{ texto.contenido | safe }}
                            {% endif %}
                        </article>
                        <p></p>
                        <div class="responsive-table">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">SERIE</th>
                                    <th scope="col">NEMOTECNICO</th>
                                    <th scope="col">ISIN</th>
                                    <th scope="col">TICKER BLOOMBERG</th>
                                    <th scope="col">PATRIMONIO</th>
                                    <th scope="col">VALOR CUOTA</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if data %}
                                    {% for d in data %}
                                        <tr>
                                            <th scope="row">{{d.Nombre_Serie}}</th>
                                            <td>{{d.Nemo_Serie}}</td>
                                            <td>{{d.Isin}}</td>
                                            <td>{{d.Ticker_Bloomberg}}</td>
                                            <td class="patrimonio">{{d.Patrim_Final}}</td>
                                            <td class="cuota">{{d.Valor_Cuota}}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                        <p>*Valores cuota al cierre del {{fecha}}. Valores cuota sujetos a confirmación.</p>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-8 col-sm-10 orange-dos">
                    <div class="row">
                        <div class="form-group col-md-4">
                        <p>Factsheet: </p>
                        </div>
                        <div class="form-group col-md-8">
                            <p>{{ form.factsheet(onChange="window.open(this.value)", class="form-control") }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                        <p>Estados Financieros: </p>
                        </div>
                        <div class="form-group col-md-8">
                            <p>{{ form.eeff(onChange="window.open(this.value)", class="form-control") }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                        <p>Folleto Informativo: </p>
                        </div>
                        <div class="form-group col-md-8">
                            <p>{{ form.folleto(onChange="window.open(this.value)", class="form-control") }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                        <p>Informacion al Aportante: </p>
                        </div>
                        <div class="form-group col-md-8">
                            <p>{{ form.informacion(onChange="window.open(this.value)", class="form-control") }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                        <p>Reglamento Interno: </p>
                        </div>
                        <div class="form-group col-md-8">
                            <p><a href="{{reglamento.link}}" target="_blank">reglamento</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    {% endblock contenido %}
    {% block Jquery %}
        
        <script src="{{ url_for('static', filename='js/jquery-3.4.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.roadmap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <script>
            $(document).ready( function() {
                $("td.patrimonio").each(function() { 
                    $(this).html(parseFloat($(this).text()).toLocaleString('es-CL', {style: 'currency', currency: 'CLP', minimumFractionDigits: 2}));
                     })
                $("td.cuota").each(function() { 
                    $(this).html(parseFloat($(this).text()).toLocaleString('es-CL', {style: 'currency', currency: 'CLP', minimumFractionDigits: 4}));
                     })
            })
        </script>
    {% endblock Jquery %}