{% extends "layout-EN.html" %}
    {% block import %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    {% endblock import %}

    {% block menu2 %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/EN-en/asset-management"><img src="{{ url_for('static', filename='img/head1.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/EN-en/asset-management">Asset Management<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/EN-en/wealth-management"><img src="{{ url_for('static', filename='img/head2.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/EN-en/wealth-management">Wealth Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/EN-en/corredores"><img src="{{ url_for('static', filename='img/head3.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/EN-en/corredores">Brokers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/EN-en/activos-alternativos"><img src="{{ url_for('static', filename='img/head4.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/EN-en/activos-alternativos">Alternative Assets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/EN-en/quienes-somos"><img src="{{ url_for('static', filename='img/head5.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/EN-en/quienes-somos">About Us</a>
            </li>
        </ul>
    {% endblock menu2 %}
    {% block header %}
        <!--nav -->
        <div class="header-legales hader-titulo">
            <div class="container">
                <div class="row">
                <div class="col-lg-4">
                    <div class="menu-rastro">
                        <ul>
                        <li><a href="/EN-en/">Home</a></li>
                        <li>></li>
                        <li>Legals</li>
                        <li>></li>
                        <li><span class="active-pagina">MBI Administradora General de Fondos S.A.</span></li>
                        </ul>
                    </div>
                    <div class="icono-titulo">
                    <img src="{{ url_for('static', filename='img/quiens-somos-icon.svg') }}" alt="quienes-somos">
                    <h3>Legals</h3>
                    </div>
                </div>
                <div class="col-lg-8"></div>
                </div>
            </div>
        </div>
    {% endblock header %}
    {% block contenido %}
        <div class="seccion historia nuestros-dos">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 orange-dos padding-right">
                        <img src="{{ url_for('static', filename='img/nosotros-dos.svg') }}" alt="Nosotros">
                        <article> 
                            <h3><strong>MBI Administradora General de Fondos S.A.</strong></h3>
                                {{data.contenido | safe}}
                        </article>
                    </div><!--FIN DE col -->
                    <div class="col-lg-4 green">
                    </div>
                </div><!--FIN row -->
            </div><!--FIN container-->
        </div><!--FIN section-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 orange-dos padding-right">
                    <div class="row">
                        <div class="form-group col-md-2">
                        <p>Reports: </p>
                        </div>
                        <div class="form-group col">
                            <p>{{ form.memorias(onChange="window.open(this.value)",class="form-control") }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-2">
                        <p>Financial Statements: </p>
                        </div>
                        <div class="form-group col">
                            <p>{{ form.eeff(onChange="window.open(this.value)",class="form-control") }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-2">
                        <p>Manuals: </p>
                        </div>
                        <div class="form-group col">
                            <p>{{ form.manuales(onChange="window.open(this.value)",class="form-control") }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-2">
                        <p>Others: </p>
                        </div>
                        <div class="form-group col">
                            <p>{{ form.otros(onChange="window.open(this.value)",class="form-control") }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock contenido %}
    {% block Jquery %}
        <script src="{{ url_for('static', filename='js/jquery-3.4.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.roadmap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    {% endblock Jquery %}