{% extends "layout-EN.html" %}
    {% block import %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    {% endblock import %}
    {% block menu2 %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/EN-en/asset-management"><img src="{{ url_for('static', filename='img/head1.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/EN-en/asset-management">Asset Management<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/EN-en/wealth-management"><img src="{{ url_for('static', filename='img/head2-color.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/EN-en/wealth-management"><span class="active-color">Wealth Management</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/EN-en/corredores"><img src="{{ url_for('static', filename='img/head3.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/EN-en/corredores">Brokers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/EN-en/activos-alternativos"><img src="{{ url_for('static', filename='img/head4.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/EN-en/activos-alternativos">Alternative Assets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/EN-en/quienes-somos"><img src="{{ url_for('static', filename='img/head5.svg') }}" alt="icono"></a>
                <a class="nav-link" href="/EN-en/quienes-somos">About Us</a>
            </li>
        </ul>
    {% endblock menu2 %}
    {% block header %}
        <!--nav -->
        <div class="header-asset-EN hader-titulo">
            <div class="container">
            <div class="row">
                <div class="col-lg-4">
                <div class="menu-rastro">
                    <ul>
                        <li><a href="/EN-en/">Home</a></li>
                        <li>></li>
                        <li><span class="active-pagina">Wealth Management</span></li>
                        <!--
                        <li>></li>
                        <li><span class="active-pagina">Our products</span></li>
                        -->
                    </ul>
                </div>
                <div class="icono-titulo">
                    <img src="{{ url_for('static', filename='img/asset.svg') }}" alt="icono">
                        <h2>Wealth Management</h2>
                        <h3>Our products</h3>
                </div>
                </div>
                <div class="col-lg-8"></div>
            </div>
            </div> 
        </div>
    {% endblock header %}
    {% block contenido %}

        <div class="nuestros">
            <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-1"></div>
                <div class="col-md-12 col-lg-8 padding-right">
                    <img src="{{ url_for('static', filename='img/productos.svg') }}" alt="nuestro-servicios">
                    <article> 
                        <h2>Our <strong>Products</strong></h2>
                        {{ np.contenido | safe }}
                    </article>
                </div>
                <div class="col-md-12 col-lg-3">
                </div>
            </div>
            </div>
        </div>
    {% endblock contenido %}
    {% block Jquery %}
        <script src="{{ url_for('static', filename='js/jquery-3.4.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.roadmap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    {% endblock Jquery %}